<div class="row p-3">
  <div class="col-12 ">
      <div class="contactheading">
          <h2 class="font-bold text-2xl">Customers Risk</h2>
          <ul class="risk">
            <li class="mr-3"><span class="box green"></span>Low Risk</li>
            <li class="mr-3"><span class="box yellow"></span>Medium Risk</li>
            <li><span class="box red"></span>High Risk</li>
          </ul>
      </div>

      <div class="page-content mt-3">
        <div class="showList mt-5">
          <table class="table risk-table">
            <thead>
                <tr class="name">
                  <th scope="row" rowspan="4" >Company Name</th>
                </tr>
                <tr class="risk">
                  <th colspan="11" scope="colgroup">Risk</th>
                </tr>
                <tr class="riskTypes">
                  <th colspan="2" scope="colgroup">Cyber Security</th>
                  <th colspan="2" scope="colgroup">Financial</th>
                  <th colspan="2" scope="colgroup">Operation</th>
                  <th colspan="2" scope="colgroup">Enterprise</th>
                  <th colspan="2" scope="colgroup">Country</th>
                </tr>
                <tr class="types">
                  <th scope="col">Actual</th>
                  <th scope="col">Capactiy</th>
                  <th scope="col">Actual</th>
                  <th scope="col">Capactiy</th>
                  <th scope="col">Actual</th>
                  <th scope="col">Capactiy</th>
                  <th scope="col">Actual</th>
                  <th scope="col">Capactiy</th>
                  <th scope="col">Actual</th>
                  <th scope="col">Capactiy</th>
                </tr>
            </thead>
            <tbody>
               <tr *ngFor="let company of companyNames" class="name">
                 <td [routerLink]="['/customer/sealinkdetails']">{{company.name}}</td>
                 <td class="text-center data">
                   <span class="actual">8</span>
                  </td>
                 <td class="text-center" >
                   <span class="capacity">9</span>
                  </td>
                  <td class="text-center">
                    <span class="actual1">9</span>
                   </td>
                  <td class="text-center" >
                  <span class="capacity">9</span>
                 </td>
                 <td class="text-center ">
                  <span class="actual2">7</span>
                 </td>
                 <td class="text-center" >
                  <span class="capacity">9</span>
                 </td>
                 <td class="text-center ">
                  <span class="actual3">4</span>
                 </td>
                 <td class="text-center" >
                  <span class="capacity">9</span>
                 </td>
                 <td class="text-center ">
                  <span class="actual4">10</span>
                 </td>
                 <td class="text-center" >
                  <span class="capacity">9</span>
                 </td>
               </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
  <div class="inv-footer mt-5 mb-5" >
    <button class="btn cancel-btn" [routerLink]="['/customer/dashboard']" >CANCEL</button>
</div>
</div>
