<p-toast position="top-right"></p-toast>
<div class="content-section stress">
    <div class=" p-grid mb-2 pt-2">
        <!-- <div class="p-col-8">
            <h3 class="m-0 mt-2">{{title}} – Position as on {{quarter}}, {{year}} (Standard accounts)</h3>
        </div> -->
        <div class="p-col-12 text-right">
            <button pButton type="button" icon="pi pi-download" iconPos="left" class="mr-2 " label="Download Template" (click)="download()"></button>
            <button pButton type="button" icon="pi pi-upload" iconPos="left" class="p-button-danger ml-2" label="Upload" (click)="upload()"></button>
        </div>
    </div>
    <div>
        <form #accountForm="ngForm">
            <p-table [value]="data" dataKey="serialNumber" editMode="row">
                <ng-template pTemplate="header">
                    <tr>
                        <th colspan="8">
                            <span style="display: inline-block;
                        text-align: center;
                        width: 80%;">{{title}} – Position as on {{quarter}}, {{year}} ({{subText}})</span>
                            <span class="float-right">Amount in Crores</span>

                        </th>
                    </tr>
                    <tr>
                        <ng-container>
                            <th>S. No.</th>
                            <th *ngFor="let hr of tableNames">{{hr.name}}
                                <br>{{hr.subText}}</th>
                            <!-- <th style="width:8rem">Actions</th> -->
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-account let-editing="editing" let-ri="rowIndex">
                    <tr [pEditableRow]="account" *ngIf="ri<20" [ngClass]="{'disabled':account.status=='SUBMITTED'}">
                        <td>
                            {{account.serialNumber}}
                        </td>
                        <ng-container *ngIf="account.status=='SUBMITTED'">
                            <td *ngFor="let names of tableNames">
                                {{account[names.title]}}
                            </td>
                        </ng-container>
                        <ng-container *ngIf="account.status!='SUBMITTED'">
                            <td pEditableColumn *ngFor="let names of tableNames">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <input pInputText required type="text" name="account" [(ngModel)]="account[names.title]" (change)="changed=true">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{account[names.title]}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                        </ng-container>
                        <!-- <td style="text-align:center">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(account)" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(account)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(account, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    </td> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer" *ngIf="isPaginationRequired && type != 6 && data.length > 0">
                    <tr>
                        <td colspan="30" style="border: none !important;
                        position: relative !important;
                        text-align: center !important;
                        background: #ffffff !important;">
                            <nav>
                                <ul class="pagination pagination-circle pg-blue d-flex flex-center" ng-reflect-klass="pagination pagination-circle p">
                                    <!-- <li class="ng-star-inserted">
                                    Page {{activePage}} of {{pager.totalPages}}
                                </li> -->
                                    <li (click)="setPage(1)" class="page-item" [ngClass]="{disabled:activePage === 1}">
                                        <a aria-label="Previous" class="page-link">
                                            <span aria-hidden="true">«</span>
                                        </a>
                                    </li>

                                    <li class="page-item" (click)="setPage(activePage -1)" [ngClass]="{disabled:activePage === 1}">
                                        <a aria-label="Previous" class="page-link">
                                            <span aria-hidden="true">‹</span>
                                        </a>
                                    </li>
                                    <ng-container *ngFor="let page of pages;let i=index;">
                                        <li class="page-item" [ngClass]="activePage==i+1?'active':''" *ngIf="i<activePage+3&&i>activePage-3">
                                            <a class="page-link" (click)="setPage(i+1)">{{i+1}}</a>
                                        </li>
                                    </ng-container>
                                    <li class="page-item" (click)="setPage(activePage + 1)" [ngClass]="{disabled:activePage === totalPages}">
                                        <a aria-label="Previous" class="page-link">
                                            <span aria-hidden="true">›</span>
                                        </a>
                                    </li>


                                    <li class="page-item" (click)="setPage(totalPages)" [ngClass]="{disabled:activePage === totalPages}">
                                        <a aria-label="Next" class="page-link">
                                            <span aria-hidden="true">»</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </form>
        <div class="text-center mt-2 mb-2 pt-2" *ngIf="data?.length>0">
            <button pButton icon="pi pi-check" (click)="save('SAVE')" [disabled]="submitted || !accountForm.form.valid" label="Save" class="p-button-primary mr-2"></button>
            <button pButton type="button" (click)="save('SUBMIT')" [disabled]="submitted || !accountForm.form.valid" icon="pi pi-upload" label="Submit" class=" ml-2 p-button-success"></button>
        </div>
    </div>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>


<input type="file" #fileInput style="width: 100%;visibility: hidden; height: 0px;" accept=".xlsx,.xls" (change)="uploadFile()" multiple="false" />