.pagination {
    list-style: none;
}
.pagination .page-item {
    height: 28px;
    width: 28px;
    border-radius: 4px;
    margin-right: 8px;
    display: inline-block;
    cursor: pointer;
}

.pagination .page-item .page-link {
    height: 28px;
    width: 28px;
    border-radius: 4px;
    line-height: 0.8;
    border-color: #d6d6d6;
    color: #333333 !important;
}

.pagination .page-item.active {
    background: #e3f2fd;
    border-color: #e3f2fd;
    color: #495057;
    text-align: center;
}

.pagination .page-item.active .page-link {
    color: #333333 !important;
    background-color: #e3f2fd !important;
    border-color: #333333 !important;
    font-weight: 600;
    text-align: center;
}

.pagination .page-item.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}
