.search-form{list-style:none; margin:0; padding:0; display:inline-flex;align-items:center;
    li{display:block; float:left; padding:0 5px;}
    &::after{content:""; display:block; clear:both;}
}

// .search-form{
// text-align: left;
// }

.inputInv{
    display:flex; flex-direction: row; align-items: center;
}

.analyticForm{
    label{
        width: 50%;
        text-align: left;
        font-size: 13px;
        font-weight: 500;
    }
    margin-top: 1%;
}

.p-inputtext {
    width: 100%;
}

.accountList {
    margin-top: 10px;
    margin-bottom: 10px;
}

.selectbox{
 
        max-width: 400px;
        overflow-x: scroll;
        overflow-y: scroll;
        border-color: #539dd9;
}
.selectbox:focus {
    min-width: 1000px;
}