<h3 style="text-align: center;">Operations Credit Review</h3>
<div class="content-section">
    <p-toast position="top-right">
    </p-toast>
    <div class="mt-2 mb-2 pt-2 text-center" >
        <form [formGroup]="accountForm" style="text-align:center;">
            <ul class="search-form">
                <li>
                    <input pInputText  class="form-control" placeholder="Enter Customer ID"  formControlName="ipCode" type="text">
                </li>    
                <li>
                    <input pInputText  class="form-control" placeholder="Enter PAN No."  formControlName="panNo" type="text">
                </li> 
                <li>
                    <input pInputText class="form-control" placeholder="Enter Account Number" formControlName="accountNbr" type="text">
                </li>
                
                <li>
                    <p-button label="Search" icon="pi pi-search" iconPos="left"
                        styleClass="p-button p-button-pnb btn-block" (click)="show()"></p-button>
                </li>
            </ul>
            
        </form>
            
        <div class="analyticForm mt-4" *ngIf="isMaker || isCoRes || isZoRes || isHoRes">
            <form [formGroup]="creditDetailForm">
                <h3 *ngIf="isAccountList">Account Details</h3>
                <div   class="accountList" *ngIf="isAccountList">
                    <div class="p-fluid p-formgrid p-grid pt-2">
                        <div class="p-field p-col-12 p-md-6" >
                            <div class="inputInv">
                                <label for="Student" class="font-medium" >ACCOUNT NUMBER</label>
                                <input pInputText formControlName="accountNbr" type="text">
                            </div>
                        </div> 

                        <div class="p-field p-col-12 p-md-6" >
                            <div class="inputInv">
                                <label for="Student" class="font-medium" >ACCOUNT SCHEME</label>
                                <input pInputText  class="form-control"  formControlName="accountScheme" type="text">
                            </div> 
                        </div>
                        <div class="p-field p-col-12 p-md-6" >
                            <div class="inputInv">
                                <label for="Student" class="font-medium" >ACCOUNT NAME</label>
                                <input pInputText  class="form-control" formControlName="accountName" type="text">
                            </div> 
                        </div>
                      </div>  
                    <!-- <ul class="search-form">
                        <li>
                            <div class="inputInv">
                                <label for="Student" class="font-medium" >Account Scheme</label>
                                <input pInputText  class="form-control" placeholder="Account Scheme" formControlName="accountScheme" type="text">
                            </div> 
                        </li>
                        <li>
                             <div class="inputInv">
                                <label for="Student" class="font-medium" >Account Name</label>
                                <input pInputText  class="form-control" placeholder="Account Name" formControlName="accountName" type="text">
                            </div> 
                        </li>   
                    </ul> -->
                </div>  
                <p-accordion [multiple]="true">
                    <p-accordionTab header="Credit Details - Our Bank" [selected]="true">
                        <div class="p-fluid p-formgrid p-grid pt-2">
              
                            <div class="p-field p-col-12 p-md-6" >
                                <div class="inputInv">
                                    <label for="Student" class="font-medium" >CC/OD FACILITY</label>
                                    <input pInputText  formControlName="ourBankCcodFacility" type="text">
                                </div>
                            </div>
                            <div class="p-field p-col-12 p-md-6" >
                                <div class="inputInv">
                                    <label for="Student" class="font-medium" > TOTAL NO. OF LOANS</label>
                                    <input pInputText  formControlName="ourBankTotNoLoan" type="text">
                                </div>
                            </div> 
                            <div class="p-field p-col-12 p-md-6" >
                                <div class="inputInv">
                                    <label for="Student" class="font-medium" >TOTAL NO. OF CC/OD LOANS</label>
                                    <input pInputText formControlName="ourBankCcodNoLoan"  type="text">
                                </div>
                            </div> 
                            <div class="p-field p-col-12 p-md-6" >
                                <div class="inputInv">
                                    <label for="Student" class="font-medium" >TOTAL EXPOSURE AMOUNT</label>
                                    <input pInputText  formControlName="ourBankSancAmt" type="text">
                                </div>
                            </div>
                        </div>
                    </p-accordionTab>
                    <p-accordionTab header="Credit Details - Other Bank" [selected]="true">
                      <div class="p-fluid p-formgrid p-grid pt-2">
                        <div class="p-field p-col-12 p-md-6" >
                            <div class="inputInv">
                                <label for="Student" class="font-medium" >CC/OD FACILITY</label>
                                <input pInputText formControlName="othBankCcodFacility" type="text">
                            </div>
                        </div>
                        <div class="p-field p-col-12 p-md-6" >
                            <div class="inputInv">
                                <label for="Student" class="font-medium" >TOTAL NO. OF LOANS</label>
                                <input pInputText  formControlName="othBankTotNoLoan" type="text">
                            </div>
                        </div> 
                        <div class="p-field p-col-12 p-md-6" >
                            <div class="inputInv">
                                <label for="Student" class="font-medium" >TOTAL NO. OF CC/OD LOANS</label>
                                <input pInputText formControlName="othBankCcodNoLoan" type="text">
                            </div>
                        </div> 
                        <div class="p-field p-col-12 p-md-6" >
                            <div class="inputInv">
                                <label for="Student" class="font-medium" >TOTAL EXPOSURE AMOUNT</label>
                                <input pInputText formControlName="othBankSancAmt"  type="text">
                            </div>
                        </div>
                       </div> 
                    </p-accordionTab>
                    <p-accordionTab header="Credit Details - Total Banking Industry" [selected]="true">
                        <div class="p-fluid p-formgrid p-grid pt-2">    
                            <div class="p-field p-col-12 p-md-6" >
                                <div class="inputInv">
                                    <label for="Student" class="font-medium" >TOTAL NO. OF CC/OD LOANS</label>
                                    <input pInputText formControlName="totCcodNoLoan" type="text">
                                </div>
                            </div> 
                            <div class="p-field p-col-12 p-md-6" >
                                <div class="inputInv">
                                    <label for="Student" class="font-medium" >TOTAL EXPOSURE AMOUNT</label>
                                    <input pInputText  formControlName="totSancAmt" type="text">
                                </div>
                            </div>
                            <div class="p-field p-col-12 p-md-6" >
                                <div class="inputInv">
                                    <label for="Student" class="font-medium" >TOTAL EXPOSURE FLAG</label>
                                    <input pInputText formControlName="totalExpFlg"  type="text">
                                </div>
                            </div>
                            <div class="p-field p-col-12 p-md-6" >
                                <div class="inputInv">
                                    <label for="Student" class="font-medium" >EXPOSURE AMOUNT-PNB>=10% of TOTAL EXPOSURE AMOUNT</label>
                                    <input pInputText formControlName="totSancAbv10Per"  type="text">
                                </div>
                            </div>
                           </div> 
                    </p-accordionTab>
                </p-accordion>
             
            </form>  
          </div>
          <div style="margin-top:10px">
            <div *ngIf="isRadio && isMaker && submitted==false">
            <input type="radio" value="noticeIssued" [(ngModel)]="radioButtonValue" (change)="radioChange()">
            <label for="noticeIssued" class="mx-2">Notice Issued</label>
            <input type="radio" value="exempted" [(ngModel)]="radioButtonValue"   (change)="radioChange()">
            <label for="exempted" class="mx-2">Exempted</label>
            </div>
            <br>
            <h3 *ngIf="(isMaker || isCoRes || isZoRes || isHoRes)">{{actionHeading}}</h3>
           
            <ul class="search-form" *ngIf="isMaker || isCoRes || isZoRes || isHoRes">
                <!-- <li>
                    <p-dropdown  [options]="actionDropdown"  [(ngModel)]="actions"
                         placeholder="Action" (onChange)="actionChange()"></p-dropdown>
                </li> -->
                <li *ngIf="isUndertaking">
                    <button  pButton type="button" *ngIf="!isUnderTakingDownload" icon="pi pi-upload" iconPos="left" class="p-button-danger ml-2" (click)="upload()"
                    label="Upload" [disabled]="isCO || isZO || isHO || isUploaded"></button>
                    
                    <button *ngIf="isUnderTakingDownload" pButton type="button" icon="pi pi-download" iconPos="left" class="p-button-danger ml-2" (click)="download()"
                    label="Download"></button>
                </li>
            
                <li *ngIf="isNoticeIssued  && radioButtonValue=='noticeIssued'">
                    <p-calendar    [maxDate]="date" [disabled]="isCO || isZO || isHO || isNoticeDownload" [showIcon]="true" [(ngModel)]="dateOfNotice" placeholder="Date of Notice" class="hide-timer"  
                    required dateFormat="dd-mm-yy"  ></p-calendar>
                </li> 
                <li *ngIf="isNoticeIssued  && radioButtonValue=='noticeIssued'">
                    <button  pButton type="button" *ngIf="!isNoticeDownload" icon="pi pi-upload" iconPos="left" class="p-button-danger ml-2" (click)="upload()"
                    label="Upload" [disabled]="isCO || isZO || isHO"></button>
                   
                    <button *ngIf="isNoticeDownload" pButton type="button" icon="pi pi-download" iconPos="left" class="p-button-danger ml-2" (click)="download()"
                    label="Download"></button>
                </li>
                <li *ngIf="isExempted  && radioButtonValue=='exempted'">
                    <!-- <p-dropdown 
                        [options]="exemptedReasonDropdown" [(ngModel)]="exemptedReason" [filter]="true" filterBy="value" [showClear]="true" placeholder="Select Exempted Reason" ></p-dropdown> -->
                     
                    
                        <select [(ngModel)]='exemptedReason' class="selectbox"  *ngIf="isMaker"  onfocus='this.size=10' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                            <option  default="select Exempted Reason" disabled >select Exempted Reason</option>
                            <option *ngFor="let opt of exemptedReasonDropdown" [value]="opt.value">{{opt.value}}</option>
                        </select> 

                        <textarea *ngIf="isCO || isZO || isHO"  [(ngModel)]='exemptedReason' class="comments" disabled 
                         ></textarea>
                </li>
              </ul>
              <br>
              <ul class="search-form" *ngIf="isMaker">
                <li *ngIf="isExempted">
                    <textarea [disabled]="submitted==true" class="comments" [(ngModel)]="exemptedRemarks"
                    placeholder="Remarks Here..."></textarea>
                </li>
               
              </ul>
          </div>
       
          <div *ngIf="isCoRes || isZoRes || isHoRes">
            <textarea [disabled]="submitted==true" class="comments" [(ngModel)]="comment"
                placeholder="Comment Here..."></textarea>
          </div>
          <!-- [disabled]="submitted==true" -->
        <div *ngIf="isMaker" class="footer-section text-center mt-2 mb-2 pt-2">
            <button pButton icon="pi"  label="Submit" [disabled]="submitted==true" type="submit" (click)="submit()" style="border: none;background: #a20a3a;color: white;" class="p-button-primary mr-2"></button>
        </div>
        <div *ngIf="isCoRes || isZoRes || isHoRes" class="text-center mt-2 mb-2 pt-2">
            <button [disabled]="submitted==true" pButton icon="pi-pi-times" (click)="confirm('DISCARDED')" label="Discard"
                class="p-button-primary mr-2"></button>
            <button [disabled]="submitted==true" pButton type="button" (click)="confirm('APPROVED')" label="Approve"
                class=" ml-2 p-button-success"></button>
        </div>
    </div>
  
</div>
<!-- <label *ngIf="isUnderTakingDownload || isNoticeDownload" >File size shold be max 10MB</label> -->
<input type="file" #fileInput style="width: 100%;visibility: hidden; height: 0px;" accept="application/pdf"
(change)="uploadFile()" multiple="false" />
<p-toast position="top-right"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
