
<div class="p-grid"></div>
<div class="p-col">
    <h3 style="text-align: center;padding-top: 12px;"  class="m-0 pt-1" >{{heading}}</h3>
</div>
            <div class="card">
                <p-tabView>
                    <div class="mb-2 pt-2 text-center">
                        <form [formGroup]="countryForm" style="text-align:center;display: inline-flex;column-gap: 30px;">
                         
                                    <!-- <p-dropdown formControlName="countryName" 
                                    [options]="countryDropDown"   placeholder="Select Country*"></p-dropdown> -->
                                    <p-dropdown formControlName="countryName" [options]="branchName"
                                    placeholder="Select Branch*" (onChange)="getRecords($event)"></p-dropdown>
                                    <p-dropdown formControlName="financialYear" [options]="dropdownYears" placeholder="Select financial year*" (onChange)="getRecords($event)"></p-dropdown>
                                    <p-dropdown formControlName="quarterEndingDate"  [options]="quarterEndingDate" placeholder="Select a Quarter*" (onChange)="getRecords($event)"></p-dropdown>
                                    <p-dropdown formControlName="screenName"  [options]="screenName" [(ngModel)]="selectedScreen" placeholder="Select Screen" (onChange)="getRecords($event)"></p-dropdown>
                               
                        </form>
                    </div>
                    <div class="SectionScroller mt-3" style="margin-top: 30px;" *ngIf="isAssets">   
                    <p-table [columns]="assetsTable" [value]="assetsData" responsiveLayout="scroll" dataKey="name" editMode="row" class="tableFixed" styleClass="p-datatable-gridlines top-20">
                       
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" >
                                    {{col.name}}
                                </th>
                                <!-- <th>Action</th> -->
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-account let-ri="rowIndex">
                           
                            <tr [pEditableRow]="account">
                                <ng-container>
                                    <td pEditableColumn *ngFor="let col of assetsTable" style="height: 46px;min-width: 230px;"
                                    [ngClass]="{'disabled':(!col.editable  || isSubmitted)}"  [ngStyle]="{'background-color': !col.editable   || isSubmitted ? '#dee2e6' :'#fff'}">
                                        <ng-container *ngIf="!col.editable  || isSubmitted">
                                            {{col.title=="createdDate"?(account[col.title] | date :
                                            'dd-MM-yyyy'):account[col.title]}}
                                        </ng-container>
                                        <ng-container>
                                            {{col.edit}}
                                        </ng-container>
                                        <p-cellEditor *ngIf="(col.editable) && !isSubmitted">
                                            <ng-template pTemplate="input">
                                                
                                                <input pInputText [required]="col.required" [name]="col.title"
                                                    [type]="col.inpType" [(ngModel)]="account[col.title]" 
                                                    [min]="1" style="width:100%"  (keypress)="numberOnlyWithDismal($event)"  (change)="totaladdition()">

                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{col.title=="createdDate"?(account[col.title] | date :
                                                'dd-MM-yyyy'):account[col.title]}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <!-- <td >
                                        <i class="pi pi-trash text-danger" (click)="delete(ri,'PartB')"></i>
                                    </td> -->
                            </ng-container>
                         </tr> 
    
                    </ng-template>
                    </p-table>
                    </div>
                    <div class="SectionScroller mt-3" style="margin-top: 30px;" *ngIf="isLiability">   
                        <p-table [columns]="liabilityTable" [value]="liabilityData" responsiveLayout="scroll" dataKey="name" editMode="row" class="tableFixed" styleClass="p-datatable-gridlines top-20">
                           
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" [ngStyle]="{'width':col.width}">
                                        {{col.name}}
                                    </th>
                                    <!-- <th>Action</th> -->
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-account let-ri="rowIndex">
                               
                                <tr [pEditableRow]="account">
                                    <ng-container>
                                       
                                        <td pEditableColumn *ngFor="let col of liabilityTable" style="height: 46px;min-width: 230px;"
                                        [ngClass]="{'disabled':(!col.editable || isSubmitted)}"  [ngStyle]="{'background-color': !col.editable || isSubmitted ? '#dee2e6' :'#fff'}">
                                            <ng-container *ngIf="!col.editable || isSubmitted">
                                                {{col.title=="createdDate"?(account[col.title] | date :
                                                'dd-MM-yyyy'):account[col.title]}}
                                            </ng-container>
                                            <ng-container>
                                                {{col.edit}}
                                            </ng-container>
                                            <p-cellEditor *ngIf="(col.editable) && !isSubmitted"  >
                                                <ng-template pTemplate="input">
                                                    
                                                    <input pInputText [required]="col.required" [name]="col.title"
                                                        [type]="col.inpType" [(ngModel)]="account[col.title]" 
                                                        [min]="1" style="width:100%"  (keypress)="numberOnlyWithDismal($event)" (change)="totaladdition()" >
    
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{col.title=="createdDate"?(account[col.title] | date :
                                                    'dd-MM-yyyy'):account[col.title]}}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <!-- <td >
                                            <i class="pi pi-trash text-danger" (click)="delete(ri,'PartB')"></i>
                                        </td> -->
        
                                </ng-container>
                             </tr> 
        
                        </ng-template>
                        </p-table>
                    </div>
                    <div class="SectionScroller mt-3" style="margin-top: 30px;" *ngIf="isannexure1">   
                        <p-table  [value]="annexure1Data" responsiveLayout="scroll" dataKey="name" editMode="row" class="tableFixed" styleClass="p-datatable-gridlines top-20">
                           
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of annexure1Table" [ngStyle]="{'width':col.width}" colspan="2">
                                        {{col.name}}
                                    </th>
                                    <!-- <th>Action</th> -->
                                </tr>
                                <tr>
                                    <th *ngFor="let col of annexure1SubTable" [ngStyle]="{'width':col.width}" colspan="2">
                                        {{col.name}}
                                    </th>
                                    <!-- <th>Action</th> -->
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-account let-ri="rowIndex">
                               
                                <tr [pEditableRow]="account">
                                    <ng-container>
                                       
                                        <td pEditableColumn *ngFor="let col of annexure1MainTable" style="height: 46px;min-width: 300px;"
                                        [ngClass]="{'disabled':(!col.editable || isSubmitted )}"  [ngStyle]="{'background-color': !col.editable || isSubmitted ? '#dee2e6' :'#fff'}">
                                            <ng-container *ngIf="!col.editable || isSubmitted">
                                                {{col.title=="createdDate"?(account[col.title] | date :
                                                'dd-MM-yyyy'):account[col.title]}}
                                            </ng-container>
                                            <ng-container>
                                                {{col.edit}}
                                            </ng-container>
                                            <p-cellEditor *ngIf="(col.editable) &&  !isSubmitted"  >
                                                <ng-template pTemplate="input">
                                                    
                                                    <input pInputText [required]="col.required" [name]="col.title"
                                                        [type]="col.inpType" [(ngModel)]="account[col.title]" 
                                                        [min]="1" style="width:100%"  (keypress)="numberOnlyWithDismal($event)"  >
    
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{col.title=="createdDate"?(account[col.title] | date :
                                                    'dd-MM-yyyy'):account[col.title]}}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <!-- <td >
                                            <i class="pi pi-trash text-danger" (click)="delete(ri,'PartB')"></i>
                                        </td> -->
        
                                </ng-container>
                             </tr> 
        
                        </ng-template>
                        </p-table>
                    </div>
                    <div class="SectionScroller mt-3" style="margin-top: 30px;" *ngIf="isannexure2">   
                        <p-table [columns]="annexure2Table1" [value]="annexure2Data" dataKey="name" editMode="row" class="tableFixed" styleClass="p-datatable-gridlines top-20">
                           
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" [ngStyle]="{'width':col.width}">
                                        {{col.name}}
                                    </th>   
                                    <!-- <th>Action</th> -->
                                </tr>
                                <tr>
                                    <th colspan="5">Accounts with other branches @ 				
                                    </th>
                                </tr>  
                                <tr>
                                    <th colspan="5">Pending reconcillation for				
                                    </th>
                                </tr>  
                            </ng-template>
                            <ng-template pTemplate="body" let-account let-ri="rowIndex">
                               
                                <tr [pEditableRow]="account">
                                    <ng-container>
                                       
                                        <td pEditableColumn *ngFor="let col of annexure2Table1" style="height: 46px;min-width: 300px;"
                                        [ngClass]="{'disabled':(!col.editable || isSubmitted)}"  [ngStyle]="{'background-color': !col.editable || isSubmitted ? '#dee2e6' :'#fff'}">
                                            <ng-container *ngIf="!col.editable || isSubmitted">
                                                {{col.title=="createdDate"?(account[col.title] | date :
                                                'dd-MM-yyyy'):account[col.title]}}
                                            </ng-container>
                                            <ng-container>
                                                {{col.edit}}
                                            </ng-container>
                                            <p-cellEditor *ngIf="(col.editable) && !isSubmitted"  >
                                                <ng-template pTemplate="input">
                                                    
                                                    <input pInputText [required]="col.required" [name]="col.title"
                                                        [type]="col.inpType" [(ngModel)]="account[col.title]" 
                                                        [min]="1" style="width:100%"  (keypress)="numberOnlyWithDismal($event)"  >
    
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{col.title=="createdDate"?(account[col.title] | date :
                                                    'dd-MM-yyyy'):account[col.title]}}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <!-- <td >
                                            <i class="pi pi-trash text-danger" (click)="delete(ri,'PartB')"></i>
                                        </td> -->
        
                                </ng-container>
                             </tr> 
        
                        </ng-template>
                        </p-table>
                        <p-table [columns]="annexure2Table2" [value]="annexure2Data2" responsiveLayout="scroll" dataKey="name" editMode="row" class="tableFixed" styleClass="p-datatable-gridlines top-20" >
                           
                            <ng-template pTemplate="header" let-columns>
                                
                                <tr>
                                    <th colspan="5">Accounts with other Indian bank branches in same foreign center 				
                                    </th>
                                </tr>  
                                <tr>
                                    <th colspan="5">Pending reconcillation for				
                                    </th>
                                </tr>  
                            </ng-template>
                            <ng-template pTemplate="body" let-account let-ri="rowIndex">
                               
                                <tr [pEditableRow]="account">
                                    <ng-container>
                                       
                                        <td pEditableColumn *ngFor="let col of annexure2Table2" style="height: 46px;min-width: 300px;"
                                        [ngClass]="{'disabled':(!col.editable || isSubmitted)}"  [ngStyle]="{'background-color': !col.editable || isSubmitted ? '#dee2e6' :'#fff'}">
                                            <ng-container *ngIf="!col.editable || isSubmitted">
                                                {{col.title=="createdDate"?(account[col.title] | date :
                                                'dd-MM-yyyy'):account[col.title]}}
                                            </ng-container>
                                            <ng-container>
                                                {{col.edit}}
                                            </ng-container>
                                            <p-cellEditor *ngIf="(col.editable) && !isSubmitted"  >
                                                <ng-template pTemplate="input">
                                                    
                                                    <input pInputText [required]="col.required" [name]="col.title"
                                                        [type]="col.inpType" [(ngModel)]="account[col.title]" 
                                                        [min]="1" style="width:100%"  (keypress)="numberOnlyWithDismal($event)"  >
    
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{col.title=="createdDate"?(account[col.title] | date :
                                                    'dd-MM-yyyy'):account[col.title]}}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <!-- <td >
                                            <i class="pi pi-trash text-danger" (click)="delete(ri,'PartB')"></i>
                                        </td> -->
        
                                </ng-container>
                             </tr> 
        
                        </ng-template>
                        </p-table>
                        <p-table [columns]="annexure2Table3" [value]="annexure2Data3" responsiveLayout="scroll">
                           
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th colspan="5">Accounts with other banks 				 				
                                    </th>
                                </tr> 
                                <tr>
                                    <th colspan="5">Pending reconcillation for				
                                    </th>
                                </tr>   
                            </ng-template>
                            <ng-template pTemplate="body" let-account let-ri="rowIndex">
                               
                                <tr [pEditableRow]="account">
                                    <ng-container>
                                       
                                        <td pEditableColumn *ngFor="let col of annexure2Table3" style="height: 46px;min-width: 300px;"
                                        [ngClass]="{'disabled':(!col.editable || isSubmitted)}"  [ngStyle]="{'background-color': !col.editable || isSubmitted ? '#dee2e6' :'#fff'}">
                                            <ng-container *ngIf="!col.editable || isSubmitted">
                                                {{col.title=="createdDate"?(account[col.title] | date :
                                                'dd-MM-yyyy'):account[col.title]}}
                                            </ng-container>
                                            <ng-container>
                                                {{col.edit}}
                                            </ng-container>
                                            <p-cellEditor *ngIf="(col.editable) && !isSubmitted"  >
                                                <ng-template pTemplate="input">
                                                    
                                                    <input pInputText [required]="col.required" [name]="col.title"
                                                        [type]="col.inpType" [(ngModel)]="account[col.title]" 
                                                        [min]="1" style="width:100%"  (keypress)="numberOnlyWithDismal($event)"  >
    
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{col.title=="createdDate"?(account[col.title] | date :
                                                    'dd-MM-yyyy'):account[col.title]}}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <!-- <td >
                                            <i class="pi pi-trash text-danger" (click)="delete(ri,'PartB')"></i>
                                        </td> -->
        
                                </ng-container>
                             </tr> 
        
                        </ng-template>
                        </p-table>
                    </div>
                    <div class="SectionScroller mt-3" style="margin-top: 30px;" *ngIf="isProducts">   
                        <p-table [columns]="productsTable" [value]="productsData" responsiveLayout="scroll" dataKey="name" editMode="row" class="tableFixed" styleClass="p-datatable-gridlines top-20">
                           
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" [ngStyle]="{'width':col.width}">
                                        {{col.name}}
                                    </th>
                                    <!-- <th>Action</th> -->
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-account let-ri="rowIndex">
                               
                                <tr [pEditableRow]="account">
                                    <ng-container>
                                       
                                        <td pEditableColumn *ngFor="let col of productsTable" style="height: 46px;min-width: 230px;"
                                        [ngClass]="{'disabled':(!col.editable || isSubmitted)}"  [ngStyle]="{'background-color': !col.editable || isSubmitted ? '#dee2e6' :'#fff'}">
                                            <ng-container *ngIf="!col.editable || isSubmitted">
                                                {{col.title=="createdDate"?(account[col.title] | date :
                                                'dd-MM-yyyy'):account[col.title]}}
                                            </ng-container>
                                            <ng-container>
                                                {{col.edit}}
                                            </ng-container>
                                            <p-cellEditor *ngIf="(col.editable) &&  !isSubmitted"  >
                                                <ng-template pTemplate="input">
                                                    
                                                    <input pInputText [required]="col.required" [name]="col.title"
                                                        [type]="col.inpType" [(ngModel)]="account[col.title]" 
                                                        [min]="1" style="width:100%"  (keypress)="numberOnlyWithDismal($event)" (change)="totaladdition()" >
    
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{col.title=="createdDate"?(account[col.title] | date :
                                                    'dd-MM-yyyy'):account[col.title]}}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <!-- <td >
                                            <i class="pi pi-trash text-danger" (click)="delete(ri,'PartB')"></i>
                                        </td> -->
        
                                </ng-container>
                             </tr> 
        
                        </ng-template>
                        </p-table>
                    </div>
                </p-tabView>
            </div>
     
    
 
    <div  style="margin-top: 1%;text-align: center;margin-bottom: 1%;" *ngIf="isAssets || isLiability || isannexure1 || isannexure2 || isProducts">

        <button pButton icon="pi"  label="Submit"  type="submit" (click)="submit('SUBMITTED')" style="border: none;background: #a20a3a;color: white;" class="p-button-primary mr-2"></button>
    </div>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-toast position="top-right">
    </p-toast>
  
   