
<h3 style="text-align: center;">Analytical Lead Master</h3>

<div class="content-section">
    <p-toast position="top-right">
    </p-toast>
    <div class="mt-2 mb-2 pt-2 text-center">
        <form style="text-align:center;">
            <ul class="search-form">
                <li>
                    <p-dropdown 
                        [options]="productOfferList" [(ngModel)]="productOffer" [filter]="true" filterBy="value" [showClear]="true" (onChange)="getLeadsNo()" placeholder="Select Product Offered*" [ngModelOptions]="{standalone: true}"></p-dropdown>
                </li>
                <li>
                    <p-dropdown 
                        [options]="leadRefNo" [(ngModel)]="leadNo" [filter]="true" filterBy="value" [showClear]="true" (onChange)="leadChange()" placeholder="Select Lead Ref No*" [ngModelOptions]="{standalone: true}"></p-dropdown>
                </li>
                <li>
                    <p-button label="Search" icon="pi pi-search" iconPos="left"
                        styleClass="p-button p-button-pnb btn-block" (click)="getRecords()" ></p-button>
                </li>
            </ul>

        </form>
        <div class="analyticForm mt-4">
          <form [formGroup]="leadSheetForm">
            <div class="p-fluid p-formgrid p-grid pt-2">
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">LEAD REF NO.</label>
                        <input pInputText formControlName="leadSRN"  type="text">
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">PRODUCT OFFERED</label>
                        <input pInputText  formControlName="productOffered" type="text">
                    </div>
                </div> 
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">LEAD PROVIDED TO PRODUCT OWNER DIVISON</label>
                        <input pInputText formControlName="leadSharedDate" type="text">
                    </div>
                </div> 
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">ZONE</label>
                        <input pInputText   formControlName="zoneName" type="text">
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">CIRCLE</label>
                        <input pInputText formControlName="circle" type="text">
                    </div>
                </div> 
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">BRANCH SOL ID</label>
                        <input pInputText formControlName="branchSolId" type="text">
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">BRANCH NAME</label>
                        <input pInputText formControlName="branch" type="text">
                    </div>
                </div> 
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">CUSTOMER NAME</label>
                        <input pInputText formControlName="customerName" type="text">
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">CUST_ID</label>
                        <input pInputText formControlName="custId" type="text">
                    </div>
                </div> 
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">ACC NUMBER</label>
                        <input pInputText formControlName="accNumber" type="text">
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">MOB NO.</label>
                        <input pInputText formControlName="mobileNo" type="text">
                    </div>
                </div> 
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">DIGITALLY ACTIVE</label>
                        <input pInputText formControlName="digitallyActive" type="text">
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">AGE (IN YEARS)</label>
                        <input pInputText formControlName="age" type="text">
                    </div>
                </div> 
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">OCCUPATION</label>
                        <input pInputText formControlName="occupation" type="text">
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">QAB MAINTAINED</label>
                        <input pInputText formControlName="qabMaintained" type="text">
                    </div>
                </div> 
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">RELATIONSHIP WITH BANK (IN YEAR)</label>
                        <input pInputText formControlName="rltnWithBank" type="text">
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">NO. OF INVESTMENT IN PNB PRODUCTS</label>
                        <input pInputText formControlName="numberOfInvestemnt" type="text">
                    </div>
                </div> 
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">INVESTED THIRD PARTY PRODUCTS IN PNB </label>
                        <input pInputText  formControlName="invstPnbPrd" type="text">
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">INVESTED THIRD PARTY PRODUCT OUTSIDE PNB</label>
                        <input pInputText formControlName="invstThirdPrd" type="text">
                    </div>
                </div> 
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">AREA CATEGORY</label>
                        <input pInputText formControlName="areacategory" type="text">
                    </div>
                </div>
                <div class="p-field p-col-12 p-md-4" >
                    <div class="inputInv">
                        <label for="Student" class="font-medium">EMAIL ID</label>
                        <input pInputText formControlName="email" type="text">
                    </div>
                </div>
            </div>
          </form>   
        </div>
        <div class="text-left">
            <button  [ngClass]="!isFollowUp?'add_btn':'followup_btn'" [disabled]="isFollowUp==true" (click)="add()">+ Follow Up</button>
        
        </div>
        <div class="stress ease">

            <div class="scrollerAnalytics">
             
                <p-table dataKey="name" editMode="row" #body class="tableFixed">
                    <ng-template pTemplate="header">
                        <tr>
                            <ng-container *ngFor="let hr of tableNames">
                                <th *ngIf="hr.name!='Entered By' && hr.name!='Date'">
                                    {{hr.name}}
                                </th>
                                <th *ngIf="(hr.name=='Entered By' || hr.name=='Date') && isRes">
                                    {{hr.name}}
                                </th>
                            </ng-container>
                        </tr>
                        <tr *ngFor="let obj of dataArray; let i=index" >
                            <ng-container  >
                            <td>
                                <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel" required name="contactedMode{{i}}"  (change)="change(obj,'contactedMode',i)" [disabled]="obj.submitted || isChecker"  [(ngModel)]="obj.contactedMode"  >
                                <option *ngFor="let lead of obj.contactedModeList;let i = index" [value]="lead.value">
                                    {{lead.value}}
                                </option>
                                </select>
                            </td>
                            <td>
                                
                                <!-- <p-calendar   [(ngModel)]="obj.contactedOnDate"   [style]="{'width':'250px','margin-top':'10px'}"   showTime="showTime" [timeOnly]="false" hourFormat="12" [disabled]="submitted" class="hide-timer"  
                                dateFormat="dd/mm/yy" [minDate]="minDate" [maxDate]="maxDateValue" [appendTo]="body" required   ></p-calendar> -->
                                <p-calendar   [(ngModel)]="obj.contactedOnDate"  [minDate]="obj.minDate" [maxDate]="date"  [style]="{'width':'250px','margin-top':'10px'}"  (onSelect)="change(obj,'contactedOnDate',i)" [disabled]="obj.submitted || isChecker || !obj.contactedMode" class="hide-timer"  
                              [appendTo]="body" required dateFormat="dd-mm-yy"  ></p-calendar>
                            </td>
                            <td>
                                <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel"  name="response{{i}}" [(ngModel)]="obj.response"  (change)="change(obj,'response',i)"  [disabled]="!obj.contactedMode || obj.submitted || isChecker" required >
                                <option *ngFor="let lead of obj.responseList; let i = index" [value]="lead.value">
                                    {{lead.value}}
                                </option>
                                </select>
                            </td>
                            <td >
                                
                                <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel" name="interested{{i}}"  (change)="change(obj,'interested',i)"  [ngStyle]="{'background-color': !obj.response || obj.response=='NOT AVAILABLE'? '#dee2e6' :'#fff' }" [(ngModel)]="obj.interested" [disabled]="((!obj.response) || (obj.response=='NOT AVAILABLE') || (obj.submitted) || (isChecker))"   required  >
                                        <option *ngFor="let lead of obj.interestedList; let i = index" [value]="lead.value">
                                            {{lead.value}}
                                        </option>
                                </select>
                            </td>
                            <td>
                                 <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel" name="customerRemark{{i}}" required [(ngModel)]="obj.customerRemark"  [ngStyle]="{'background-color': !obj.isAttemptThree? '#dee2e6' :'#fff' }" [disabled]="((!obj.isAttemptThree) || (obj.submitted) ||  (isChecker))"  (change)="change(obj,'customerRemark',i)" >
                                   
                                    <option *ngFor="let lead of obj.customerRemarkList; let i = index" [value]="lead.value">
                                        {{lead.value}}
                                    </option>
                                </select>
                            </td>
                            <td> 
                                    <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel"  required [(ngModel)]="obj.leadStatus" (change)="change(obj,'leadStatus',i)" [disabled]="obj.submitted || isChecker"   >
                                       
                                        <option *ngFor="let lead of obj.leadStatusList; let i = index" [value]="lead.value">
                                            {{lead.value}}
                                        </option>
                                    </select>
                            </td>
                            <td>
                                <!-- <input name="productSold{{i}}" [ngStyle]="{'background-color': ((obj.leadStatus!='SANCTIONED') || (obj.customerRemark!='SANCTIONED')) ? '#dee2e6' :'#fff' }" [(ngModel)]="obj.productSold" [disabled]="((obj.leadStatus!='SANCTIONED') || (obj.customerRemark!='SANCTIONED') || (obj.submitted) || (isChecker))" pInputText > -->
                                 <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel" name="productSold{{i}}" [ngStyle]="{'background-color': ((obj.leadStatus!='SANCTIONED') || (obj.customerRemark!='SANCTIONED')) ? '#dee2e6' :'#fff' }" [disabled]="((obj.leadStatus!='SANCTIONED') || (obj.customerRemark!='SANCTIONED') || (obj.submitted) || (isChecker))"  [(ngModel)]="obj.productSold" style="width:100%"  required >
                                    <option *ngFor="let lead of obj.productSoldConversation; let i = index" [value]="lead.value">
                                        {{lead.value}}
                                    </option>
                                </select>
                            </td>
                            <td> <input name="amount{{i}}" [ngStyle]="{'background-color': ((obj.leadStatus!='SANCTIONED') ||  (obj.customerRemark!='SANCTIONED'))? '#dee2e6' :'#fff' }" [disabled]="((obj.leadStatus!='SANCTIONED') || (obj.submitted) || (obj.customerRemark!='SANCTIONED') || (isChecker))" [(ngModel)]="obj.amount" (keypress)="numberOnlyWithDismal($event)" pInputText></td>
                            <td *ngIf="isRes"> <input name="createdBy{{i}}"  [ngStyle]="{'background-color':'#dee2e6' }" required [(ngModel)]="obj.createdBy" disabled pInputText>
                            </td>
                            <td *ngIf="isRes"> 
                                
                                <input name="createdDate{{i}}" [ngStyle]="{'background-color':'#dee2e6' }" dateFormat="dd-MM-yyyy" required [(ngModel)]="obj.createdDate"  pInputText disabled>
                            </td>
                          
                            <!-- <td>
                                <div *ngIf="i!=0"> 
                                    <i class="pi pi-trash text-danger" (click)="removeForm(i)"></i>
                                </div>
                            </td> -->
                            </ng-container>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div *ngIf="isChecker">
                <textarea [disabled]="submitted==true" class="comments" [(ngModel)]="comment"
                    placeholder="Comment Here..."></textarea>
            </div>
            <div *ngIf="isMaker" class="footer-section text-center mt-2 mb-2 pt-2">
                <button pButton icon="pi"  label="Submit"  type="submit" (click)="submit()" [disabled]="submitted" style="border: none;background: #a20a3a;color: white;" class="p-button-primary mr-2"></button>
            </div>
            <div *ngIf="isChecker" class="text-center mt-2 mb-2 pt-2">
                <button [disabled]="submitted==true" pButton icon="pi-pi-times" (click)="confirm('REJECTED')" label="Reject"
                    class="p-button-primary mr-2"></button>
                <button [disabled]="submitted==true" pButton type="button" (click)="confirm('APPROVED')" label="Approve"
                    class=" ml-2 p-button-success"></button>
            </div>
        </div>
 
    </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast position="top-right"></p-toast>