.search-form{list-style:none; margin:0; padding:0; display:inline-block;
    li{display:block; float:left; padding:0 5px;}
    &::after{content:""; display:block; clear:both;}
}
.search-form{
text-align: left;
}
.inputInv{
    display:flex; flex-direction: row; align-items: center;
}
.analyticForm{
    label{
        width: 50%;
        text-align: left;
        font-size: 13px;
    }
    margin-top: 1%;
  
}
.scrollerAnalytics {
    min-height: calc(100vh - 560px);
    overflow-x: scroll;
}
.add_btn{
    background: #2196F3;
    padding: 13px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    color: white;
    margin-bottom: 10px;
}
.followup_btn{
    background: #b7c3cc;
    padding: 13px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    color: white;
    margin-bottom: 10px;
}
input{
    margin-top: 10px;
}
select{
    margin-top: 10px;
}
:host ::ng-deep.p-dropdown {
    width: 370px;
}
// :host ::ng-deep.p-datepicker .p-timepicker {
//     border-top: 1px solid #dee2e6;
//     padding: 0.5rem;
//     display: none;
// }