.searchFields{
    padding: 3px;
}

.search-form{list-style:none; margin:0; padding:0; display:inline-block;
    li{display:block; float:left; padding:0 5px;}
    &::after{content:""; display:block; clear:both;}
}
.search-form{
text-align: left;
}

select{
    padding: 10px;
}
td{
text-align: left;
}
input{
  width: 100%;
}