
    <h3 style="text-align: center;">Analytical Lead </h3>

<div class="content-section">
    <p-toast position="top-right">
    </p-toast>
    <div class="mt-2 mb-2 pt-2 text-center">
        <form style="text-align:center;">
            <ul class="search-form">
                <li>
                     
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" ></p-dropdown>
                        <label for="dropdown">PRODUCT OFFERED</label>
                    </span>  
                </li>
                <li>
                 
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" ></p-dropdown>
                        <label for="dropdown">ZONE</label>
                    </span>     
                </li>
                <li>
                 
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" ></p-dropdown>
                        <label for="dropdown">CIRCLE</label>
                    </span>  
                </li>
                <li>
                    <div class="p-float-label">
                    <input type="text" id="inputtext" pInputText> 
                    <label for="inputtext">BRANCH SOL ID</label></div>
                   
                </li>
            </ul>
            <h4 style="text-align: center;">OR</h4>
            <ul class="search-form">

                <li>
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" ></p-dropdown>
                        <label for="dropdown">PRODUCT OFFERED</label>
                    </span>
                                   
                    
                </li>
                <li>
                    <div class="p-float-label">
                        <input type="text" id="inputtext" pInputText> 
                        <label for="inputtext">SOL ID OF  RAM / MCC</label></div>
                   
                </li>
                <li>
       
                    <span class="p-float-label">
                        <p-dropdown inputId="dropdown" [autoDisplayFirst]="false" ></p-dropdown>
                        <label for="dropdown">RAM/MCC NAME</label>
                    </span>
                   
                </li>
               

                <li>
                    <p-button label="Search" icon="pi pi-search" iconPos="left"
                        styleClass="p-button p-button-pnb btn-block"></p-button>
                </li>
            </ul>

        </form>

        <div class="stress ease">
            <div class="scroller">
                <p-table dataKey="name" editMode="row" class="tableFixed">
                    <ng-template pTemplate="header">


                        <tr>
                            <ng-container>
                                <!-- <th>S. No.</th> -->
                                <th *ngFor="let hr of tableNames">
                                    {{hr.name}}
                                </th>

                            </ng-container>
                        </tr>
                        <tr>
                       <ng-container>     <td  *ngFor="let d of data">
                                {{d.name}}
                            </td>
                            <td>
                                  <p-button   [routerLink]="['/Analytical-Lead-FollowUp']" label="Edit"  iconPos="left">
                                    <i class="far fa-edit mr-2"></i>
                                </p-button>
                            </td>
                        </ng-container>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <!-- <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/Analytical-Lead-FollowUp']"  >
          
            <h2 class="m-0 mt-2">Analytical Lead</h2>
        </div> -->
        <!-- 'Analytical-Lead-FollowUp' -->
 
    </div>
</div>