<p-toast position="top-right">
</p-toast>

<div class="p-grid"></div>
<div class="p-col">
    <h3 style="text-align: center;padding-top: 12px;" class="m-0 pt-1">{{heading}}</h3>
</div>

<div class="card">
    <p-tabView>

        <div class="mb-2 pt-2 text-center">
            <form [formGroup]="countryForm" style="text-align:center;display: inline-flex;column-gap: 30px;">
                <p-dropdown formControlName="financialYear" [options]="dropdownYears"
                    placeholder="Select financial year*" (onChange)="getRecords($event)"></p-dropdown>
                <p-dropdown formControlName="quarterEndingDate" [options]="quarterEndingDate"
                    placeholder="Select a Quarter*" (onChange)="getRecords($event)"></p-dropdown>

            </form>
        </div>
        <div *ngIf="isView">
            <div class="p-col mb-2 pt-2 text-right" *ngIf="isMaker">
                <!-- <button pButton type="button" icon="pi pi-plus" iconPos="right" class="mr-2 " label="Add" (click)="add()"></button> -->
        <button pButton type="button" class="mr-2 " label="Submitted Records"  (click)="AllSubmittedRecords()"></button>
        <p-button label="Rejected Records" iconPos="left" styleClass="p-button p-button-pnb btn-block"
                    (click)="rejectedRecords()"></p-button>
            </div>

            <div class="scroller">
                <p-table [value]="display" dataKey="name" editMode="row" class="tableFixed"
                    styleClass="p-datatable-gridlines top-20">
                    <ng-template pTemplate="header">
                        <tr>
                            <th colspan="5" class="text-center">Table C3: Review Status: No. of jurisdictions reviews
                                overdue and extent of overdue</th>
                        </tr>

                        <tr>
                            <!-- <th scope="row"  colspan="1"></th>
                            <th *ngIf="isChecker || rejectedFlag"></th>
                            <ng-container *ngFor="let heading of tableNames">
                                <th *ngIf="heading.title !='states'">{{heading.name}}</th>

                            </ng-container> -->
                            <ng-container *ngFor="let heading of tableNames">
                                <th *ngIf="heading.title=='frequencyType'" >
                                    {{heading.name}}
                                </th>
                                <th class="text-center" *ngIf="heading.title!='frequencyType'">
                                    {{heading.name}}
                                </th>

                            </ng-container>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-account let-ri="rowIndex">

                        <tr [pEditableRow]="account">
                            <ng-container>
                                 <td pEditableColumn *ngFor="let name of tableNames" style="min-width: 200px"
                                    [ngClass]="{'disabled':(!name.editable || submitted || isChecker)}"
                                    [ngStyle]="{'background-color': !name.editable || isChecker ? '#dee2e6' :'#fff' }">
                                    <ng-container *ngIf="!name.editable || submitted || isChecker">
                                        {{name.title=="createdOn" || name.title=="date"?(account[name.title] |
                                        date : 'dd-MM-yyyy'):account[name.title]}}
                                    </ng-container>
                                    <ng-container>
                                        {{name.edit}}
                                    </ng-container>
                                    <p-cellEditor *ngIf="(name.editable && !submitted) && !isChecker">
                                        <ng-template pTemplate="input">

                                            <input pInputText (keypress)="numberOnly($event)" [required]="name.required"
                                                [(ngModel)]="account[name.title]" [name]="name.title"
                                                [type]="name.inpType" style="width:100%" [min]="1"  (change)="totalAddition(account,name)" >
                                                <!--  -->
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{account[name.title]}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>

                            </ng-container>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer" >
                        <tr  colspan="5" style="background-color: gray;">
                           <ng-container *ngIf="!isChecker && !rejectedFlag">
                            <td  ><b>Total</b></td>
                            <!-- <td >{{total?.lt30Days | number:'1.2-2' | removeComma}}</td>
                            <td>{{total?.ge30DaysToLT60Days | number:'1.2-2' | removeComma}}</td>
                            <td>{{total?.ge60DaysToLT90Days | number:'1.2-2' | removeComma}}</td>
                            <td>{{total?.gt90Days | number:'1.2-2' | removeComma}}</td> -->
                            <td >{{total?.lt30Days}}</td>
                            <td>{{total?.ge30DaysToLT60Days}}</td>
                            <td>{{total?.ge60DaysToLT90Days}}</td>
                            <td>{{total?.gt90Days}}</td>
                          
                           </ng-container> 
                       </tr>
                         
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-tabView>
</div>

<div *ngIf="isView">
    <div *ngIf="isChecker"  [formGroup]="checkerForm">
        <textarea [disabled]="submitted==true" formControlName="comment" class="comments" [(ngModel)]="comments"
            placeholder="Comment Here..."></textarea>
    </div>

    <div *ngIf="isMaker" style="margin-top: 1%;text-align: center;margin-bottom:10px">

        <button pButton icon="pi" label="Submit" type="submit" (click)="submit('submit')" [disabled]="submitted==true"
            style="border: none;background: #a20a3a;color: white;" class="p-button-primary mr-2"></button>
    </div>

    <div *ngIf="isChecker" class="text-center mt-2 mb-2 pt-2">
        <button [disabled]="submitted==true" pButton icon="pi-pi-times" (click)="confirm('REJECTED')" label="Reject"
            class="p-button-primary mr-2"></button>
        <button [disabled]="submitted==true" pButton type="button" (click)="confirm('APPROVED')" label="Approve"
            class=" ml-2 p-button-success"></button>
    </div>

</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
