<ng-container *ngIf="control && control.errors && (submit || control.touched)">
    <span *ngIf="control.errors.required">{{label?label:'Field'}} is Required</span>
    <span *ngIf="!control.errors.required && control.errors.phone">Invalid Phone Number</span>
    <span *ngIf="control.errors.email">Invalid Email</span>
    <span *ngIf="control.errors.website">Invalid Website URL</span>
    <span *ngIf="!control.errors.email && control.errors.businessEmail">Business Email Required</span>
    <span *ngIf="control.errors.confirmedValidator">Passwords do not match</span>
    <span *ngIf="control.errors.pattern">Invalid {{label}}</span>
    <span *ngIf="!control.errors.required && control.errors.whitespace">Invalid {{label}}</span>
    <span *ngIf="!control.errors.required && control.errors.noextrawhitespace">No extra white space allowed in {{label}}</span>
    <span *ngIf="control.errors.noWhitespaceValidator">No white space {{label}}</span>
    <span *ngIf="control.errors.onlycharacters">only character allowed in {{label}}</span>
</ng-container>