<p-toast position="top-right">
</p-toast>

<div class="p-grid"></div>
<div style="margin-left: 250px; margin-right: 250px;" >
    <div class="p-col">
    <h3 style="text-align: center;padding-top: 12px;" class="m-0 pt-1">{{heading}}</h3>
</div>

<p-toast position="top-right"> </p-toast>
<p-tabView >
    <form [formGroup]="cashForm" style="padding-left: 50px;">


        <div class="p-fluid p-formgrid p-grid pt-2">

            <label style="width: 250px"  class="p-col-1">BRANCH CODE</label>
            <div class="p-field p-col-4" style="padding:0;">
                <p-dropdown formControlName="branchCode" [options]="bCode" placeholder="Branch Code*"
                    (onChange)="getBranchName($event)"></p-dropdown>
            </div>
        </div>

        <div class="p-fluid p-formgrid p-grid pt-2">
            <label style="width: 250px" class="p-col-1">BRANCH NAME</label>
            <div class="inputInv">
                <input style="width: 490px" pInputText type="text" formControlName="branchName">
            </div>
        </div>

        <div class="p-fluid p-formgrid p-grid pt-2">
            <label style="width: 250px"  class="p-col-1">Cash Retention Limit</label>
            <div class="inputInv">
                <input style="width: 490px" type="number" pInputText formControlName="cashRetentionLimit">
            </div>
        </div>

<br><br><br>
        <div class="p-fluid p-formgrid p-grid pt-2">
            <label style="width: 250px"  class="p-col-1">Currency Chest SOL ID</label>
            <div class="p-field p-col-4" style="padding:0;">
                <p-dropdown formControlName="currencyChestSolid" [options]="Currency" placeholder="Currency Chest SOL ID*"
                    (onChange)="getCurrencyName($event)"></p-dropdown>
            </div>
        </div>

        <div class="p-fluid p-formgrid p-grid pt-2">
            <label style="width: 250px"  class="p-col-1">Currency Chest Name</label>
            <div class="inputInv">
                <input style="width: 490px" type="text" pInputText formControlName="currencyChestName">
            </div>
        </div>

        <div class="p-fluid p-formgrid p-grid pt-2">
            <label style="width: 250px"  class="p-col-1 pt-5">Distance With Currency Chest</label>
            <div class="inputInv">
                <input style="width: 490px" type="number" pInputText formControlName="distanceWithCurrencyChest">
            </div>
        </div>

      
    </form>

</p-tabView>


<div  style="margin-top: 1%;text-align: center;margin-bottom:10px">

    <button  pButton icon="pi"  label="Submit"   type="submit" (click)="submit('submit')" [disabled]="submitted==false" style="border: none;background: #a20a3a;color: white;" class="p-button-primary mr-2"></button>
</div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

