<div class="p-grid loginContainer">
    <div class="p-col-4"></div>
    <div class="p-col-4 loginBlock">
        <div class="p-fluid loginBox">
            <h4 class="text-center">Gap Screens</h4>
            <h2 class="text-center">Login</h2>
            <br><br>
            <div class="p-field">
                <span class="p-float-label">
                <input id="username" type="text" pInputText>
                <label for="username">Username</label>
                </span>
            </div>
            <div class="p-field">
                <span class="p-float-label">
                    <input id="password" type="password" pInputText>
                    <label for="password">Password</label>

                </span>

            </div>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field-checkbox p-col">
                    <p-checkbox name="remember" value="remember" inputId="remember"></p-checkbox>
                    <label for="remember"> Remember Me</label>
                </div>
                <div class="p-field p-col text-right">
                    <a href="">Forgot Password?</a>
                </div>
            </div>
            <div class="p-field-checkbox">
                <p-button label="Login" [routerLink]="['/home']" styleClass="p-button p-button-pnb btn-block"></p-button>
            </div>
        </div>
    </div>
    <div class="p-col-4"></div>
</div>