<p-accordion>
    <p-accordionTab header="Part A: Ownership Pattern - TOP SHAREHOLDERS" [selected]="true">
        <div class="p-fluid p-formgrid p-grid pt-2">
            <div class="p-field p-col-12 p-md-6 form-group" >
                <span class="p-float-label">
                    <input pInputText type="text" >
                    <label for="division">Total No. of Equity Shares</label>
                </span>
            </div>
           <div class="p-field p-col-12 p-md-6" >
                <span class="p-float-label">
                    <input pInputText type="text" >
                    <label for="division">Free Value of Each Share</label>
                </span>
            </div>
           </div>
           <div class="p-fluid p-formgrid p-grid pt-2">
            <div class="p-field p-col-12 p-md-12 form-group" >
                <span class="p-float-label">
                    <input pInputText type="text" >
                    <label for="division">Book Value Per Share</label>
                </span>
            </div>
           </div>
           <div class="card">
            <p-tabView>
                <div class="p-grid" style="text-align:inital;">    
                    <div class="p-col text-right add" style="padding-bottom: 17px;">
                        <button pButton type="button"  icon="pi pi-plus" iconPos="right" class="mr-2 " label="Add"
                            (click)="add('PartA')"></button>
                    </div>
                </div>

                <p-table [columns]="cols" [value]="reportData" responsiveLayout="scroll">
                   
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [ngStyle]="{'width':col.width}">
                                {{col.name}}
                            </th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-account let-ri="rowIndex">
                        <tr [pEditableRow]="account">
                            <ng-container>
                                
                                <td pEditableColumn *ngFor="let col of cols" style="min-width: 200px;height: 46px;">
                                    <ng-container *ngIf="!col.editable ">
                                        {{col.title=="createdOn"?(account[col.title] | date :
                                        'dd-MM-yyyy'):account[col.title]}}
                                    </ng-container>
                                    <ng-container>
                                        {{col.edit}}
                                    </ng-container>
                                    <p-cellEditor *ngIf="(col.editable)"  >
                                        <ng-template pTemplate="input">
                                            <input pInputText [required]="col.required" [name]="col.title"
                                                [type]="col.inpType" [(ngModel)]="account[col.title]" 
                                                [min]="1" style="width:100%">

                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{col.title=="createdOn"?(account[col.title] | date :
                                            'dd-MM-yyyy'):account[col.title]}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td >
                                    <i class="pi pi-trash text-danger" (click)="delete(ri,'PartA')"></i>
                                </td>

                        </ng-container>
                     </tr>

                </ng-template>
                <ng-template pTemplate="footer"  >
                    <tr style="background-color: gray;">
                        <ng-container >
                            <td><b>TOTAL</b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                        </ng-container> 
                    </tr>
                    
                </ng-template>
                </p-table>
            </p-tabView>
        </div>

           
    </p-accordionTab>
    <p-accordionTab header="Part B: Other Shareholders" >
        <div class="card">
            <p-tabView>
               

                <p-table [columns]="PartBcols" [value]="reportData" responsiveLayout="scroll">
                   
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [ngStyle]="{'width':col.width}">
                                {{col.name}}
                            </th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-account let-ri="rowIndex">
                        <tr [pEditableRow]="account">
                            <ng-container>
                               
                                <td pEditableColumn *ngFor="let col of PartBcols" style="min-width: 200px;height: 46px;">
                                    <ng-container *ngIf="!col.editable ">
                                        {{col.title=="createdOn"?(account[col.title] | date :
                                        'dd-MM-yyyy'):account[col.title]}}
                                    </ng-container>
                                    <ng-container>
                                        {{col.edit}}
                                    </ng-container>
                                    <p-cellEditor *ngIf="(col.editable)"  >
                                        <ng-template pTemplate="input">
                                            
                                            <input pInputText [required]="col.required" [name]="col.title"
                                                [type]="col.inpType" [(ngModel)]="account[col.title]" 
                                                [min]="1" style="width:100%">
                                              
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{col.title=="createdOn"?(account[col.title] | date :
                                            'dd-MM-yyyy'):account[col.title]}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td >
                                    <i class="pi pi-trash text-danger" (click)="delete(ri,'PartB')"></i>
                                </td>

                        </ng-container>
                     </tr>

                </ng-template>
                <ng-template pTemplate="footer"  >
                    <tr style="background-color: gray;">
                        <ng-container >
                            <td><b>TOTAL</b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                        </ng-container> 
                    </tr>
                    
                </ng-template>
                </p-table>
            </p-tabView>
        </div>
    </p-accordionTab>
    <p-accordionTab header="Part C: Ownership Summary" >
        <div class="card">
            <p-tabView>
              

                <p-table [columns]="PartCcols" [value]="reportData" responsiveLayout="scroll">
                   
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [ngStyle]="{'width':col.width}">
                                {{col.name}}
                            </th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-account let-ri="rowIndex">
                        <tr [pEditableRow]="account">
                            <ng-container>
                                
                                <td pEditableColumn *ngFor="let col of PartCcols" style="min-width: 200px;height: 46px;">
                                    <ng-container *ngIf="!col.editable ">
                                        {{col.title=="createdOn"?(account[col.title] | date :
                                        'dd-MM-yyyy'):account[col.title]}}
                                    </ng-container>
                                    <ng-container>
                                        {{col.edit}}
                                    </ng-container>
                                    <p-cellEditor *ngIf="(col.editable)"  >
                                        <ng-template pTemplate="input">
                                            <input pInputText [required]="col.required" [name]="col.title"
                                                [type]="col.inpType" [(ngModel)]="account[col.title]" 
                                                [min]="1" style="width:100%">

                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{col.title=="createdOn"?(account[col.title] | date :
                                            'dd-MM-yyyy'):account[col.title]}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td >
                                    <i class="pi pi-trash text-danger" (click)="delete(ri,'PartC')"></i>
                                </td>

                        </ng-container>
                     </tr>

                </ng-template>
                <ng-template pTemplate="footer"  >
                    <tr style="background-color: gray;">
                        <ng-container >
                            <td><b>TOTAL</b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </ng-container> 
                    </tr>
                    
                </ng-template>
                </p-table>
            </p-tabView>
        </div>   
    </p-accordionTab>
    <p-accordionTab header="Part D: Shareholder Control (Extent of Control)" >
        <div class="card">
            <p-tabView>
                <div class="p-grid" style="text-align:inital;">    
                    <div class="p-col text-right add" style="padding-bottom: 17px;">
                        <button pButton type="button"  icon="pi pi-plus" iconPos="right" class="mr-2 " label="Add"
                            (click)="add('PartD')"></button>
                    </div>
                </div>
                <p-table [columns]="PartDcols" [value]="reportDData" responsiveLayout="scroll">
                   
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [ngStyle]="{'width':col.width}">
                                {{col.name}}
                            </th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-account let-ri="rowIndex">
                        <tr [pEditableRow]="account">
                            <ng-container>
                                
                                <td pEditableColumn *ngFor="let col of PartDcols" style="min-width: 200px;height: 46px;">
                                    <ng-container *ngIf="!col.editable ">
                                        {{col.title=="createdOn"?(account[col.title] | date :
                                        'dd-MM-yyyy'):account[col.title]}}
                                    </ng-container>
                                    <ng-container>
                                        {{col.edit}}
                                    </ng-container>
                                    <p-cellEditor *ngIf="(col.editable)"  >
                                        <ng-template pTemplate="input">
                                            <input pInputText [required]="col.required" [name]="col.title"
                                                [type]="col.inpType" [(ngModel)]="account[col.title]" 
                                                [min]="1" style="width:100%">

                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{col.title=="createdOn"?(account[col.title] | date :
                                            'dd-MM-yyyy'):account[col.title]}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td >
                                <i class="pi pi-trash text-danger" (click)="delete(ri,'PartD')"></i>
                                </td>

                        </ng-container>
                     </tr>

                </ng-template>
                <ng-template pTemplate="footer"  >
                    <tr style="background-color: gray;">
                        <ng-container >
                            <td><b>TOTAL</b></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            
                        </ng-container> 
                    </tr>
                    
                </ng-template>
                </p-table>
            </p-tabView>
        </div>    
    </p-accordionTab>
</p-accordion>