.tableHeading{background: #A20A3A;
    display: block;
    font-size: larger;
    color : #fff; padding:10px;
    &:after{content:""; display:block; clear:both;}
    .text-left{float:left; display:block;}
    .text-right{float:right; display:block;}
}

.Sectorname.Parameter, .Sectorname.Recovery {
    width: 335px;
}
    
    .p-datatable .p-datatable-tbody > tr.blank > td {
        background-color: #A20A3A !important;
        color: transparent !important;
    }
    
    th.headers {
        width: 235px;
        text-align: left;
    }
    .down { 
        Position: 20%; 
        Bottom: 0; 
        padding: 20px;
        } 
    .comments{
        align-items: center;
    }
    .searchFields{
        padding: 3px;
    }
    .comment{display:block; padding:10px;
        margin:10px auto;
        width:500px;
        border-radius:6px;;
        border:1px solid #ccc; height:150px;
    }
    
    .search-form{list-style:none; margin:0; padding:0; display:inline-block;
        li{display:block; float:left; padding:0 5px; text-align:left;}
        &::after{content:""; display:block; clear:both;}
        &:last-child{padding-top:10px;}
    }
    
    .tableMode{
        text-align: left;
    }
    
    .status{font-style: normal; padding-left:10px;}