<div class="content-section">
    <div  class="text-center">
        <form [formGroup]="newForm" style="text-align:center;">
            <ul class="search-form">
                <li>
                    <p-dropdown formControlName="reportName" (onChange)="getReportType($event.value)"  [options]="dropdown.report"  placeholder="Select Report Name*"></p-dropdown>
                </li>
                <li>
                    <p-dropdown formControlName="finYear" [options]="dropdown.years" placeholder="Select financial year*"></p-dropdown>
                </li>
                <li>
                    <p-dropdown formControlName="quarter" [options]="quarters" placeholder="Select a Quarter*"></p-dropdown>
                </li>
                <li>
                    <p-button label="Search" icon="pi pi-search" iconPos="left" styleClass="p-button p-button-pnb btn-block" (click)="submitForm()"></p-button>
                </li>
            </ul>
        </form>
    </div>

    <div *ngIf="isTableData">
        <div class="p-col-12 text-right">
            <button [disabled]="isChecker || reportStatus=='SUBMITTED' ||  reportStatus=='APPROVED' || previousQuarterFlag" pButton type="button" icon="pi pi-download" iconPos="left" class="mr-2 " (click)="download()"
                label="Download Template"></button>
            <button [disabled]="isChecker || reportStatus=='SUBMITTED' ||  reportStatus=='APPROVED' || previousQuarterFlag" pButton type="button" icon="pi pi-upload" iconPos="left" class="p-button-danger ml-2" (click)="upload()"
                label="Upload"></button>
        </div>

        <input type="file" #fileInput style="width: 100%;visibility: hidden; height: 0px;" accept=".xlsx,.xls" (change)="uploadFile()" multiple="false" />

        
        <div class="tableHeading">
            <span class="text-left">{{pageHeading}} <i class="status" *ngIf="reportStatus">(Status: {{reportStatus}})</i></span> 
            <span class="text-right">Amount in Crores</span>
        </div>

        <p-table [value]="accounts"   styleClass="stressv p-datatable-gridlines top-20"  dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <!-- type1 -->
                    <th *ngIf="tableType1 || tableType2 || tableType3 || tableType4">S.no</th>
                    <th *ngIf="tableType1 || tableType2 || tableType3 || tableType4">Borrower Name</th>
                    <th *ngIf="tableType1">Segment
                        (Infra, NBFC, SME, Retail, Telcom, etc.)</th>
                    <th *ngIf="tableType1 || tableType2 || tableType3">Exposure</th>
                    <th *ngIf="tableType1">OutStanding
                        (FB+NFB+Inv)</th>
                    <th *ngIf="tableType1">Assett Classification
                        (Including SMA status)</th>
                    <th *ngIf="tableType1">Provision Made</th>
                    
                    <!-- type2 -->
                    <th *ngIf="tableType2">OutStanding </th>
                    
                    <!-- type3  -->
                    <th *ngIf="tableType3">OutStanding </th>
                    <th *ngIf="tableType3"> Provision Made </th>
                    <th *ngIf="tableType3">Additional provision for non-implementation of RP
                    </th>

                    <!-- type4  -->
                    <th *ngIf="tableType4">Current Status
                        (SMA 0,SMA 1, SMA 2, SubStandard, D1, D2)</th>
                    <th *ngIf="tableType4">OutStanding
                        (FB+NFB+Inv)</th>
                    <th *ngIf="tableType4">Provision Made </th>
                    <th *ngIf="tableType4">Recovery Expected
                        (Amount)</th>
                    <th *ngIf="tableType4">Remarks (along with
                        month/year by when recovery is expected)</th> 
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-account>
                <tr>
                    <td *ngIf="tableType1 || tableType2 || tableType3 || tableType4">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="account.serialNumber">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{account.serialNumber}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align: left;" *ngIf="(tableType1 || tableType2 || tableType3 || tableType4) && !reportStatusFlag">
                        {{account.borrowerName}}
                    </td>
                    <td pEditableColumn *ngIf="(tableType1 || tableType2 || tableType3 || tableType4) && reportStatusFlag" style="background-color:#fff;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input  pInputText type="text" [(ngModel)]="account.borrowerName" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{account.borrowerName}}
                            </ng-template>
                        </p-cellEditor>
                    </td> 
                    
                    <td  style="text-align: left;" *ngIf="(tableType1 ) && !reportStatusFlag">
                        {{account.segment}}
                    </td>
                    <td min="0" pEditableColumn *ngIf="(tableType1 ) && reportStatusFlag" style="background-color:#fff;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="account.segment" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{account.segment}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align: left;" *ngIf="(tableType1 ) && !reportStatusFlag">
                        {{account.exposure}}
                    </td>
                    <td min="0" pEditableColumn *ngIf="(tableType1 ) && reportStatusFlag" style="background-color:#fff;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="account.exposure" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{account.exposure}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align: left;" *ngIf="(tableType1) && !reportStatusFlag">
                        {{account.outstanding}}
                    </td>
                    <td pEditableColumn *ngIf="(tableType1 ) && reportStatusFlag" style="background-color:#fff;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" (onInput)="onInput($event)"
                                    [(ngModel)]="account.outstanding" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{account.outstanding}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align: left;" *ngIf="(tableType1 ) && !reportStatusFlag">
                        {{account.assetClassification}}
                    </td>
                    <td pEditableColumn *ngIf="(tableType1 ) && reportStatusFlag" style="background-color:#fff;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="account.assetClassification" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{account.assetClassification}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align: left;" *ngIf="(tableType1 ) && !reportStatusFlag">
                        {{account.provision}}
                    </td>
                    <td pEditableColumn *ngIf="(tableType1 ) && reportStatusFlag" style="background-color:#fff;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="account.provision" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{account.provision}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    
                    <!-- table type2 -->
                    <td style="text-align: left;" *ngIf="(tableType2 ) && !reportStatusFlag">
                        {{account.exposure}}
                    </td>
                    <td min="0" pEditableColumn *ngIf="(tableType2 ) && reportStatusFlag" style="background-color:#fff;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="account.exposure" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{account.exposure}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align: left;" *ngIf="(tableType2) && !reportStatusFlag" style="background-color:#fff;">
                        {{account.outstanding}}
                    </td>
                    <td pEditableColumn *ngIf="(tableType2 ) && reportStatusFlag">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" (onInput)="onInput($event)"
                                    [(ngModel)]="account.outstanding" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{account.outstanding}}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <!-- type3 -->
                    <td style="text-align: left;" *ngIf="(tableType3) && !reportStatusFlag">
                        {{account.exposure}}
                    </td>
                    <td min="0" pEditableColumn *ngIf="(tableType3) && reportStatusFlag" style="background-color:#fff;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="account.exposure" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{account.exposure}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align: left;" *ngIf="(tableType3) && !reportStatusFlag">
                        {{account.outstanding}}
                    </td>
                    <td pEditableColumn *ngIf="(tableType3 ) && reportStatusFlag" style="background-color:#fff;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" (onInput)="onInput($event)"
                                    [(ngModel)]="account.outstanding" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{account.outstanding}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align: left;" *ngIf="(tableType3 ) && !reportStatusFlag">
                        {{account.provision}}
                    </td>
                    <td pEditableColumn *ngIf="(tableType3 ) && reportStatusFlag" style="background-color:#fff;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="account.provision" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{account.provision}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align: left;" *ngIf="(tableType3 ) && !reportStatusFlag">

                        {{account.additionalProvision}}
                        
                        </td>
                        
                        <td pEditableColumn *ngIf="(tableType3 ) && reportStatusFlag" style="background-color:#fff;">
                        
                        <p-cellEditor>
                        
                        <ng-template pTemplate="input">
                        
                        <input pInputText type="number" [(ngModel)]="account.additionalProvision" required>
                        
                        </ng-template>
                        
                        <ng-template pTemplate="output">
                        
                        {{account.additionalProvision}}
                        
                        </ng-template>
                        
                        </p-cellEditor>
                        
                        </td>
                    
                    <!-- type4 -->
                    <td style="text-align: left;" *ngIf="(tableType4 ) && !reportStatusFlag">
                        {{account.exposure}}
                    </td>
                    <td min="0" pEditableColumn *ngIf="(tableType4 ) && reportStatusFlag" style="background-color:#fff;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="account.exposure" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{account.exposure}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align: left;" *ngIf="(tableType4) && !reportStatusFlag">
                        {{account.outstanding}}
                    </td>
                    <td pEditableColumn *ngIf="(tableType4 ) && reportStatusFlag" style="background-color:#fff;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" (onInput)="onInput($event)"
                                    [(ngModel)]="account.outstanding" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{account.outstanding}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align: left;" *ngIf="(tableType4 ) && !reportStatusFlag">
                        {{account.assetClassification}}
                    </td>
                    <td pEditableColumn *ngIf="(tableType4 ) && reportStatusFlag" style="background-color:#fff;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="account.assetClassification" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{account.assetClassification}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align: left;" *ngIf="(tableType4 ) && !reportStatusFlag">
                        {{account.provision}}
                    </td>
                    <td pEditableColumn *ngIf="(tableType4 ) && reportStatusFlag" style="background-color:#fff;">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="account.provision" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{account.provision}}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                </tr>
            </ng-template>
        </p-table>

        <div>
            <textarea [disabled]="!isChecker || reportStatus!='SUBMITTED'" [(ngModel)]="comments" class="comment" placeholder="Comment here..."></textarea>
        </div>

        <div *ngIf="isMaker" class="text-center mt-2 mb-2 pt-2">
            <button [disabled]="reportStatus==null || reportStatus=='SUBMITTED' || reportStatus=='APPROVED' || previousQuarterFlag" pButton  label="Save" class="p-button-primary mr-2" (click)="save()"></button>
            <button [disabled]="reportStatus==null || reportStatus=='SUBMITTED' || reportStatus=='APPROVED'" pButton type="button"  label="Submit" class=" ml-2 p-button-success" (click)="confirm('SUBMITTED')"></button>
        </div>

        <div *ngIf="isChecker" class="text-center mt-2 mb-2 pt-2">
            <button pButton icon="pi-pi-times" [disabled]="reportStatus!='SUBMITTED' || previousQuarterFlag" (click)="confirm('REJECTED')" label="Reject"
                class="p-button-primary mr-2"></button>
            <button pButton type="button" [disabled]="reportStatus!='SUBMITTED' || previousQuarterFlag" (click)="confirm('APPROVED')" label="Approve"
                class=" ml-2 p-button-success"></button>
        </div>

    </div>

    <p-toast position="top-right"></p-toast>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

</div>