<div class="content-section">
    <p-toast position="top-right">
    </p-toast>
    <div class="mt-2 mb-2 pt-2 text-center">
        <div *ngIf="errorMessage">{{errorMessage}}</div>
        <form [formGroup]="positionsForm" style="text-align:center;">
            <ul class="search-form">
                <li>
                    <p-dropdown formControlName="annexureName" (onChange)="dropDownValChange($event)"
                        [options]="dropDown.annexur" placeholder="Select Annexures Name*"></p-dropdown>
                </li>
                <li>
                    <p-dropdown formControlName="finYear" [options]="dropDown.years"
                        (onChange)="dropDownValChange($event)" placeholder="Select financial year*">
                    </p-dropdown>
                </li>
                <li>
                    <p-button label="Search" icon="pi pi-search" iconPos="left"
                        styleClass="p-button p-button-pnb btn-block" (click)="submitForm()"></p-button>
                </li>
            </ul>
        </form>
    </div>
    <div *ngIf="isTableData">
        <div class="tableHeading">
            <span class="text-left">{{pageHeading}}</span>
            <span class="text-right">Amount in Crores</span>
        </div>
        <p-table *ngIf="tableType1" [value]="annexuresData" styleClass="p-datatable-gridlines top-20">
            <ng-template pTemplate="header">
                <tr>
                    <th>Parameter</th>
                    <th>Q1 <span *ngIf="q1Status">(Status:{{q1Status}})</span></th>
                    <th>Q2 <span *ngIf="q2Status">(Status:{{q2Status}})</span></th>
                    <th>Q3 <span *ngIf="q3Status">(Status:{{q3Status}})</span></th>
                    <th>Q4 <span *ngIf="q4Status">(Status:{{q4Status}})</span></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-annexur>
                <tr>
                    <td>
                        {{annexur.title}}
                    </td>
                    <td pEditableColumn [ngClass]="{'editable': isEditableQ1}" [style]="{'width':'200px'}">
                        <div *ngIf="!isEditableQ1">
                            {{annexur.Q1}}
                        </div>
                        <p-cellEditor *ngIf="isEditableQ1">
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="annexur.Q1">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{annexur.Q1}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn [ngClass]="{'editable': isEditableQ2}" [style]="{'width':'200px'}">
                        <div *ngIf="!isEditableQ2">
                            {{annexur.Q2}}
                        </div>
                        <p-cellEditor *ngIf="isEditableQ2">
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="annexur.Q2">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{annexur.Q2}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn [ngClass]="{'editable': isEditableQ3}" [style]="{'width':'200px'}">
                        <div *ngIf="!isEditableQ3">
                            {{annexur.Q3}}
                        </div>
                        <p-cellEditor *ngIf="isEditableQ3">
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="annexur.Q3">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{annexur.Q3}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn [ngClass]="{'editable': isEditableQ4}" [style]="{'width':'200px'}">
                        <div *ngIf="!isEditableQ4">
                            {{annexur.Q4}}
                        </div>
                        <p-cellEditor *ngIf="isEditableQ4">
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="annexur.Q4">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{annexur.Q4}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-table *ngIf="tableType2" [value]="annexuresData" styleClass="p-datatable-gridlines top-20">
            <ng-template pTemplate="header">
                <tr>
                    <th>Sector</th>
                    <th colspan="3">Q1 <span *ngIf="q1Status">(Status:{{q1Status}})</span></th>
                    <th colspan="3">Q2 <span *ngIf="q2Status">(Status:{{q2Status}})</span></th>
                    <th colspan="3">Q3 <span *ngIf="q3Status">(Status:{{q3Status}})</span></th>
                    <th colspan="3">Q4 <span *ngIf="q4Status">(Status:{{q4Status}})</span></th>
                </tr>
                <tr>
                    <th></th>
                    <th>O/s Balance</th>
                    <th>Gross NPA</th>
                    <th>% NPA</th>
                    <th>O/s Balance</th>
                    <th>Gross NPA</th>
                    <th>% NPA</th>
                    <th>O/s Balance</th>
                    <th>Gross NPA</th>
                    <th>% NPA</th>
                    <th>O/s Balance</th>
                    <th>Gross NPA</th>
                    <th>% NPA</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-annexur>
                <tr>
                    <td>
                        {{annexur.title}}
                    </td>
                    <td pEditableColumn [ngClass]="{'editable': isEditableQ1}">
                        <div *ngIf="!isEditableQ1">
                            {{annexur.grossNPAQ1}}
                        </div>
                        <p-cellEditor *ngIf="isEditableQ1">
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="annexur.grossNPAQ1">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{annexur.grossNPAQ1}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn [ngClass]="{'editable': isEditableQ1}">
                        <div *ngIf="!isEditableQ1">
                            {{annexur.osBalanceQ1}}
                        </div>
                        <p-cellEditor *ngIf="isEditableQ1">
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="annexur.osBalanceQ1">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{annexur.osBalanceQ1}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="annexur.percentileNPAQ1">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{findPercentile('grossNPAQ1','osBalanceQ1','percentileNPAQ1',annexur)}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn [ngClass]="{'editable': isEditableQ2}">
                        <div *ngIf="!isEditableQ2">
                            {{annexur.grossNPAQ2}}
                        </div>
                        <p-cellEditor *ngIf="isEditableQ2">
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="annexur.grossNPAQ2">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{annexur.grossNPAQ2}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn [ngClass]="{'editable': isEditableQ2}">
                        <div *ngIf="!isEditableQ2">
                            {{annexur.osBalanceQ2}}
                        </div>
                        <p-cellEditor *ngIf="isEditableQ2">
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="annexur.osBalanceQ2">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{annexur.osBalanceQ2}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <div *ngIf="!isEditableQ2">
                            {{annexur.percentileNPAQ2}}
                        </div>
                        <p-cellEditor *ngIf="isEditableQ2">
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="annexur.percentileNPAQ2">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{findPercentile('grossNPAQ2','osBalanceQ2','percentileNPAQ2',annexur)}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn [ngClass]="{'editable': isEditableQ3}">
                        <div *ngIf="!isEditableQ3">
                            {{annexur.grossNPAQ3}}
                        </div>
                        <p-cellEditor *ngIf="isEditableQ3">
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="annexur.grossNPAQ3">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{annexur.grossNPAQ3}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn [ngClass]="{'editable': isEditableQ3}">
                        <div *ngIf="!isEditableQ3">
                            {{annexur.osBalanceQ3}}
                        </div>
                        <p-cellEditor *ngIf="isEditableQ3">
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="annexur.osBalanceQ3">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{annexur.osBalanceQ3}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="annexur.percentileNPAQ3">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{findPercentile('grossNPAQ3','osBalanceQ3','percentileNPAQ3',annexur)}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn [ngClass]="{'editable': isEditableQ4}">
                        <div *ngIf="!isEditableQ4">
                            {{annexur.grossNPAQ4}}
                        </div>
                        <p-cellEditor *ngIf="isEditableQ4">
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="annexur.grossNPAQ4">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{annexur.grossNPAQ4}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn [ngClass]="{'editable': isEditableQ4}">
                        <div *ngIf="!isEditableQ4">
                            {{annexur.osBalanceQ4}}
                        </div>
                        <p-cellEditor *ngIf="isEditableQ4">
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="annexur.osBalanceQ4">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{annexur.osBalanceQ4}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="number" [(ngModel)]="annexur.percentileNPAQ4">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{findPercentile('grossNPAQ4','osBalanceQ4','percentileNPAQ4',annexur)}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td><b>Total</b></td>
                    <td class="sum">
                        {{findSum('grossNPAQ1')|number : '1.2-2'}}
                    </td>
                    <td class="sum">
                        {{findSum('osBalanceQ1')|number : '1.2-2'}}
                    </td>
                    <td class="sum">
                        {{findPercentileSum(findSum('grossNPAQ1'),findSum('osBalanceQ1'))}}
                    </td>
                    <td class="sum">
                        {{findSum('grossNPAQ2')|number : '1.2-2'}}
                    </td>
                    <td class="sum">
                        {{findSum('osBalanceQ2')|number : '1.2-2'}}
                    </td>
                    <td class="sum">
                        {{findPercentileSum(findSum('grossNPAQ2'),findSum('osBalanceQ2'))}}
                    </td>
                    <td class="sum">
                        {{findSum('grossNPAQ3')|number : '1.2-2'}}
                    </td>
                    <td class="sum">
                        {{findSum('osBalanceQ3')|number : '1.2-2'}}
                    </td>
                    <td class="sum">
                        {{findPercentileSum(findSum('grossNPAQ3'),findSum('osBalanceQ3'))}}
                    </td>
                    <td class="sum">
                        {{findSum('grossNPAQ4')|number : '1.2-2'}}
                    </td>
                    <td class="sum">
                        {{findSum('osBalanceQ4')|number : '1.2-2'}}
                    </td>
                    <td class="sum">
                        {{findPercentileSum(findSum('grossNPAQ4'),findSum('osBalanceQ4'))}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div>
            <p-dropdown class="quarter" [options]="quarters" [(ngModel)]="quarter" placeholder="Select a Quarter*"
                (onChange)="getQuarterData($event.value)"></p-dropdown>
        </div>
        <div *ngIf="(isMaker || isChecker) && isQuarter">
            <textarea [disabled]="!isChecker || status!='SUBMITTED'" [(ngModel)]="comments" class="comment"
                placeholder="Comment here..."></textarea>
        </div>
        <div *ngIf="isMaker && isQuarter" class="text-center mt-2 mb-2 pt-2">
            <button pButton class="p-button-primary no-label no-icon mr-2"
                [disabled]="status=='SUBMITTED' || status=='APPROVED' || !quarterFlag " (click)="saveOrUpdateData()">
                <!-- {{buttonVariable}}{} -->
                Save
            </button>
            <button pButton type="button" label="Submit" class=" ml-2 p-button-success"
                [disabled]="status=='SUBMITTED' || status==null || status=='APPROVED'  || !quarterFlag"
                (click)="confirm('SUBMITTED')"></button>
        </div>
        <div *ngIf="isChecker && isQuarter" class="text-center mt-2 mb-2 pt-2">
            <button pButton icon="pi-pi-times" [disabled]="status!='SUBMITTED' || !quarterFlag"
                (click)="confirm('REJECTED')" label="Reject" class="p-button-primary mr-2"></button>
            <button pButton type="button" [disabled]="status!='SUBMITTED'|| !quarterFlag" (click)="confirm('APPROVED')"
                label="Approve" class=" ml-2 p-button-success"></button>
        </div>
    </div>
</div>
<p-toast position="top-right"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>