<p-toast position="top-right"></p-toast>
<div style="margin-top:10px;"></div>
<form class="userForm" [formGroup]="reportForm"  style="margin-bottom: 81px !important;">
  <div >
    <div class="p-col">
        <h3 style="text-align: center;"  class="m-0 pt-1 pb-2" >{{heading}}</h3>
    </div>
    <div class="p-fluid p-formgrid p-grid pt-2">
          <div class="p-field p-col-12 p-md-6 form-group" >
              <span class="p-float-label">
                  <!-- <input pInputText type="text" formControlName="subsidiaryCategory" > -->
                  <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel" formControlName="subsidiaryCategory"   >
                    <option value="Associate">Associate</option>
                    <option value="Joint Venture">Joint Venture</option>
                    <option value="Subsidiary">Subsidiary</option>
                 </select>
                  <label for="division" *ngIf="!reportForm.get('subsidiaryCategory').value">Subsidiary/Associate/Joint Venture Category</label>
                  
              </span>
              <small *ngIf="reportForm.get('subsidiaryCategory').invalid && reportForm.get('subsidiaryCategory').touched" class="text-danger">Venture Category is Required</small> 
            </div>
         
          <div class="p-field p-col-12 p-md-6" >
              <span class="p-float-label">
                  <!-- <input pInputText type="text" formControlName="operationArea"> -->
                  <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel" formControlName="operationArea"   >
                    <option value="Foreign">Foreign</option>
                    <option value="India">India</option>
                 </select>
                  <label for="division" *ngIf="!reportForm.get('operationArea').value">Area of operation of related party</label>
              </span>
              <small *ngIf="reportForm.get('operationArea').invalid && reportForm.get('operationArea').touched" class="text-danger">Area of operation is Required</small>
          </div>
    </div>

    <div class="p-fluid p-formgrid p-grid pt-2">
       <div class="p-field p-col-12 p-md-6" >
              <span class="p-float-label">
                  <input pInputText formControlName="subsidiaryCode" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                  <label for="division">Subsidiary/Associate/Joint Venture Code</label>
              </span>
              <small *ngIf="reportForm.get('subsidiaryCode').invalid && reportForm.get('subsidiaryCode').touched" class="text-danger">Joint Venture Code is Required</small>
            </div>
          <div class="p-field p-col-12 p-md-6" >
              <span class="p-float-label">
                  <input pInputText formControlName="subsidiaryName" type="text"  >
                  <label for="division">Subsidiary/Associate/Joint Venture Name</label>
              </span>
              <small *ngIf="reportForm.get('subsidiaryName').invalid && reportForm.get('subsidiaryName').touched" class="text-danger">Joint Venture Name is Required</small>
            </div>
    </div>

    <div class="p-fluid p-formgrid p-grid pt-2">
       <div class="p-field p-col-12 p-md-6" >
              <span class="p-float-label">
                  <input formControlName="activityName" pInputText type="text"  >
                  <label for="division">Activity Name</label>
              </span>
              <small *ngIf="reportForm.get('activityName').invalid && reportForm.get('activityName').touched" class="text-danger">Activity Name is Required</small>
            </div>
          <div class="p-field p-col-12 p-md-6" >
              <span class="p-float-label">
                  <input pInputText formControlName="regulatoryName" type="text"  >
                  <label for="division">Regulator Name</label>
              </span>
              <small *ngIf="reportForm.get('regulatoryName').invalid && reportForm.get('regulatoryName').touched" class="text-danger">Regulator Name is Required</small>
            </div>
    </div>
 
    <p-accordion>
        <p-accordionTab  header="Part A - Select Financial Parameters"  class="p-accordionTab" [selected]="partA">
              <div class="p-fluid p-formgrid p-grid pt-2" >
                     <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="balanceSheetFootings" type="number"  (keypress)="numberOnlyWithDismal($event)"  (keypress)="numberOnlyWithDismal($event)" >
                                <label for="division">Balance Sheet Footings(Total Assets)</label>
                            </span>
                            <small *ngIf="reportForm.get('balanceSheetFootings').invalid && reportForm.get('balanceSheetFootings').touched" class="text-danger">Total Assets is Required</small>
                        </div>
                        <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="capitalFunds" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Capital Funds*</label>
                            </span>
                            <small *ngIf="reportForm.get('capitalFunds').invalid && reportForm.get('capitalFunds').touched" class="text-danger">Capital Funds* is Required</small>
                        </div>
                  </div>

                  <div class="p-fluid p-formgrid p-grid pt-2">
                     <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="minCapitalAdequacyPrescribed" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Minimum Capital Prescribed by Regulators (if any)</label>
                            </span>
                            <small *ngIf="reportForm.get('minCapitalAdequacyPrescribed').invalid && reportForm.get('minCapitalAdequacyPrescribed').touched" class="text-danger">Minimum Capital Prescribed is Required</small>
                        </div>
                        <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="minCapitalPrescribed" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Minimum Capital Adequacy Prescribed by Regulators (%)</label>
                            </span>
                            <small *ngIf="reportForm.get('minCapitalPrescribed').invalid && reportForm.get('minCapitalPrescribed').touched" class="text-danger">Minimum Capital Adequacy is Required</small>
                        </div>
                  </div>

                  <div class="p-fluid p-formgrid p-grid pt-2">
                     <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="capitalAdequacyRatio" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Capital Adequacy Ratio(Actual) (%)</label>
                            </span>
                            <small *ngIf="reportForm.get('capitalAdequacyRatio').invalid && reportForm.get('capitalAdequacyRatio').touched" class="text-danger">Capital Adequacy Ratio is Required</small>
                        </div>
                        <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="notionalCapitalFunds" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Notional Capital Funds**</label>
                            </span>
                            <small *ngIf="reportForm.get('notionalCapitalFunds').invalid && reportForm.get('notionalCapitalFunds').touched" class="text-danger">Notional Capital Funds is Required</small>
                        </div>
               
                  </div>
                  <div class="p-fluid p-formgrid p-grid pt-2">

                     <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="riskWeightedAssets" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Risk-Weighted Assets**</label>
                            </span>
                            <small *ngIf="reportForm.get('riskWeightedAssets').invalid && reportForm.get('riskWeightedAssets').touched" class="text-danger">Risk-Weighted Assets is Required</small>
                        </div>
                        <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="notionalCapitalAdequacyRatio" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Notional Capital Adequacy Ratio**(%)</label>
                            </span>
                            <small *ngIf="reportForm.get('notionalCapitalAdequacyRatio').invalid && reportForm.get('notionalCapitalAdequacyRatio').touched" class="text-danger">Risk-Weighted Assets is Required</small>
                        </div>
                       
               
                  </div>

                  <div class="p-fluid p-formgrid p-grid pt-2">
                    <div class="p-field p-col-12 p-md-6" >
                        <span class="p-float-label">
                            <input pInputText formControlName="capitalAndReservesInBalanceSheet" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                            <label for="division">Capital & Reserves as in the Balance Sheet</label>
                        </span>
                        <small *ngIf="reportForm.get('capitalAndReservesInBalanceSheet').invalid && reportForm.get('capitalAndReservesInBalanceSheet').touched" class="text-danger">Capital & Reserves In Balance Sheet is Required</small>
                    </div>
                     <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="totalDeposits" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Total Deposits</label>
                            </span>
                            <small *ngIf="reportForm.get('totalDeposits').invalid && reportForm.get('totalDeposits').touched" class="text-danger">Total Deposits  is Required</small>
                        </div>
                     
               
                  </div>

                  <div class="p-fluid p-formgrid p-grid pt-2">
                    <div class="p-field p-col-12 p-md-6" >
                        <span class="p-float-label">
                            <input pInputText formControlName="totalBorrowings" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                            <label for="division">Total Borrowings</label>
                        </span>
                        <small *ngIf="reportForm.get('totalBorrowings').invalid && reportForm.get('totalBorrowings').touched" class="text-danger">Total Borrowings is Required</small>
                    </div>
                     <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="profitBeforeTax" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Profit before Tax</label>
                            </span>
                            <small *ngIf="reportForm.get('profitBeforeTax').invalid && reportForm.get('profitBeforeTax').touched" class="text-danger">Profit Before Tax is Required</small>
                        </div>
                     
                  </div>

                  <div class="p-fluid p-formgrid p-grid pt-2">
                    <div class="p-field p-col-12 p-md-6" >
                        <span class="p-float-label">
                            <input pInputText formControlName="profitAfterTaxOrReturn" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                            <label for="division">Profit after Tax/Return</label>
                        </span>
                        <small *ngIf="reportForm.get('profitAfterTaxOrReturn').invalid && reportForm.get('profitAfterTaxOrReturn').touched" class="text-danger">Profit After Tax Or Return is Required</small>
                    </div>
                     <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="surplusOrLoss" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Surplus/(Loss) on Profit & Loss a/c carried forward</label>
                            </span>
                            <small *ngIf="reportForm.get('surplusOrLoss').invalid && reportForm.get('surplusOrLoss').touched" class="text-danger">Surplus & Loss is Required</small>
                        </div>
                     
               
                   </div>

                   <div class="p-fluid p-formgrid p-grid pt-2">
                    <div class="p-field p-col-12 p-md-6" >
                        <span class="p-float-label">
                            <input pInputText formControlName="returnOnAssets" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                            <label for="division">Return on Assets</label>
                        </span>
                        <small *ngIf="reportForm.get('returnOnAssets').invalid && reportForm.get('returnOnAssets').touched" class="text-danger">Return On Assets is Required</small>
                    </div>
                     <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="returnOnEquity" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Return on Equity</label>
                            </span>
                            <small *ngIf="reportForm.get('returnOnEquity').invalid && reportForm.get('returnOnEquity').touched" class="text-danger">Equity is Required</small>
                        </div>
                      
                   </div>

                   <div class="p-fluid p-formgrid p-grid pt-2">
                    <div class="p-field p-col-12 p-md-6" >
                        <span class="p-float-label">
                            <input pInputText formControlName="totalDividendsPaid" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                            <label for="division">Total Dividends Paid</label>
                        </span>
                        <small *ngIf="reportForm.get('totalDividendsPaid').invalid && reportForm.get('totalDividendsPaid').touched" class="text-danger">Total Dividends Paid is Required</small>
                    </div>
                     <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="grossLoansAndAdvances" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Loans and Advances-Gross</label>
                            </span>
                            <small *ngIf="reportForm.get('grossLoansAndAdvances').invalid && reportForm.get('grossLoansAndAdvances').touched" class="text-danger">Loans & Advances is Required</small>
                        </div>
                    
               
                   </div>

                   <div class="p-fluid p-formgrid p-grid pt-2">
                    <div class="p-field p-col-12 p-md-6" >
                        <span class="p-float-label">
                            <input pInputText formControlName="grossNonPerformingLoans" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                            <label for="division">Non-performing Loans - Gross</label>
                        </span>
                        <small *ngIf="reportForm.get('grossNonPerformingLoans').invalid && reportForm.get('grossNonPerformingLoans').touched" class="text-danger">Non Performing Loans is Required</small>
                    </div>
                     <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="nplProvisionsHeld" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Provisions held against Non-performing loans</label>
                            </span>
                            <small *ngIf="reportForm.get('nplProvisionsHeld').invalid && reportForm.get('nplProvisionsHeld').touched" class="text-danger"> Non-performing loans is Required</small>
                        </div>
                       
                   </div>

                   <div class="p-fluid p-formgrid p-grid pt-2">
                    <div class="p-field p-col-12 p-md-6" >
                        <span class="p-float-label">
                            <input pInputText formControlName="nplProvisionsRequired" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                            <label for="division">Provisions required against Non-performing loans</label>
                        </span>
                        <small *ngIf="reportForm.get('nplProvisionsRequired').invalid && reportForm.get('nplProvisionsRequired').touched" class="text-danger">Non-performing loans is Required</small>
                    </div>
                     <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="totalInvestmentsBookValue" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Total Investments Book value</label>
                            </span>
                            <small *ngIf="reportForm.get('totalInvestmentsBookValue').invalid && reportForm.get('totalInvestmentsBookValue').touched" class="text-danger">Investments Book Value is Required</small>
                        </div>
                       
                   </div>

                   <div class="p-fluid p-formgrid p-grid pt-2">
                    <div class="p-field p-col-12 p-md-6" >
                        <span class="p-float-label">
                            <input pInputText formControlName="totalInvestmentsMarketValue" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                            <label for="division">Total Investments Market Value</label>
                            <small *ngIf="reportForm.get('totalInvestmentsMarketValue').invalid && reportForm.get('totalInvestmentsMarketValue').touched" class="text-danger">Investments Market-Value is Required</small>
                        </span>
                    </div>
                     <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="nonPerformingInvestments" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Non-performing Investments</label>
                            </span>
                            <small *ngIf="reportForm.get('nonPerformingInvestments').invalid && reportForm.get('nonPerformingInvestments').touched" class="text-danger">Non-Performing Investments is Required</small>
                        </div>
                   
                   </div>

                   <div class="p-fluid p-formgrid p-grid pt-2">
                    <div class="p-field p-col-12 p-md-6" >
                        <span class="p-float-label">
                            <input pInputText formControlName="npiProvisionsHeld" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                            <label for="division">Provisions held against Non-performing Investments</label>
                        </span>
                        <small *ngIf="reportForm.get('npiProvisionsHeld').invalid && reportForm.get('npiProvisionsHeld').touched" class="text-danger">Npi Provisions Held is Required</small>
                    </div>
                     <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="npiProvisionsRequired" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Provisions required against Non-performing Investments</label>
                            </span>
                            <small *ngIf="reportForm.get('npiProvisionsRequired').invalid && reportForm.get('npiProvisionsRequired').touched" class="text-danger">npi Provisions is Required</small>
                        </div>
                        <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="contingentLiabilities" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Contingent Liabilities / Off-Balance Sheet Exposures</label>
                            </span>
                            <small *ngIf="reportForm.get('contingentLiabilities').invalid && reportForm.get('contingentLiabilities').touched" class="text-danger">Contingent Liabilities is Required</small>
                        </div>
               
                   </div>
                   
                 
        </p-accordionTab>
        <p-accordionTab header="Part B - Large Exposures and Ownership Details" [selected]="partB">
            <p style="font-weight: 500;">Large Credits(Substantial Exposures exceeding 10% of Capital Funds)</p>
              <!-- <div class="p-fluid p-formgrid p-grid pt-2">
                     <div class="p-field p-col-12 p-md-12" >
                            <span class="p-float-label">
                                <input pInputText formControlName="largeCredits" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Large Credits(Substantial Exposures exceeding 10% of Capital Funds)</label>
                            </span>
                            <small *ngIf="reportForm.get('largeCredits').invalid && reportForm.get('largeCredits').touched" class="text-danger">Large Credits is Required</small>
                        </div>
                   </div> -->
                   
                   <div class="p-fluid p-formgrid p-grid pt-2">
                     <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="noOfCounterparties" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">No. of CounterParties</label>
                            </span>
                            <small *ngIf="reportForm.get('noOfCounterparties').invalid && reportForm.get('noOfCounterparties').touched" class="text-danger">Counter Parties is Required</small>
                        </div> 
                             
                     <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="aggregateExposureAmount" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Aggregate Exposure (Amount)</label>
                            </span>
                            <small *ngIf="reportForm.get('aggregateExposureAmount').invalid && reportForm.get('aggregateExposureAmount').touched" class="text-danger">Exposure Amount is Required</small>
                        </div>
                        <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="aggregateExposurePercentage" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Aggregate Exposure (% of Capital Funds)</label>
                            </span>
                            <small *ngIf="reportForm.get('aggregateExposurePercentage').invalid && reportForm.get('aggregateExposurePercentage').touched" class="text-danger"> Exposure Percentage is Required</small>
                        </div>
               
                   </div>
        </p-accordionTab>
        <p-accordionTab header="Ownership Summary" [selected]="ownershipSummary">
              <div class="p-fluid p-formgrid p-grid pt-2">

                     <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="investmentInCapital" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">Investment in Capital by Parent Bank(Amount)</label>
                            </span>
                            <small *ngIf="reportForm.get('investmentInCapital').invalid && reportForm.get('investmentInCapital').touched" class="text-danger">Investment In Capital is Required</small>
                        </div>
                        <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="percentageOfSharesHeld" type="number"  (keypress)="numberOnlyWithDismal($event)"  >
                                <label for="division">% of Shares held by Parent Bank</label>
                            </span>
                            <small *ngIf="reportForm.get('percentageOfSharesHeld').invalid && reportForm.get('percentageOfSharesHeld').touched" class="text-danger">Percentage Of Shares Held is Required</small>
                        </div>
               
                   </div>

                   <div class="p-fluid p-formgrid p-grid pt-2">

                     <div class="p-field p-col-12 p-md-6" >
                            <span class="p-float-label">
                                <input pInputText formControlName="percentageOfTotalCapital" type="number"  (keypress)="numberOnlyWithDismal($event)">
                                <label for="division">% of Total Captial held by Parent Bank (including Tier || Capital )</label>
                            </span>
                            <small *ngIf="reportForm.get('percentageOfTotalCapital').invalid && reportForm.get('percentageOfTotalCapital').touched" class="text-danger">Percentage Of Total Capital is Required</small>
                        </div>
                   </div>

        </p-accordionTab>
    </p-accordion>
    <div class="p-fluid p-formgrid p-grid pt-2" style="margin-top: 20px;">
        <div class="p-field p-col-12 p-md-12 form-group " >
            <span >
                <label for="division" *ngIf="!isNew">Comments</label>
                <textarea id="comments" name="comments" *ngIf="isMaker && !isNew" style="width: 100%;" class="form-control" disabled></textarea>
                <textarea id="comments" name="comments" *ngIf="isChecker" style="width: 100%;;"  class="form-control commenttext" ></textarea>
                <!-- <input pInputText type="text" id="comments" > -->
            </span>
        
        </div>
    </div>
    <p style="color: red;">* As defined by regulators of Subsidiaries / Associates / Joint Ventures.</p>
    <p style="color: red;">** Calculated as per extant DBOD guidelines</p>

 
 
<div class="row" style="padding-bottom:31px;padding-top: 25px;">
    <button  pButton (click)="saveData('SUBMITTED')" *ngIf="!isChecker && reportForm.valid"   label="save" icon="pi pi-check" [disabled]="isView==true && rejectedFlag==false"  type="submit" iconPos="left" class="mb-5" style="float:right;"></button>
    <button  pButton (click)="saveData('SUBMITTED')" *ngIf="rejectedFlag"   label="save" icon="pi pi-check"   type="submit" iconPos="left" class="mb-5" style="float:right;"></button>
    <button pButton (click)="saveErrorMessage()" *ngIf="!isChecker && reportForm.invalid" label="save" type="submit" icon="pi pi-check" iconPos="left" class="mb-5 orange-button" style="float:right;background: #A20A3A;"></button>
    <button pButton (click)="saveData('APPROVED')" *ngIf="isChecker" label="Approve" icon="pi pi-check" [disabled]="isView==true"  type="submit" iconPos="left" class="mb-5 ml-2" style="float:right;margin-left:5px"></button>
    <button  pButton (click)="saveData('REJECTED')" *ngIf="isChecker" label="Reject" icon="pi pi-check" [disabled]="isView==true"  type="submit" iconPos="left" class="mb-5 ml-2" style="float:right;background:#a20a3a"></button>
    <button pButton type="button" label="Cancel" [routerLink]="['/report-on-operation']"  class="p-button-raised p-button-secondary mr-2 mb-5"></button>
</div>
    


</div>

</form>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
