<div class="invite-digi-comp">
<div class="row p-3">
    <form [formGroup]="usersForm" (ngSubmit)="getUserFormData(usersForm.value)">
        <div class="col-12">
            <div class="dashboardHeading">
                <h2 class="invite">Invite  To Digi<span class="dg-comp-span">Comp+</span></h2>
                <!-- <button class="btn invite-btn" [routerLink]="['/customer/inviteSheet']"> <i class="icon-user"></i>Bulk
                    Invite</button> -->
                <button class="  invite-btn position" [routerLink]="['/customer/inviteSheet']"> <i
                        class="icon-user "></i><span class="ml-2">Bulk Invite</span></button>
            </div>

            
        </div>
        <div class="task" formArrayName="permissionTasks"
            *ngFor="let item of usersForm.get('permissionTasks')['controls']; let i = index;">
            <div class="invite-table row mt-4" [formGroupName]="i">
                <div class="col-6 invite-digi-col">
                    <div>
                    <div class="inputmargin positioning">
                            <label for="Student" class="students col-3">Select:</label>
                            <p-radioButton name="vendorType" value="VENDOR" inputId="vendor"
                                formControlName="vendorType">
                            </p-radioButton>
                            <label for="vendor" class="student-radio ml-2 text-black font-medium">Vendor</label>
                            <p-radioButton name="vendorType" value="CUSTOMER" class="ml-2" inputId="customer"
                                formControlName="vendorType"></p-radioButton>
                            <label for="customer" class="student-radio ml-2 text-black font-medium">Customer</label>
                        </div>
                        <div app-errors class="error-msg-11" [control]="item.get('vendorType')"
                            [submit]="formSubmitAttempt" label="vendorType ">
                        </div>
                    </div>

                    <div>
                        <div class="mt-4">
                            <label for="Student" class="students col-3">FIrst Name<i class="red-star">*</i></label>
                            <input type="text" class="pText col-6" pInputText formControlName="firstName"
                                [ngClass]="{'is-invalid':formSubmitAttempt && item.get('firstName').errors}">
                        </div>
                        <div app-errors class="error-msg-11" [control]="item.get('firstName')"
                            [submit]="formSubmitAttempt" label="First Name"></div>
                    </div>
                    <div>
                        <div class="mt-4">
                            <label for="Student" class="students col-3">Email ID<i class="red-star">*</i></label>
                            <input type="text" class="pText col-6" pInputText formControlName="emailId"
                                [ngClass]="{'is-invalid':formSubmitAttempt && item.get('emailId').errors}">
                        </div>
                        <div app-errors class="error-msg-11" [control]="item.get('emailId')"
                            [submit]="formSubmitAttempt" label="Email Id"></div>

                    </div>


                    <!-- <div>
                        <div class="mt-4">
                            <div class="invite-digi">
                                <label for="Student" class="students col-3">Seek Data<i class="red-star">*</i></label>

                                <input type='checkbox' class="checkbox" [checked]="checked"
                                    formControlName="financialInformationFlag">
                                <p>Financial Information</p>
                            </div>
                        </div>
                    </div> -->




                </div>
                <div class="col-6 invite-digi-col">
                    <div class="mt-4">
                        <label for="Student" class="students col-4">Company Name<i class="red-star">*</i></label>
                        <input type="text" class="pText col-6" pInputText formControlName="name"
                            [ngClass]="{'is-invalid':formSubmitAttempt && item.get('name').errors}">
                    </div>
                    <div app-errors class="error-msg-10" [control]="item.get('name')" [submit]="formSubmitAttempt"
                        label="Company Name">
                    </div>
                    <div>
                        <div class="mt-4">
                            <label for="Student" class="students col-4">Last Name<i class="red-star">*</i></label>
                            <input type="text" class="pText col-6" pInputText formControlName="lastName"
                                [ngClass]="{'is-invalid':formSubmitAttempt && item.get('lastName').errors}">
                        </div>
                        <div app-errors class="error-msg-10" [control]="item.get('lastName')"
                            [submit]="formSubmitAttempt" label="Last Name"></div>
                    </div>

                    <div>
                        <div class="invite-digi-phone mt-4">
                            <label for="Student" class="students col-4"> Office Phone Number<i
                                    class="red-star">*</i></label>
                            <input type="text" class="pText col-6" pInputText formControlName="phoneNumber"  (keypress)="numberOnly($event)" [ng2TelInputOptions]="{initialCountry:countryCode,separateDialCode:true}"
                            (hasError)="onError($event)" (countryChange)="onCountryChange($event)" ng2TelInput
                                [ngClass]="{'is-invalid':formSubmitAttempt && item.get('phoneNumber').errors}">
                        </div>
                        <!-- <div app-errors class="error-msg-10" [control]="item.get('phoneNumber')"
                            [submit]="formSubmitAttempt" label="Phone Number"></div> -->
                            <div app-errors class="error-msg-10" [control]="item.get('phoneNumber')" [submit]="formSubmitAttempt"
                            label="Phone Number"></div>
                            <div class="error-msg-10" *ngIf="(item.get('phoneNumber').touched && item.get('phoneNumber').value!='') && !hasError">
                                Invalid Phone Number
                            </div>
                    </div>
                    

                </div>
                <div class="row">
                    <div class="col-6 invite-digi-col">
                    <div>
                        <div class="mt-4">
                            <div class="invite-digi">
                                <label for="Student" class="students col-3">Seek Data<i class="red-star">*</i></label>
<div class="financheck">
                                <input type='checkbox' class="checkbox" [checked]="checked"
                                    formControlName="financialInformationFlag">
                                <p>Financial Information</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6"></div>
                </div>
            </div>
            
            <div class="addbutton">
                <a (click)="addItem()" class="add"> <i class="icon-add icon"></i> Add More Invite</a>
                <span *ngIf=" i > 0">
                    <a (click)="removeBtn(i)" class="redbtn"> <i class="icon-delete icon"></i> Remove Invite</a>
                </span>

            </div> 
        </div>
        <div class="buttons inv-footer-position mt-5">
            <button class="btn save" [routerLink]="['/customer/dashboard']">CANCEL</button>
            <button class="btn next">SEND INVITE</button>
        </div>
    </form>
</div>
</div>