<p-toast position="top-right"></p-toast>

  
    <div class="p-col">
        <h3 style="text-align: center;"  class="m-0 pt-1 pb-2" >{{heading}}</h3>
    </div>

    <div *ngIf="generalinformationFlag">
    <form class="userForm" [formGroup]="generalinformationForm"  style="margin-bottom: 81px !important;">
    <div class="p-fluid p-formgrid p-grid pt-2">
          <div class="p-field p-col-12 p-md-6 form-group" >
            <span class="p-float-label">
                <input id="float-input" type="text" formControlName="returnName" pInputText> 
                <label for="float-input">Return Name<i class="required">*</i></label>
            </span>
              <div *ngIf="f.returnName.invalid && (f.returnName.touched)" class="error-msg">
                <div *ngIf="f.returnName.errors.required">Return Name is required</div>
                </div>
          </div>
         

          <div class="p-field p-col-12 p-md-6" >
              <span class="p-float-label">
                  <input pInputText type="text" formControlName="returnCode">
                  <label for="division">Return Code<i class="required">*</i></label>
              </span>
              <div *ngIf="f.returnCode.invalid && (f.returnCode.touched)" class="error-msg">
                <div *ngIf="f.returnCode.errors.required">Return Code is required</div>
              </div>
          </div>
    </div>
    <div class="p-fluid p-formgrid p-grid pt-2">
        <div class="p-field p-col-12 p-md-6 form-group" >
            <span class="p-float-label">
                <input pInputText type="text" formControlName="reportingInstitution" >
                <label for="division">Reporting Institution<i class="required">*</i></label>
            </span>
            <div *ngIf="f.reportingInstitution.invalid && (f.reportingInstitution.touched)" class="error-msg">
                <div *ngIf="f.reportingInstitution.errors.required">Reporting Institution is required</div>
              </div>
        </div>
       
        <div class="p-field p-col-12 p-md-6" >
            <span class="p-float-label">
                <input pInputText type="text" formControlName="bankCode">
                <label for="division">Bank Code<i class="required">*</i></label>
            </span>
            <div *ngIf="f.bankCode.invalid && (f.bankCode.touched)" class="error-msg">
                <div *ngIf="f.bankCode.errors.required">Bank Code is required</div>
              </div>
        </div>
   </div>
   <div class="p-fluid p-formgrid p-grid pt-2">
    <div class="p-field p-col-12 p-md-6 form-group" >
        <span class="p-float-label">
            <input pInputText type="text" formControlName="address" >
            <label for="division">Address<i class="required">*</i></label>
        </span>
        <div *ngIf="f.address.invalid && (f.address.touched)" class="error-msg">
            <div *ngIf="f.address.errors.required">Address is required</div>
          </div>  
    </div>
   
    <div class="p-field p-col-12 p-md-6" >
        <span class="p-float-label">
            <input pInputText type="text" formControlName="quarterEnded">
            <label for="division">For the Quarter Ended<i class="required">*</i></label>
        </span>
        <div *ngIf="f.quarterEnded.invalid && (f.quarterEnded.touched)" class="error-msg">
            <div *ngIf="f.quarterEnded.errors.required"> For the Quarter Ended is required</div>
          </div>
    </div>
  </div>
  <div class="p-fluid p-formgrid p-grid pt-2">
    <div class="p-field p-col-12 p-md-6 form-group" >
        <span class="p-float-label">
            <input pInputText type="text" formControlName="reportingFrequency" >
            <label for="division">Reporting Frequency<i class="required">*</i></label>
        </span>
        <div *ngIf="f.reportingFrequency.invalid && (f.reportingFrequency.touched)" class="error-msg">
            <div *ngIf="f.reportingFrequency.errors.required"> Reporting Frequency is required</div>
          </div>
    </div>
   
    <div class="p-field p-col-12 p-md-6" >
        
        <span class="p-float-label">
            <input pInputText type="" formControlName="dateOfReport" onfocus="(this.type='date')" onblur="(this.type='text')">
            <label for="division">Date of Report<i class="required">*</i></label>
        </span>
        <div *ngIf="f.dateOfReport.invalid && (f.dateOfReport.touched)" class="error-msg">
            <div *ngIf="f.dateOfReport.errors.required">Date of Report is required</div>
          </div>
    </div>
  </div>
  <div class="p-fluid p-formgrid p-grid pt-2">
    <div class="p-field p-col-12 p-md-6 form-group" >
        <span class="p-float-label">
            <input pInputText type="text" formControlName="status" >
            <label for="division">Status<i class="required">*</i></label>
        </span>
        <div *ngIf="f.status.invalid && (f.status.touched)" class="error-msg">
            <div *ngIf="f.status.errors.required">Status is required</div>
          </div>
    </div>
   
    <div class="p-field p-col-12 p-md-6" >
        <span class="p-float-label">
            <input pInputText type="" formControlName="dateOfAudit" onfocus="(this.type='date')" onblur="(this.type='text')">
            <label for="division">Date of Audit<i class="required">*</i></label>
        </span>
        <div *ngIf="f.dateOfAudit.invalid && (f.dateOfAudit.touched)" class="error-msg">
            <div *ngIf="f.dateOfAudit.errors.required">Date of Audit is required</div>
          </div>
    </div>
   </div>
   <div class="p-fluid p-formgrid p-grid pt-2">
    <div class="p-field p-col-12 p-md-6 form-group" >
        <span class="p-float-label">
            <input pInputText type="text" formControlName="validationStatus" >
            <label for="division">Validation Status<i class="required">*</i></label>
        </span>
        <div *ngIf="f.validationStatus.invalid && (f.validationStatus.touched)" class="error-msg">
            <div *ngIf="f.validationStatus.errors.required">Validation Status is required</div>
          </div>
    </div>
   
    <div class="p-field p-col-12 p-md-6" >
        <span class="p-float-label">
            <input pInputText type="text" formControlName="returnVersion">
            <label for="division">Return Version<i class="required">*</i></label>
        </span>
        <div *ngIf="f.returnVersion.invalid && (f.returnVersion.touched)" class="error-msg">
            <div *ngIf="f.returnVersion.errors.required">Return Version is required</div>
          </div>
    </div>
   </div>
   <div class="p-fluid p-formgrid p-grid pt-2">
    <div class="p-field p-col-12 p-md-12 form-group" >
        <span class="p-float-label">
            <input pInputText type="text" formControlName="generalRemarks" >
            <label for="division">General Remarks<i class="required">*</i></label>
        </span>
        <div *ngIf="f.generalRemarks.invalid && (f.generalRemarks.touched)" class="error-msg">
            <div *ngIf="f.generalRemarks.errors.required">General Remarks is required</div>
          </div>
    </div>
   </div>

    <div class="row" style="padding-bottom:31px;padding-top: 25px;">
        <button pButton  (click)="gotoSection()" label="Next" icon="pi pi-check"    iconPos="left" class="mb-5" style="float:right;"></button>
        <button pButton type="button" label="Cancel" [routerLink]="['/home']"  class="p-button-raised p-button-secondary mr-2 mb-5"></button>
    </div>

</form>
</div>
<div *ngIf="section1Flag" class="userForm">
    <app-ownership-general-info-section1 [generalinfo]="generalinfoData" (gotoreportgeneralInfo)="getSection1($event)"></app-ownership-general-info-section1>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
