<p-toast position="top-right">
</p-toast>
<div class="p-grid"></div>
<div class="p-col">
    <h3 style="text-align: center;padding-top: 12px;"  class="m-0 pt-1" >{{heading}}</h3>
</div>
<div class="card">
    <p-tabView>
   
        <div class="mb-2 pt-2 text-center">
            <form [formGroup]="countryForm" style="text-align:center;display: inline-flex;column-gap: 30px;">
                <p-dropdown formControlName="financialYear" [options]="dropdownYears"
                    placeholder="Select financial year*" (onChange)="getRecords()"></p-dropdown>
                <p-dropdown formControlName="quarterEndingDate" [options]="quarterEndingDate"
                    placeholder="Select a Quarter*" (onChange)="getRecords()"></p-dropdown>

            </form>
        </div>
        <div class="p-col mb-2 pt-2 text-right"  *ngIf="isMaker && isFormValid" >
            <button pButton type="button" class="mr-2 " label="Submitted Records"  (click)="AllSubmittedRecords()"></button>
            <p-button label="Rejected Records" iconPos="left" styleClass="p-button p-button-pnb btn-block"
            (click)="rejectedRecords()"></p-button>
        </div>
   
        <div *ngIf="isFormValid">     
            <p-table [value]="display"  dataKey="name" editMode="row" class="tableFixed" styleClass="p-datatable-gridlines top-20">
                <ng-template pTemplate="header">
                    <tr>
                        
                        <ng-container *ngFor="let heading of tableNames">
                        <th *ngIf="heading.name=='transactionType'">
                                
                        </th>
                        <th *ngIf="heading.name!=='transactionType'">
                            {{heading.name}}
                        </th>
                        </ng-container>
                    </tr>
                </ng-template>
            
                <ng-template pTemplate="body" let-account let-ri="rowIndex">

                    <tr [pEditableRow]="account">
                        <ng-container>
                        
                            <td pEditableColumn *ngFor="let name of tableNames" style="min-width: 200px"
                                [ngClass]="{'disabled':(!name.editable || submitted || isChecker)}" [ngStyle]="{'background-color': !name.editable || isChecker ? '#dee2e6' :'#fff' }">
                                <ng-container *ngIf="!name.editable || submitted || isChecker">
                                    {{name.title=="createdOn" || name.title=="date"?(account[name.title] |
                                        date : 'dd-MM-yyyy'):account[name.title]}}
                                </ng-container>
                                <ng-container>
                                    {{name.edit}}
                                </ng-container>
                                <p-cellEditor *ngIf="(name.editable && !submitted) && !isChecker">
                                    <ng-template pTemplate="input">
                                            <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel" id="vendor" style="width: 100%;height: 40px;" [(ngModel)]="account[name.title]" #vendorselect *ngIf="name.title=='parallelPostFactoMonitoring'">
                                                <option *ngFor="let vendor of factStatus; let i = index" [value]="vendor.value">
                                                    {{vendor.value}}
                                                </option>
                                        </select>
                                        <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel" id="vendor" style="width: 100%;height: 40px;" [(ngModel)]="account[name.title]" #vendorselect *ngIf="name.title=='postFactoMonitoringAvgTime'">
                                            <option *ngFor="let vendor of monitoringTimeStatus; let i = index" [value]="vendor.value">
                                                {{vendor.value}}
                                            </option>
                                    </select>
                                    <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel" id="vendor" style="width: 100%;height: 40px;" [(ngModel)]="account[name.title]" #vendorselect *ngIf="name.title=='manualOrITBasedMonitoring'">
                                        <option *ngFor="let vendor of itStatus; let i = index" [value]="vendor.value">
                                            {{vendor.value}}
                                        </option>
                                </select>
                                <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel" id="vendor" style="width: 100%;height: 40px;" [(ngModel)]="account[name.title]" #vendorselect *ngIf="name.title=='inHouseOrOutsourced'">
                                    <option *ngFor="let vendor of SourcedStatus; let i = index" [value]="vendor.value">
                                        {{vendor.value}}
                                    </option>
                            </select>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{account[name.title]}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                        </ng-container>
                        </tr>
                </ng-template>
            

            </p-table>
        </div>
    </p-tabView>
</div>

<div *ngIf="isFormValid">
    <div *ngIf="isChecker">
        <textarea [disabled]="submitted==true" class="comments" [(ngModel)]="comment"
            placeholder="Comment Here..."></textarea>
    </div>
    
    <div *ngIf="isMaker"   style="margin-top: 1%;text-align: center;margin-bottom:10px">
        <button pButton icon="pi"  label="Submit"   type="submit" (click)="submit('submit')" [disabled]="submitted==true " style="border: none;background: #a20a3a;color: white;" class="p-button-primary mr-2"></button>
    </div>
    
    <div *ngIf="isChecker" class="text-center mt-2 mb-2 pt-2">
        <button [disabled]="submitted==true" pButton icon="pi-pi-times" (click)="confirm('REJECTED')" label="Reject"
            class="p-button-primary mr-2"></button>
        <button [disabled]="submitted==true" pButton type="button" (click)="confirm('APPROVED')" label="Approve"
            class=" ml-2 p-button-success"></button>
    </div>
    </div>
    
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>