.tableHeading{
background: #A20A3A;
display: block;
position: relative;
font-size: larger;
color : #fff;
height: 80px;
Position: 15%; 
Bottom: 0; 
// padding: 20px;
}
.Sectorname.Parameter, .Sectorname.Recovery {
    width: 335px;
}

.p-datatable .p-datatable-tbody > tr.blank > td {
    background-color: #A20A3A !important;
    color: transparent !important;
}

th.headers {
    width: 235px;
    text-align: left;
}
.down { 
    Position: 20%; 
    Bottom: 0; 
    padding: 20px;
    } 
.comments{
    align-items: center;
}
.searchFields{
    padding: 3px;
}
.comment{display:block; padding:10px;
    margin:10px auto;
    width:500px;
    border-radius:6px;;
    border:1px solid #ccc; height:150px;
}

.search-form{list-style:none; margin:0; margin-top:-8px; padding:0; text-align:center;
    li{display:block; float:left; padding:0 5px;}
    &::after{content:""; display:block; clear:both;}
}
.search-form{
text-align: left;
}

.tableMode{
    text-align: left;
}

