.selectLabel {
    margin-top: -2.2rem;
    font-size: .75rem;
    margin-left: -5px;
}

  .b-1{
      border: 1px solid rgb(252, 250, 247);
    
  }
  .table{
      width: 100%;
      border: 1px solid rgb(10, 7, 7);
  }
  .p-grid{
      padding: 0 5px 0 5px;
      border-collapse: collapse;
  }
