<p-toast position="top-right">
</p-toast>

<div class="p-grid"></div>
<div class="p-col">
    <h3 style="text-align: center;padding-top: 12px;"  class="m-0 pt-1" >{{heading}}</h3>
</div>
<div class="card">
    <p-tabView>
        <div class="mb-2 pt-2 text-center">
                <form [formGroup]="countryForm" style="text-align:center;display: inline-flex;column-gap: 30px;">
                
                            <!-- <p-dropdown formControlName="countryName" 
                            [options]="countryDropDown"   placeholder="Select Country*"  (onChange)="getRecords($event)"></p-dropdown> -->
                            <p-dropdown formControlName="countryName" [options]="branchName"
                            placeholder="Select Branch*" (onChange)="getRecords()" ></p-dropdown>
                            <p-dropdown formControlName="financialYear" [options]="dropdownYears" placeholder="Select financial year*" (onChange)="getRecords()"></p-dropdown>
                            <p-dropdown formControlName="quarterEndingDate"  [options]="quarterEndingDate" placeholder="Select a Quarter*" (onChange)="getRecords()" ></p-dropdown>
                            <p-dropdown formControlName="sectionName"  [options]="sectionName" [(ngModel)]="selectedSection" placeholder="Select Section" (onChange)="getRecords()"></p-dropdown>
           
                </form>
                
        </div>
        <div class="p-col text-right"  *ngIf="isBorrower || isIssuer" >
            <button pButton type="button" icon="pi pi-plus" iconPos="right" class="mr-2 " label="Add" (click)="add()"></button>
        </div>
        <div class="scroller" *ngIf="isBorrower">        
            <p-table [value]="display"  dataKey="name" editMode="row" class="tableFixed" styleClass="p-datatable-gridlines top-20">
                <ng-template pTemplate="header">
                    <tr>
                        <th colspan="21">
                            Part A ( List of Customers Credit of US $2 million and above)																			
                        </th>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let heading of tableNames">
                        <th style="min-width: 300px;">
                            {{heading.name}}
                        </th>
                        </ng-container>
                        <th>Action</th>
                    </tr>
                
                </ng-template>
            
                <ng-template pTemplate="body" let-account let-ri="rowIndex">

                    <tr [pEditableRow]="account">
                        <ng-container>

                            <td pEditableColumn *ngFor="let name of tableNames" style="min-width: 300px"
                                [ngClass]="{'disabled':(!name.editable || submitted )}" [ngStyle]="{'background-color': !name.editable   || isSubmitted ? '#dee2e6' :'#fff' }">
                                <ng-container *ngIf="!name.editable || isSubmitted">
                                    {{name.title=="createdOn" || name.title=="date"?(account[name.title] |
                                        date : 'dd-MM-yyyy'):name.title=="periodFrom"?(account[name.title] |
                                        dateRange):name.title=="outstandingDebit" || name.title=="outstandingCredit" || name.title=="amountInvolvedDebit" || name.title=="amountInvolvedCredit"?
                                        (account[name.title] | number:'1.2-2' | removeComma):account[name.title]}}
                                </ng-container>
                                <ng-container>
                                    {{name.edit}}
                                </ng-container>
                                <p-cellEditor *ngIf="(name.editable) && !isSubmitted">
                                    <ng-template pTemplate="input">
                                            <input pInputText [required]="name.required"
                                            [(ngModel)]="account[name.title]"  [name]="name.title" [type]="name.inpType" *ngIf="name.title!='category' && name.title!='homeCountry' && name.title!='hostCountry' && name.title!='borrowerName' && name.title!='borrowerGroupName' && name.title!='industry' && name.title!='devDuringTheQuarter' && name.title!='soverignChar'"
                                            (keypress)="numberOnlyWithDismal($event)" (change)="totaladdition(account,name)" [min]="1" style="width:100%" >
                                            <input pInputText [required]="name.required" [min]="1" style="width:100%"
                                            [(ngModel)]="account[name.title]"  [name]="name.title" [type]="name.inpType" *ngIf="name.title=='borrowerName'">
                                            <input pInputText [required]="name.required" [min]="1" style="width:100%"
                                            [(ngModel)]="account[name.title]"  [name]="name.title" [type]="name.inpType" *ngIf="name.title=='borrowerGroupName'">                                            
                                            <input pInputText [required]="name.required" [min]="1" style="width:100%"
                                            [(ngModel)]="account[name.title]"  [name]="name.title" [type]="name.inpType" *ngIf="name.title=='industry'">
                                            <input pInputText [required]="name.required" [min]="1" style="width:100%"
                                            [(ngModel)]="account[name.title]"  [name]="name.title" [type]="name.inpType" *ngIf="name.title=='soverignChar'">
                                            <input pInputText [required]="name.required" [min]="1" style="width:100%"
                                            [(ngModel)]="account[name.title]"  [name]="name.title" [type]="name.inpType" *ngIf="name.title=='devDuringTheQuarter'">

                                            <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel" id="vendor" style="width: 300px;height: 40px;" [(ngModel)]="account[name.title]" #vendorselect *ngIf="name.title=='category'" >
                                                <option *ngFor="let category of categoryValues; let i = index" [value]="category.value">
                                                    {{category.value}}
                                                </option>
                                            </select>
                                            <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel" id="vendor" style="width: 300px;height: 40px;" [(ngModel)]="account[name.title]" #vendorselect *ngIf="name.title=='homeCountry'" >
                                                <option *ngFor="let home of homeCountryValues; let i = index" [value]="home.value">
                                                    {{home.value}}
                                                </option>
                                            </select>
                                            <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel" id="vendor" style="width: 300px;height: 40px;" [(ngModel)]="account[name.title]" #vendorselect *ngIf="name.title=='hostCountry'" >
                                                <option *ngFor="let host of hostCountryValues; let i = index" [value]="host.value">
                                                    {{host.value}}
                                                </option>
                                            </select>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{account[name.title]}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td *ngIf="!isChecker && !rejectedFlag">
                                <i class="pi pi-trash text-danger" (click)="delete(ri,account)"></i>
                            </td>

                        </ng-container>
                        </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="scroller" *ngIf="isIssuer">        
            <p-table [value]="issuerData"  dataKey="name" editMode="row" class="tableFixed" styleClass="p-datatable-gridlines top-20">
                <ng-template pTemplate="header">
                    <tr>
                        <th colspan="21">
                            Part A ( List of Customers Credit of US $2 million and above)																			
                        </th>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let heading of issuertableNames">
                        <th style="min-width: 300px;">
                            {{heading.name}}
                        </th>
                        </ng-container>
                        <th>Action</th>
                    </tr>
                </ng-template>
            
                <ng-template pTemplate="body" let-account let-ri="rowIndex">

                    <tr [pEditableRow]="account">
                        <ng-container>

                            <td pEditableColumn *ngFor="let name of issuertableNames" style="min-width: 300px"
                                [ngClass]="{'disabled':(!name.editable || submitted )}" [ngStyle]="{'background-color': !name.editable   || isSubmitted ? '#dee2e6' :'#fff' }">
                                <ng-container *ngIf="!name.editable || isSubmitted">
                                    {{name.title=="createdOn" || name.title=="date"?(account[name.title] |
                                        date : 'dd-MM-yyyy'):name.title=="periodFrom"?(account[name.title] |
                                        dateRange):name.title=="outstandingDebit" || name.title=="outstandingCredit" || name.title=="amountInvolvedDebit" || name.title=="amountInvolvedCredit"?
                                        (account[name.title] | number:'1.2-2' | removeComma):account[name.title]}}
                                </ng-container>
                                <ng-container>
                                    {{name.edit}}
                                </ng-container>
                                <p-cellEditor *ngIf="(name.editable) && !isSubmitted">
                                    <ng-template pTemplate="input">
                                        <input pInputText [required]="name.required"
                                            [(ngModel)]="account[name.title]"  [name]="name.title" [type]="name.inpType" *ngIf="name.title!='category' && name.title!='assetClassification' && name.title!='issuerName' && name.title!='issuerGroupName' && name.title!='soverignChar' && name.title!='devDuringTheQuarter'"
                                        (keypress)="numberOnlyWithDismal($event)" (change)="totaladdition(account,name)" [min]="1" style="width:100%" >
                                        <input pInputText [required]="name.required"
                                            [(ngModel)]="account[name.title]"  [name]="name.title" [type]="name.inpType" *ngIf="name.title=='issuerName'"
                                         [min]="1" style="width:100%" >
                                         <input pInputText [required]="name.required"
                                            [(ngModel)]="account[name.title]"  [name]="name.title" [type]="name.inpType" *ngIf="name.title=='issuerGroupName'"
                                         [min]="1" style="width:100%" >
                                         <input pInputText [required]="name.required"
                                            [(ngModel)]="account[name.title]"  [name]="name.title" [type]="name.inpType" *ngIf="name.title=='soverignChar'"
                                         [min]="1" style="width:100%" >
                                         <input pInputText [required]="name.required"
                                            [(ngModel)]="account[name.title]"  [name]="name.title" [type]="name.inpType" *ngIf="name.title=='devDuringTheQuarter'"
                                         [min]="1" style="width:100%" >
                                        <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel" id="vendor" style="width: 300px;height: 40px;" [(ngModel)]="account[name.title]" #vendorselect *ngIf="name.title=='category'" >
                                            <option *ngFor="let category of categoryValues; let i = index" [value]="category.value">
                                                {{category.value}}
                                            </option>
                                        </select>
                                        <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel" id="vendor" style="width: 300px;height: 40px;" [(ngModel)]="account[name.title]" #vendorselect *ngIf="name.title=='assetClassification'" >
                                            <option *ngFor="let asset of assetClassificationValues; let i = index" [value]="asset.value">
                                                {{asset.value}}
                                            </option>
                                        </select>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{account[name.title]}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td *ngIf="!isChecker && !rejectedFlag">
                                <i class="pi pi-trash text-danger" (click)="delete(ri,account)"></i>
                            </td>

                        </ng-container>
                        </tr>
                </ng-template>
            </p-table>
        </div>
    </p-tabView>
</div>

<div  style="margin-top: 1%;text-align: center;margin-bottom: 1%;" *ngIf="isBorrower || isIssuer">

    <button pButton icon="pi"  label="Submit"  type="submit" (click)="submit('SUBMITTED')"  style="border: none;background: #a20a3a;color: white;" class="p-button-primary mr-2"></button>
</div>




<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>