<p-toast position="top-right">
</p-toast>
<div class="p-grid"></div>
<div class="p-col">
    <h3 style="text-align: center; padding-top: 12px;" class="m-0 pt-1">{{heading}}</h3>
</div>
<div class="card">

    <p-tabView>
        <div class="p-grid">


            <div class="p-col text-right add" style="padding-bottom: 17px;" *ngIf="isMaker">
                <button pButton type="button" icon="pi pi-plus" iconPos="right" class="mr-2 " label="Add"
                    (click)="add()"></button>
                <p-button label="Rejected Records" iconPos="left" styleClass="p-button p-button-pnb btn-block"
                    (click)="rejectedRecords()"></p-button>
            </div>
        </div>
        <div class="stress ease">

            <form style="text-align: left;" #accountForm="ngForm">
                <div class="scroller">

                    <p-table [value]="display" dataKey="name" editMode="row" class="tableFixed">
                        <ng-template pTemplate="header">


                            <tr>
                                <ng-container>
                                    <th style="min-width:50px;" *ngIf="isChecker || rejectedFlag">
                                        <input type="checkbox" name="checkedAll" [(ngModel)]="checkedAll"
                                            (change)="checkAll()">
                                    </th>
                                    <th *ngFor="let hr of tableNames">
                                        {{hr.name}}

                                        <br>{{hr.subText}}

                                    </th>

                                </ng-container>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-account let-ri="rowIndex">
                            <tr [pEditableRow]="account">
                                <ng-container>
                                    <td *ngIf="isChecker || rejectedFlag"><input type="checkbox" name="checked{{ri}}"
                                            [(ngModel)]="account.checked" (change)="checkRecord(account)"></td>
                                    <td pEditableColumn *ngFor="let name of tableNames"
                                        [ngClass]="{'disabled':(!name.editable || submitted || isChecker)}">
                                        <ng-container *ngIf="!name.editable || submitted || isChecker">
                                            {{name.title=="createdOn" ||
                                            name.title=="dateForFortnightlyEnded"?(account[name.title] | date :
                                            'dd-MM-yyyy'):account[name.title]}}
                                        </ng-container>
                                        <ng-container>
                                            {{name.edit}}
                                        </ng-container>
                                        <p-cellEditor *ngIf="(name.editable && !submitted) && !isChecker">
                                            <ng-template pTemplate="input">
                                                <input pInputText [required]="name.required" [name]="name.title"
                                                    [type]="name.inpType" [(ngModel)]="account[name.title]"
                                                    (change)="changed=true;fileUpload($event,account,name)" [min]="1"
                                                    *ngIf="name.title=='dateForFortnightlyEnded' || name.title=='cashBalance'">

                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{name.title=="createdOn" ||
                                                name.title=="dateForFortnightlyEnded"?(account[name.title] | date :
                                                'dd-MM-yyyy'):account[name.title]}}
                                            </ng-template>
                                        </p-cellEditor>
                                        <ng-container>
                                            <div class="p-field p-col m-0"
                                                *ngIf="name.title=='action' && submitted==false">

                                                <i class="pi pi-trash text-danger"
                                                    (click)="!submitted && delete(ri)"></i>
                                            </div>
                                            <div class="p-field p-col m-0"
                                                *ngIf="name.title=='action' && account.edit==true">
                                            <td>
                                                <button pButton pRipple type="button" (click)="editUnClicked(account)"
                                                    icon="pi pi-times-circle" class="p-button-rounded p-button-text"
                                                    text-align="center"></button>
                                            </td>
                                    </div>
                                    </ng-container>
                                    </td>

                </ng-container>
                </tr>

                </ng-template>
                </p-table>
        </div>
        </form>

</div>
</p-tabView>
</div>
<div *ngIf="isChecker">
    <textarea [disabled]="submitted==true" class="comments" [(ngModel)]="comments"
        placeholder="Comment Here..."></textarea>
</div>

<div *ngIf="isMaker" style="margin-top: 1%;text-align: center;">

    <button pButton icon="pi" label="submit" (click)="submit('SUBMITTED')"
        [disabled]="submitted==true && editMode==false" style="border: none;background: #a20a3a;color: white;"
        class="p-button-primary mr-2"></button>
</div>
<div *ngIf="isChecker" class="text-center mt-2 mb-2 pt-2">
    <button pButton icon="pi-pi-times" (click)="confirm('REJECTED')" label="Reject"
        class="p-button-primary mr-2"></button>
    <button pButton type="button" (click)="confirm('APPROVED')" label="Approve" class=" ml-2 p-button-success"></button>
</div>


<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>