<!-- <p-table [value]="products" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.code}}</td>
            <td>{{product.name}}</td>
            <td>{{product.category}}</td>
            <td>{{product.quantity}}</td>
        </tr>
    </ng-template>
</p-table> -->
<div style="margin-top:10px">
<table style="width:100%">
    <tr>
      <th>Customer ID</th>
      <th>Account Name</th>
      <th>Account Number</th>
    </tr>
    <tbody>
        <ng-container *ngFor="let col of accountData">
            <tr>
                <td class="cursor-pointer" (click)="sendData(col)">{{col.customerId}}</td>
                <td class="cursor-pointer" (click)="sendData(col)">{{col.accountName}}</td>
                <td class="cursor-pointer" (click)="sendData(col)">{{col.accountNbr}}</td>
            </tr>
        </ng-container>
    </tbody>
  
  </table>
 </div> 