<!-- 
<div class="reason-for-rejection">
<form [formGroup]="instructionForm" class="my-4">
    <div class="row form-group">
        <div class="col-md-6 mb-2">
            <div class="input-wrapper">
                <div class="col-3">
                    <label for="message">Message<i class="red-star">*</i> </label>
                </div>
                <div class="col-9">
                    <textarea cols="60" rows="5" class="details"  autoResize="autoResize" pInputTextarea formControlName="message"  [ngClass]="{'is-invalid':formSubmitAttempt && f.message.errors}"></textarea>
                </div>
            </div>
            <div app-errors class="error-msg" [control]="f.message" [submit]="formSubmitAttempt"
                label="Message">
            </div>

        </div>
    </div>
    <div class="buttons">
        <button class="btn cancel" (click)="close()">CANCEL</button>
        <button class="btn save" (click)="postData()" >Submit</button>
    </div>
</form>
</div>
 -->
<div class="reason-for-rejection">
    <form [formGroup]="instructionForm">
        <div class="grid">
            <div class="col-12">
                <div class="input-wrapper">
                    <div class="label">
                        <label for="message">Message<i class="red-star">*</i> </label>
                    </div>
                    <textarea cols="60" rows="5" class="details" autoResize="autoResize" pInputTextarea
                        formControlName="message"
                        [ngClass]="{'is-invalid':formSubmitAttempt && f.message.errors}"></textarea>
                </div>
             </div>
             <div app-errors class="error-msg" [control]="f.message" [submit]="formSubmitAttempt" label="Message">
            </div>
        
        </div>
        <div class="buttons">
            <button class="btn cancel" (click)="close()">CANCEL</button>
            <button class="btn save" (click)="postData()">Submit</button>
        </div>
    </form>
</div>