<div class="invite-new-customer">
<form [formGroup]="inviteCustomerForm">
    <div class="view" *ngIf="requestType!='view'">
        <div class="row form-group">
            <div class="col-12 flex-box">
                <div class="invitecustomer-heading">
                    <h1>Invite Customer </h1>
                </div>
                <div class="back-btn buttons" *ngIf="requestType!='edit'" >
                    <button class="invitebtn" [routerLink]="['/admin/invitesheet']"> <i
                        class="icon-user  mr-2"></i><span>Bulk Invite</span></button>
                </div>
            </div>
    
      
            <div class="col-md-6 mb-2 admin-invite-customer">
                <div class="input-wrapper">
                    <label for="companyName"> Country<i class="red-star"*ngIf="requestType=='edit'" >*</i> </label>
                    <p-dropdown [options]="countries" filter="true" formControlName="country" optionLabel="name" 
                        optionValue="code" (onChange)="changeCountry($event)" placeholder="Select a Country"></p-dropdown>
                </div>
                <div app-errors class="error-msg" [control]="f.country" [submit]="formSubmitAttempt"
                    label="Country">
                </div>
    
            </div>
            <div class="col-md-6 mb-2 admin-invite-customer">
                <div class="input-wrapper">
                    <label for="customerName"> Company Name<i class="red-star" *ngIf="requestType=='edit'">*</i></label>
                    <input type="text" class="form-control" placeholder="Company Name" formControlName="name"
                            [ngClass]="{'is-invalid':formSubmitAttempt && f.name.errors}">
                </div>
                <div app-errors class="error-msg" [control]="f.name" [submit]="formSubmitAttempt"
                    label="Company Name">
                </div>
            </div>
            <div class="col-md-6 mb-2 admin-invite-customer">
                <div class="input-wrapper">
                    <label for="emailId">Registration Reference Type<i class="red-star" *ngIf="requestType=='edit'">*</i></label>
                    <input type="text" class="form-control" placeholder="Registration Reference Type" formControlName="type"
                            [ngClass]="{'is-invalid':formSubmitAttempt && f.type.errors}">
                </div>
                <div app-errors class="error-msg" [control]="f.type" [submit]="formSubmitAttempt" label="Registration Reference Type">
                </div>
            </div>
            <div class="col-md-6 mb-2 admin-invite-customer">
                <div class="input-wrapper">
                    <label for=" phoneNumber">Registration Number<i class="red-star" *ngIf="requestType=='edit'">*</i> </label>
                    <input type="text" class="form-control" placeholder="Registration Number" formControlName="identificationNumber"
                            [ngClass]="{'is-invalid':formSubmitAttempt && f.identificationNumber.errors}">
                </div>
                <div app-errors class="error-msg" [control]="f.identificationNumber" [submit]="formSubmitAttempt"
                    label="Registration Number">
                </div>
            </div>
            <div class="col-md-6 mb-2 admin-invite-customer">
                <div class="input-wrapper">
                    <label for=" Country">First Name<i class="red-star" *ngIf="requestType=='edit'">*</i> </label>
                    <input type="text" class="form-control" placeholder="First Name" formControlName="firstName"
                            [ngClass]="{'is-invalid':formSubmitAttempt && f.firstName.errors}">
                </div>
                <div app-errors class="error-msg" [control]="f.firstName" [submit]="formSubmitAttempt" label="First Name"></div>
            </div>
            <div class="col-md-6 mb-2 admin-invite-customer">
                <div class="input-wrapper">
                    <label for=" Country">Last Name<i class="red-star" *ngIf="requestType=='edit'">*</i> </label>
                    <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName"
                            [ngClass]="{'is-invalid':formSubmitAttempt && f.lastName.errors}">
                </div>
                <div app-errors class="error-msg" [control]="f.lastName" [submit]="formSubmitAttempt" label="Last Name"></div>
            </div>
            <div class="col-md-6 mb-2 admin-invite-customer">
                <div class="input-wrapper">
                    <label for=" Country">Email ID<i class="red-star" *ngIf="requestType=='edit'">*</i> </label>
                    <input type="text" class="form-control" placeholder="Email ID" formControlName="emailId"
                            [ngClass]="{'is-invalid':formSubmitAttempt && f.emailId.errors}">
                </div>
                <div app-errors class="error-msg" [control]="f.emailId" [submit]="formSubmitAttempt" label="Email ID"></div>
            </div>
            <div class="col-md-6 mb-2 admin-invite-customer">
                <div class="input-wrapper">
                    <label class="admin-phone-label" for=" Country">Phone Number<i class="red-star" *ngIf="requestType=='edit'">*</i> </label>
                    <!-- <input  class="form-control" placeholder="Phone Number" formControlName="phoneNumber" ng2TelInput [ng2TelInputOptions]="inputOptions" 
                    (countryChange)="onCountryChange($event)" (hasError)="onError($event)" (keypress)="numberOnly($event)" [ngClass]="{'is-invalid':formSubmitAttempt && f.phoneNumber.errors}"> -->
                    <input  #phone class="form-control admin-phone-number"  (keypress)="numberOnly($event)" placeholder="Phone Number" ng2TelInput formControlName="phoneNumber" [ng2TelInputOptions]="inputOptions" 
                    (countryChange)="onCountryChange($event)" (hasError)="onError($event)" [ngClass]="{'is-invalid':formSubmitAttempt && f.phoneNumber.errors}" >
                </div>
                <div app-errors class="error-msg" [control]="f.phoneNumber" [submit]="formSubmitAttempt" label="Phone Number"></div>
            </div>
        </div>
        <div class="buttons" *ngIf="requestType!='edit'" >
            <button class="btn cancel" (click)="onClear()">Cancel</button>
            <button class="btn save"  (click)="joinDigicomp();">Create User</button>
        </div>    
        <div class="buttons" *ngIf="requestType=='edit'" >
            <button class="btn cancel"  [routerLink]="['/admin/invitecustomer']">Cancel</button>
            <button class="btn save"  (click)="joinDigicomp();">Create User</button>
        </div>  
    </div>
  




    <!-- code for back invite customer -->
    <div class="back"  *ngIf="requestType=='view'">
        <div class="row form-group">
            <div class="col-12">
                <div class="invitecustomer-heading">
                    <h1>Invite Customer </h1>
                </div>
            </div>
    
            <div class="col-md-6 mb-2">
                <div class="input-wrapper">
                    <label for="companyName"> Country<i class="red-star"*ngIf="requestType=='edit'" >*</i> </label>
                    <p-dropdown [options]="countries" filter="true" formControlName="country" optionLabel="name" 
                        optionValue="code" (onChange)="changeCountry($event)" placeholder="Select a Country"></p-dropdown>
                </div>
                <div app-errors class="error-msg" [control]="f.country" [submit]="formSubmitAttempt"
                    label="Country">
                </div>
    
            </div>
            <div class="col-md-6 mb-2">
                <div class="input-wrapper">
                    <label for="customerName"> Company Name<i class="red-star" *ngIf="requestType=='edit'">*</i></label>
                    <input type="text" class="form-control" placeholder="Company Name" formControlName="name"
                            [ngClass]="{'is-invalid':formSubmitAttempt && f.name.errors}">
                </div>
                <div app-errors class="error-msg" [control]="f.name" [submit]="formSubmitAttempt"
                    label="Company Name">
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="input-wrapper">
                    <label for="emailId">Registration Reference Type<i class="red-star" *ngIf="requestType=='edit'">*</i></label>
                    <input type="text" class="form-control" placeholder="Registration Reference Type" formControlName="type"
                            [ngClass]="{'is-invalid':formSubmitAttempt && f.type.errors}">
                </div>
                <div app-errors class="error-msg" [control]="f.type" [submit]="formSubmitAttempt" label="Registration Reference Type">
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="input-wrapper">
                    <label for=" phoneNumber">Registration Number<i class="red-star" *ngIf="requestType=='edit'">*</i> </label>
                    <input type="text" class="form-control" placeholder="Registration Number" formControlName="identificationNumber"
                            [ngClass]="{'is-invalid':formSubmitAttempt && f.identificationNumber.errors}">
                </div>
                <div app-errors class="error-msg" [control]="f.identificationNumber" [submit]="formSubmitAttempt"
                    label="Registration Number">
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="input-wrapper">
                    <label for=" Country">First Name<i class="red-star" *ngIf="requestType=='edit'">*</i> </label>
                    <input type="text" class="form-control" placeholder="First Name" formControlName="firstName"
                            [ngClass]="{'is-invalid':formSubmitAttempt && f.firstName.errors}">
                </div>
                <div app-errors class="error-msg" [control]="f.firstName" [submit]="formSubmitAttempt" label="First Name"></div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="input-wrapper">
                    <label for=" Country">Last Name<i class="red-star" *ngIf="requestType=='edit'">*</i> </label>
                    <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName"
                            [ngClass]="{'is-invalid':formSubmitAttempt && f.lastName.errors}">
                </div>
                <div app-errors class="error-msg" [control]="f.lastName" [submit]="formSubmitAttempt" label="Last Name"></div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="input-wrapper">
                    <label for=" Country">Email ID<i class="red-star" *ngIf="requestType=='edit'">*</i> </label>
                    <input type="text" class="form-control" placeholder="Email ID" formControlName="emailId"
                            [ngClass]="{'is-invalid':formSubmitAttempt && f.emailId.errors}">
                </div>
                <div app-errors class="error-msg" [control]="f.emailId" [submit]="formSubmitAttempt" label="Email ID"></div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="input-wrapper">
                    <label for=" Country">Phone Number<i class="red-star" *ngIf="requestType=='edit'">*</i> </label>
                    <input type="number" class="form-control" placeholder="Phone Number" formControlName="phoneNumber"
                            [ngClass]="{'is-invalid':formSubmitAttempt && f.phoneNumber.errors}">
                </div>
                <div app-errors class="error-msg" [control]="f.phoneNumber" [submit]="formSubmitAttempt" label="Phone Number"></div>
            </div>
        </div>
        <div class="buttons">
            <button class="btn cancel" [routerLink]="['/admin/invitecustomer']" >Back</button>
        </div>
    </div>

</form>
</div>