<p-toast position="top-right"></p-toast>
<p>&nbsp;</p>
<form class="pt-2" name="reportForm" [formGroup]="reportForm" (ngSubmit)="saveUser()"  class="userForm">
    <div class="p-fluid p-grid">
        <div class="p-field p-col-12 p-md-6">
            <span class="p-float-label">
                <input id="division" name="division" pInputText formControlName="division" type="text" disabled >
                <label for="division">Division</label>
            </span>
        </div>
      
        <div class="p-field p-col-12 p-md-6" *ngIf="compUpdateType=='report'">
            <span class="p-float-label">
                <input pInputText formControlName="reportName" type="text" disabled >
                <label for="reportName">Report Name</label>
            </span>
        </div>

        <div class="p-field p-col-12 p-md-6" *ngIf="compUpdateType=='report'">
            <span class="p-float-label">
                <input pInputText formControlName="reportType" type="text" disabled >
                <label for="reportType">Report Type</label>
            </span>
        </div>

        <div class="p-field p-col-12 p-md-6">
            <span class="p-float-label">
                <select class="p-dropdown-label p-inputtext ng-star-inserted" name="assigneeUsername" formControlName="assigneeUsername" required>
                    <option selected value="null">Select Assignee User</option>
                    <option *ngFor="let user of users" [value]="user">{{user}}</option>
                </select>
                <label for="assigneeUsername" class="selectLabel">Select Assignee User</label>
            </span>
        </div>
        <div class="p-field p-col-12 p-md-6">
            <span class="p-float-label">
                <input id="escalationMailers"  pInputText  formControlName="escalationMailers" autocomplete="off"   type="text" required >
                <label for="escalationMailers">Escalation User Email</label>
            </span>
            <div *ngIf="f.escalationMailers.invalid && (f.escalationMailers.touched || f.escalationMailers.dirty)" class="error-msg">
                <div *ngIf="f.escalationMailers.errors.required">Escalation User Email is Required</div>
                <div *ngIf="f.escalationMailers.errors.multiEmail">Please enter valid email with comma separated.</div>
            </div>
        </div>
        <div class="p-field p-col-12 p-md-6">
            <span class="p-float-label">
                <input id="reviewMailers"  pInputText   formControlName="reviewMailers" autocomplete="off"   type="text" required >
                <label for="reviewMailers">Review User Email</label>
            </span>
            <div *ngIf="f.reviewMailers.invalid && (f.reviewMailers.touched || f.reviewMailers.dirty)" class="error-msg">
                <div *ngIf="f.reviewMailers.errors.required">Escalation User Email is Required</div>
                <div *ngIf="f.reviewMailers.errors.multiEmail">Please enter valid email with comma separated.</div>
            </div>
        </div>
        <div class="p-field p-col-12 p-md-6">
            <span class="p-float-label">
                <input id="escalationDate"  pInputText  autocomplete="off" formControlName="escalationDays"  type="number"   >
                <label for="escalationDate">Escalation Day</label>
            </span>
        </div>
        <div class="p-field p-col-12 p-md-6">
            <span class="p-float-label">
                <input id="userName"  pInputText   autocomplete="off" formControlName="reminderDays"   type="number"   >
                <label for="userName"> Reminder Day</label>
            </span>
        </div>
       

    </div>
    <div class="p-col-12 text-right">
        <button pButton type="button" label="Cancel" class="p-button-secondary mr-2" (click)="goBack($event)"></button>
        <button pButton type="submit" label="Save" class=" p-button-pnb ml-2" icon="pi pi-check" iconPos="left"></button>
    </div>
</form>