<p-toast position="top-right"></p-toast>
<div class="p-grid">
    <div class="p-col">
        <h3  class="m-0 pt-1">{{heading}}</h3>
    </div>
    
    <div class="p-col"  *ngIf="isAdd">
        <button pButton type="button" icon="pi pi-plus" iconPos="left" class="mr-2 " label="Add" [disabled]="!isAdd" (click)="add()"></button>
    </div>
    <!-- <div class="labelDiv"> -->
    <!-- <div class="p-col" align=right *ngIf="dropdownCheck">
        <label for="select" class="label"><h4 class="pt-4">Division:</h4></label>
    </div> -->
    <div class="p-col " *ngIf="dropdownCheck">
        <select id="select" class="p-dropdown-label p-inputtext ng-star-inserted selectLabel" name="selectedDivision" [(ngModel)]="selectedDivision" required (change)="filter()">
        <option selected value="all">Division Name</option>
        <option *ngFor="let division of divisions" [value]="division.divisionName">{{division.divisionName}}</option>
    </select>
    </div>
    <!-- </div> -->
</div>

<div class="stress ease">

    <div class="scroller">
    <p-table [value]="display" dataKey="name" editMode="row" class="tableFixed">
        <ng-template pTemplate="header">
            <tr>

                <ng-container>
                    <!-- <th>S. No.</th> -->
                    <th *ngFor="let hr of tableNames" (click)="sortBy(hr)" style="cursor: pointer;">{{hr.name}}
                        <br>{{hr.subText}}</th>
                    <!-- <th style="width:8rem">Actions</th>  -->
                    <th style="max-width: 100px;min-width: 10px;" *ngIf="deleteBox">
                        Delete
                </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-account let-ri="rowIndex">
            <tr [pEditableRow]="account">
                <ng-container *ngIf="account.divisionName==selectedDivision || selectedDivision=='all' || id!='POTWM'">
                    <ng-container *ngIf="account.status!='SUBMITTED'">
                        <ng-container *ngFor="let name of tableNames">
                            <td pEditableColumn [ngStyle]="{'background-color': !name.editable ? '#dee2e6' :'#fff' }">
                                <ng-container *ngIf="!name.editable">
                                    {{account[name.title]}}
                                </ng-container>

                                <ng-container *ngIf="name.title=='metricsWeightage-presentQtrScore'">
                                    {{account.metricsWeightage-account.presentQtrScore}}
                                </ng-container>

                                <p-cellEditor *ngIf="name.editable">
                                    <ng-template pTemplate="input">
                                        <input pInputText required [type]="name.inpType" [(ngModel)]="account[name.title]" (change)="fileUpload($event,account,name.inpType)">
                                        <!-- <input pInputText required [type]="name.inpType" [(ngModel)]="account[name.title]"> -->
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        {{account[name.title]}}
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="account.status=='SUBMITTED'">

                        <td *ngFor="let name of tableNames" style="background-color:#dee2e6">
                            <ng-container *ngIf="name.title!='metricsWeightage-presentQtrScore'">
                                {{account[name.title]}}
                            </ng-container>
                            <ng-container *ngIf="name.title=='metricsWeightage-presentQtrScore'">
                                {{account.metricsWeightage-account.presentQtrScore}}
                            </ng-container>
                        </td>

                    </ng-container>
                    <ng-container>
                        <td *ngIf="deleteBar" [ngStyle]="{'background-color': submitted ? '#dee2e6' :'#fff' }">
                            <i class="pi pi-trash text-danger" (click)="!submitted && delete(ri)"></i>
                            <!-- <input type="button" value="Delete"
                            style="border: none;background: #a20a3a;color: white;zoom: 1.3;font-size: smaller;width: 100%;"
                            (click)="delete(ri)" /> -->


                        </td>
                    </ng-container>
                </ng-container>
            </tr>

        </ng-template>
        <ng-template pTemplate="footer">
            <tr *ngIf="id=='POTWM'&&selectedDivision!='all'">
                <td style="text-align: right;" colspan="3">
                    <b>Total</b>
                </td>
                <td>
                    {{metricsWeightageSum}}
                </td>
                <td>
                    {{presentQtrScoreSum}}
                </td>

                <td>
                    {{metricsWeightageSum-presentQtrScoreSum}}
                </td>
               
                <td colspan="4"></td>
                <!-- <td><b>₹ {{purchaseForm.get('totalAmount').value}} </b></td> -->
            </tr>
        </ng-template>


        <tfoot>

        </tfoot>
    </p-table>
</div>
    <div style="margin-top: 1%;text-align: center;">
        <button *ngIf="saveBox" pButton icon="pi" (click)="save(id)" label="Save" [disabled]="submitted" style="border: none;background: #a20a3a;color: white;" class="p-button-primary mr-2"></button>
        <button pButton *ngIf="submitBox" icon="pi" label="Submit" (click)="submit(id)" [disabled]="submitted" style="border: none;background: #a20a3a;color: white;" class="p-button-primary mr-2"></button>
    </div>



</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>