.selectLabel {
    margin-top: -2.2rem;
    font-size: .75rem;
    margin-left: -5px;
}
.selectLabel {
    width: 100%;
    margin-top: 0.1%;
//    max-width: 30%;
    // display: inline;
}
.label{
    margin-left:5px;

}


