
<div class="content-section">
    <div *ngIf="roles.length==0 && isResponse" class="no-authorization">
        You are not authorized to access this application!
    </div>
    <div class="p-grid bg-white">
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/gap']" *ngIf="role.ROLE_COMPLIANCE">
            <p-card>
                <img src="./assets/icons/gap.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Compliance Reports (Logic Review)</h2>
        </div>
      
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/ease']" *ngIf="role.ROLE_EASE">
            <p-card>
                <img src="./assets/icons/account.jpeg">

            </p-card>
            <h2 class="m-0 mt-2" tooltipPosition="bottom">
                Ease 3.0
            </h2>
        </div>


        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/top20']" *ngIf="role.ROLE_TOP_20_STRESSED_ACCOUNTS_MAKER || role.ROLE_TOP_20_STRESSED_ACCOUNTS_CHECKER || 
        role.ROLE_TOP_20_WATCHLIST_ACCOUNTS_MAKER || role.ROLE_TOP_20_WATCHLIST_ACCOUNTS_CHECKER ||
        role.ROLE_TOP_20_PROVISIONING_ACCOUNTS_STANDARD_MAKER || role.ROLE_TOP_20_PROVISIONING_ACCOUNTS_STANDARD_CHECKER ||
        role.ROLE_TOP_20_BORROWAL_ACCOUNTS_STANDARD_MAKER || role.ROLE_TOP_20_BORROWAL_ACCOUNTS_STANDARD_CHECKER ||
        role.ROLE_TOP_20_BORROWAL_ACCOUNTS_NPA_MAKER || role.ROLE_TOP_20_BORROWAL_ACCOUNTS_NPA_CHECKER ||
        role.ROLE_TOP_20_ACCOUNTS_DCCO_MAKER || role.ROLE_TOP_20_ACCOUNTS_DCCO_CHECKER ||
        role.ROLE_ACCOUNTS_RP_INPLEMENTED_STANDARD_MAKER || role.ROLE_ACCOUNTS_RP_INPLEMENTED_STANDARD_CHECKER ||
        role.ROLE_ACCOUNTS_RP_INPLEMENTED_NPA_MAKER || role.ROLE_ACCOUNTS_RP_INPLEMENTED_NPA_CHECKER ||
        role.ROLE_ACCOUNTS_RP_NOT_IMPLEMENTED_STANDARD_MAKER || role.ROLE_ACCOUNTS_RP_NOT_IMPLEMENTED_STANDARD_CHECKER ||
        role.ROLE_ACCOUNTS_RP_NOT_IMPLEMENTED_NPA_MAKER || role.ROLE_ACCOUNTS_RP_NOT_IMPLEMENTED_NPA_CHECKER ||
        role.ROLE_ACCOUNTS_IBC_STANDARD_MAKER || role.ROLE_ACCOUNTS_IBC_STANDARD_CHECKER ||
        role.ROLE_ACCOUNTS_IBC_NPA_MAKER || role.ROLE_ACCOUNTS_IBC_NPA_CHECKER" >
            <p-card>
                <img src="./assets/icons/account.jpeg">
            </p-card>
            <h2 class="m-0 mt-2" tooltipPosition="bottom">
                Top 20
            </h2>
        </div>

        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/positions']" *ngIf="role.ROLE_GROSS_ADVANCES_MAKER || role.ROLE_GROSS_ADVANCES_CHECKER ||
        role.ROLE_POSITION_RECOVERY_MAKER || role.ROLE_POSITION_RECOVERY_CHECKER ||
        role.ROLE_PIPELINE_STRESS_MAKER || role.ROLE_PIPELINE_STRESS_CHECKER ||
        role.ROLE_EXTERNAL_RATING_FRESH_SANCTIONS_MAKER || role.ROLE_EXTERNAL_RATING_FRESH_SANCTIONS_CHECKER">
     
            <p-card>
                <img src="./assets/icons/account.jpeg">
            </p-card>
            <h2 class="m-0 mt-2" tooltipPosition="bottom">
               position
            </h2>
        </div>

   <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/banking']" *ngIf="role.ROLE_OMBUDSMAN">
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Banking Ombudsman Penalties</h2>
        </div>

        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/counterfeit']" *ngIf="role.ROLE_COUNTERFEIT" >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Counterfeit Currency Report (KYC Format)</h2>
        </div>

        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/ncrb']" *ngIf="role.ROLE_NCRB"  >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Counterfeit Currency Report (NCRB Format)</h2>
        </div>

        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/equifax']" *ngIf="role.ROLE_EQUIFAX" >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Equifax credits</h2>
        </div>

        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/fortnightly']" *ngIf="role.ROLE_FORTNIGHTLY_MAKER || role.ROLE_FORTNIGHTLY_CHECKER" >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Special Fortnightly Return II</h2>
        </div>

        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/reporting']"  *ngIf="role.ROLE_EXPOSURE_QCCP_MAKER || role.ROLE_EXPOSURE_QCCP_CHECKER">
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">(CCPS) Format for reporting of exposures to QCCPs</h2>
        </div>

        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/unreconciled']"  *ngIf="role.ROLE_UNRECONCILED_MAKER || role.ROLE_UNRECONCILED_CHECKER">
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Unreconciled</h2>
        </div>

         <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/nostro']" *ngIf="role.ROLE_NOSTRO_ACCOUNTS_MAKER || role.ROLE_NOSTRO_ACCOUNTS_CHECKER">
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Unreconciled-NOSTRO Accounts</h2>
        </div> 
        <!-- <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/report-on-ownership-general-information/:type/:id']"  >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">General Information</h2>
        </div> -->
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/report-on-operation']"
          *ngIf="role.ROLE_INFORMATION_REPORT_MAKER || role.ROLE_INFORMATION_REPORT_CHECKER">
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">DSB XII Report On Operation</h2>
        </div> 
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/report-on-ownership-view']"  *ngIf="role.ROLE_OWNERSHIP_REPORT_MAKER || role.ROLE_OWNERSHIP_REPORT_CHECKER">
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">DSB VII Report On Ownership and control</h2>
        </div>   
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/alo']" *ngIf="role.ROLE_ALO">
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">ALO</h2>
        </div>  
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/reporton-profitability']" *ngIf="role.ROLE_REPORT_ON_PROFITABILITY">
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Report On Profitability</h2>
        </div>  
       
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/pci']"  *ngIf="role.ROLE_PCI">
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">PCI</h2>
        </div>  
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/revised-gap-sheet']" *ngIf="role.ROLE_ANALYTICAL_LEADS" >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Analytical Lead Master</h2>
        </div>
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/operations-credit-review']" *ngIf="role.ROLE_OPERATIONS_CREDIT_REVIEW || role.ROLE_OPERATIONS_CREDIT_REVIEW_CO || role.ROLE_OPERATIONS_CREDIT_REVIEW_ZO || role.ROLE_OPERATIONS_CREDIT_REVIEW_HO" >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Operation Credit Review</h2>
        </div>
         <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/pff-kyc-cdd']" *ngIf="role.ROLE_KYC_A2_KYCCDD_POLICY_MAKER || role.ROLE_KYC_A2_KYCCDD_POLICY_CHECKER" >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Policy For Frequency</h2>
        </div>  
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/IT-Base-Transaction-Monitoring']"  *ngIf="role.ROLE_ITD_C12_IT_BASED_TMS_PERFORMANCE_MAKER  || role.ROLE_ITD_C12_IT_BASED_TMS_PERFORMANCE_CHECKER"  >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">IT Base Transaction Perform</h2>
        </div> 

        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/jurisdictions-profile-review']" *ngIf="role.ROLE_DBMD_B7_BOJ_RISK_REVIEW_POLICY_MAKER || role.ROLE_DBMD_B7_BOJ_RISK_REVIEW_POLICY_CHECKER" >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Risk profile, and Review policy</h2>
        </div> 
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/jurisdictions-bank-new']" *ngIf="role.ROLE_DBMD_A3_BOJNY_MAKER || role.ROLE_DBMD_A3_BOJNY_CHECKER" >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Jurisdictions Bank New Presence</h2>
        </div> 
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/profile-nonface-customers']"  *ngIf="role.ROLE_DBMD_B3_NFTOF_CUSTOMERS_PROFILE_MAKER || role.ROLE_DBMD_B3_NFTOF_CUSTOMERS_PROFILE_CHECKER" >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Profile of non-face-to-face Customers</h2>
        </div>  
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/aml-cft-riskmanagement']" *ngIf="role.ROLE_CAML_A4_AMLCFTRMF_APPLICATION_MAKER || role.ROLE_CAML_A4_AMLCFTRMF_APPLICATION_CHECKER"  >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Application of bank's AML-CFT risk management framework	
            </h2>
        </div> 
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/mapping-bank-aml']"  *ngIf="role.ROLE_CAML_A5_AMLCFTCRSCPC_MAPPING_MAKER || role.ROLE_CAML_A5_AMLCFTCRSCPC_MAPPING_CHECKER"  >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Mapping Of Bank Internal AML/CFT</h2>
        </div> 
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/transaction-monitoring']"  *ngIf="role.ROLE_CAML_A6_TRANSACTION_MONITORING_SYSTEMS_MAKER || role.ROLE_CAML_A6_TRANSACTION_MONITORING_SYSTEMS_CHECKER" >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Transaction Monitoring Systems</h2>
        </div> 
 
  
       
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/existing-respondent-correspondent-banks']" *ngIf="role.ROLE_IBD_C1_RCB_TERMINATED_MAKER || role.ROLE_IBD_C1_RCB_TERMINATED_CHECKER"  >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">No. of existing respondent and correspondent banks Terminated During Quarter</h2>
        </div> 
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/profile-of-respondent']"  *ngIf="role.ROLE_IBD_B5_RCB_PROFILE_MAKER || role.ROLE_IBD_B5_RCB_PROFILE_CHECKER" >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Profile of Respondent and Correspondent Banks</h2>
        </div> 
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/profile-of-new-respondent']"  *ngIf="role.ROLE_IBD_B6_NRCB_PROFILE_MAKER || role.ROLE_IBD_B6_NRCB_PROFILE_CHECKER" >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Profile of New Respondent and Correspondent Banks</h2>
        </div> 
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/inactive-dormant-accounts']" *ngIf="role.ROLE_CAML_C4_INACTIVE_DORMANT_ACCOUNTS_MAKER || role.ROLE_CAML_C4_INACTIVE_DORMANT_ACCOUNTS_CHECKER">
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Inactive And Dormant Accounts</h2>
        </div> 
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/post-transaction']"  *ngIf="role.ROLE_CAML_C9_POST_TRANSACTION_ALERTS_MAKER || role.ROLE_CAML_C9_POST_TRANSACTION_ALERTS_CHECKER" >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Type of Alerts (post-transaction)</h2>
        </div> 

 
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/suspicion-reports']"  *ngIf="role.ROLE_CAML_C11_SUSPICION_REPORTS_MAKER  || role.ROLE_CAML_C11_SUSPICION_REPORTS_CHECKER" >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Suspicion Reports</h2>
        </div> 
      
    
    
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/Jurisdictions-Risk-Profile']" *ngIf="role.ROLE_NIL_DATA_B8_JURISDICTIONS_RISK_PROFILE_MAKER || role.ROLE_NIL_DATA_B8_JURISDICTIONS_RISK_PROFILE_CHECKER" >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Jurisdictions Risk Profile</h2>
        </div>
      
  
       
      
  
 
       
         <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/sanction-caution-list']"  *ngIf="role.ROLE_CAML_C10_SANCTION_CAUTION_CUSTOMERS_MAKER  || role.ROLE_CAML_C10_SANCTION_CAUTION_CUSTOMERS_CHECKER" >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Sanction/Caution List</h2>
        </div>
         <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/penalties-related-matters']" *ngIf="role.ROLE_CAML_E3_AMLCFT_RELATED_MATTERS_MAKER  || role.ROLE_CAML_E3_AMLCFT_RELATED_MATTERS_CHECKER" >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">AML-CFT related matters</h2>
        </div> 
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/country-exposure-maturity']"  *ngIf="role.ROLE_COUNTRY_EXPOSURE_MATURITY">
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Country Exposure & Maturity</h2>
        </div>  
        
      

        <!-- <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/AnalyticalLeadComponent']" *ngIf="role.ROLE_ADMIN" >
            <p-card>
                
              <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Analytical Lead</h2>
        </div>  
        -->
       

       
  
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/Jurisdictions-Reviews-Overdue']" *ngIf="role.ROLE_NIL_DATA_C3_JURISDICTIONS_REVIEW_STATUS_MAKER || role.ROLE_NIL_DATA_C3_JURISDICTIONS_REVIEW_STATUS_CHECKER">
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Jurisdictions Reviews Overdue</h2>
        </div>
   
       
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/AML-KYC-Related-Complaints']"  *ngIf="role.ROLE_CUSTCARE_C13_AMLKYC_COMPLAINTS_MAKER  || role.ROLE_CUSTCARE_C13_AMLKYC_COMPLAINTS_CHECKER">
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">AML KYC Complaints</h2>
        </div>  

        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/KYC-AML-DEFICIENCIES']" *ngIf="role.ROLE_CUSTCARE_C13A_KYCAML_DEFICIENCIES_MAKER  || role.ROLE_CUSTCARE_C13A_KYCAML_DEFICIENCIES_CHECKER" >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">KYC AML DEFICIENCIES</h2>
        </div>  
       
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/Data-On-Kyc']" *ngIf="role.ROLE_ITD_F1_KYCAML_DATA_MAKER  || role.ROLE_ITD_F1_KYCAML_DATA_CHECKER"  >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Data On Kyc</h2>
        </div>
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/internal-audit-aml-cft']"  *ngIf="role.ROLE_IAD_E2A_AMLCFT_INTERNAL_AUDIT_REVIEWS_MAKER || role.ROLE_IAD_E2A_AMLCFT_INTERNAL_AUDIT_REVIEWS_CHECKER" >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Internal Audit AML-CML Reviews/Checks</h2>
        </div> 
       
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/compliance-aml-cft-review']" *ngIf="role.ROLE_IAD_E1_AMLCFT_AUDITOR_REVIEWS_COMPLIANCE_MAKER || role.ROLE_IAD_E1_AMLCFT_AUDITOR_REVIEWS_COMPLIANCE_CHECKER"  >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Aml review compliance</h2>
        </div> 
       
       
       

        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/Audit']" *ngIf="role.ROLE_IAD_E2B_AUDIT_MAKER || role.ROLE_IAD_E2B_AUDIT_CHECKER"  >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Audit</h2>
        </div>
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/face-to-face-customers']" *ngIf="role.ROLE_SHARES_B2_FTOF_CUSTOMERS_PROFILE_MAKER || role.ROLE_SHARES_B2_FTOF_CUSTOMERS_PROFILE_CHECKER"   >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">Profile of Face To Face Customers</h2>
        </div> 
     
       
         <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/cash-retention-limit']" *ngIf="role.ROLE_CASH_RETENTION_LIMIT" >
            <p-card>
                <img src="./assets/icons/annex.jpeg">
            </p-card>
            <h2 class="m-0 mt-2">CASH RETENTION LIMIT</h2>
        </div>  

        <!-- </div>  -->
        
    
        <!-- <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/adminPanel']" *ngIf="role.ROLE_ADMIN" >
            <p-card>
                
                <img src="./assets/icons/User image.png">

            </p-card>
            <h2 class="m-0 mt-2">Admin Panel</h2>
        </div>  -->
       
        <!-- <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/compliance-adminPanel']"  >
            <p-card>
                
                <img src="./assets/icons/User image.png">

            </p-card>
            <h2 class="m-0 mt-2">Compliance Admin Panel</h2>
        </div> -->

        
        <div class="p-col-2 m-1 cursor-pointer text-center" [routerLink]="['/adminPanel']" *ngIf="role.ROLE_ADMIN" >
            <p-card>
                
                <img src="./assets/icons/User image.png">

            </p-card>
            <h2 class="m-0 mt-2">Admin Panel</h2>
        </div> 
       
    </div>
</div>