<p-toast position="top-right"></p-toast>
<div class="p-col">
    <h3 style="text-align: center; padding-top: 12px;" class="m-0 pt-1">{{heading}}</h3>
</div>
<div class="card">
    <p-tabView>
        <div class="p-grid" style="text-align:inital;">    
            <div class="p-col text-right add" style="padding-bottom: 17px;">
                <button pButton type="button" *ngIf="isMaker" icon="pi pi-plus" iconPos="right" class="mr-2 " label="New Report"
                    (click)="newReport('new')"></button>
            </div>
        </div>
        <div class="scroller">
        <p-table [columns]="cols" [value]="reportData"  dataKey="name" editMode="row" class="tableFixed" styleClass="p-datatable-gridlines top-20">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" style="min-width: 200px;">
                        {{col.header}}
                    </th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns" [ngSwitch]="col.field">
                        {{col.field=="createdDate" || col.field=="dateOfReport"?(rowData[col.field] |
                        date : 'dd-MM-yyyy'):rowData[col.field]}}
                    </td>
                    <td>
                        <div >
                        <button pButton label="View"  (click)="viewReport('view',rowData)" *ngIf="isMaker" style="max-height: 30px;margin: 3px;"></button>
                        
                        <button pButton label="Approve/Reject" *ngIf="isChecker" (click)="viewReport('Approve/Reject',rowData)" style="max-height: 30px;margin: 3px;" iconPos="left"></button>
                        </div>
                    </td> 
                </tr>
            </ng-template>
        </p-table>
        </div>
    </p-tabView>
</div>
