<h3 style="text-align: center;">Analytical Lead Followup</h3>
<div class="text-right">
    <button class="add_btn" (click)="add()">+ Follow Up</button>

</div>
<div class="content-section">

    <div class="stress ease">

        <div class="scroller">

            <p-table dataKey="name" editMode="row" class="tableFixed">
                <ng-template pTemplate="header">
                    <tr>
                        <ng-container>
                            <!-- <th>S. No.</th> -->
                            <th *ngFor="let hr of tableNames">
                                {{hr.name}}
                            </th>


                        </ng-container>
                    </tr>
                    <tr *ngFor="let obj of dataArray; let i=index">
                        <td> <input name="Product_Offered{{i}}" required [(ngModel)]="obj.Product_Offered" pInputText>
                        </td>
                        <td> <input name="Customer_Name{{i}}" required [(ngModel)]="obj.Customer_Name" pInputText></td>
                        <td> <input name="Mobile_Number{{i}}" required [(ngModel)]="obj.Mobile_Number" pInputText></td>
                        <td> <input name="Alternate_Mobile_Number{{i}}" required
                                [(ngModel)]="obj.Alternate_Mobile_Number" pInputText></td>
                        <td> <input name="Contacted_Mode{{i}}" required [(ngModel)]="obj.Contacted_Mode" pInputText>
                        </td>
                        <td> <input name="Contacted_On_Date{{i}}" required [(ngModel)]="obj.Contacted_On_Date"
                                pInputText></td>
                        <td> <input name="Response{{i}}" required [(ngModel)]="obj.Response" pInputText></td>
                        <td> <input name="Interested{{i}}" required [(ngModel)]="obj.Interested" pInputText></td>
                        <td> <input name="Customer_Remark{{i}}" required [(ngModel)]="obj.Customer_Remark" pInputText>
                        </td>
                        <td> <input name="Additional_Data{{i}}" required [(ngModel)]="obj.Additional_Data" pInputText>
                        </td>
                        <td> <input name="Lead_Assigned_Sol_Id{{i}}" required [(ngModel)]="obj.Lead_Assigned_Sol_Id"
                                pInputText></td>
                        <td> <input name="Name_of_Preferred_Branch{{i}}" required
                                [(ngModel)]="obj.Name_of_Preferred_Branch" pInputText></td>
                        <td> <input name="Lead{{i}}" required [(ngModel)]="obj.Lead" pInputText></td>
                        <td> <input name="Entered_By{{i}}" required [(ngModel)]="obj.Entered_By" pInputText></td>
                        <td> <input name="Date{{i}}" required [(ngModel)]="obj.Date" pInputText></td>
                        <td>
                            <div *ngIf="i!=0"><button class="remove_btn" (click)="removeForm(obj)"><i
                                        class="fas fa-trash mr-2"></i>Remove</button></div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="footer-section">

            <button class="back_btn"><i class="fas fa-chevron-left mr-2"></i>
                Back</button>

            <button class="save_btn" (click)="onSubmit()" iconPos="left">
                <i class="far fa-save mr-2"></i>
                Save
            </button>
        </div>
    </div>
</div>
<p-toast position="top-right"></p-toast>