.footer-section{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.save_btn{
    border-radius: 5px;
    background:#00A300;
    border: none;
    padding: 12px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.remove_btn{
    border-radius: 5px;
    background:#D10000;
    border: none;
    padding: 12px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;

}
.add_btn{
    background: #2196F3;
    padding: 13px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    color: white;

}
input{
    margin-top: 10px;
}

.back_btn{
background: antiquewhite;
    padding: 13px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}