<p-toast position="top-right">
</p-toast>
<div class="p-col">
    <h3 style="text-align: center;padding-top: 12px;" class="m-0 pt-1">{{heading}}</h3>
</div>
    <p-tabView>
        <div class="mb-2 pt-2 text-center">
            <form [formGroup]="countryForm" style="text-align:center;display: inline-flex;column-gap: 30px;">
               <p-dropdown formControlName="financialYear" [options]="dropdownYears"
                    placeholder="Select financial year*" (onChange)="getRecords($event)"></p-dropdown>
                <p-dropdown formControlName="quarterEndingDate" [options]="quarterEndingDate"
                    placeholder="Select a Quarter*" (onChange)="getRecords($event)"></p-dropdown>
            </form>
        </div>
        <div *ngIf="isView">
            <div class="p-col mb-2 pt-2 text-right" *ngIf="isMaker">
                <button pButton type="button" *ngIf="!isChecker && !rejectedFlag" icon="pi pi-plus" iconPos="right" class="mr-2 " label="Add" (click)="add()"></button>
                <button pButton type="button" class="mr-2 " label="Submitted Records"  (click)="AllSubmittedRecords()"></button>
                <p-button label="Rejected Records" iconPos="left" styleClass="p-button p-button-pnb btn-block" (click)="rejectedRecords()"></p-button>
            </div>
    
            <div class="scroller">
                <p-table [value]="display" dataKey="name" editMode="row" class="tableFixed"
                    styleClass="p-datatable-gridlines top-20">
                    <ng-template pTemplate="header">
                        <tr>
                            <ng-container *ngFor="let heading of tableNames">
                                <th style="min-width: 300px;">{{heading.name}}</th>
                            </ng-container>
                            <th *ngIf="!isChecker && !rejectedFlag">Action</th>
                        </tr>
                    </ng-template>
    
    
                    <ng-template pTemplate="body" let-account let-ri="rowIndex">
                        <tr [pEditableRow]="account">
                    
                            <ng-container>   
                                <td pEditableColumn *ngFor="let name of tableNames" style="min-width: 200px"
                                    [ngClass]="{'disabled':(!name.editable || submitted || isChecker)}"
                                    [ngStyle]="{'background-color': !name.editable || isChecker ? '#dee2e6' :'#fff' }">
                                    <ng-container *ngIf="!name.editable || submitted || isChecker">
                                       {{account[name.title]}}
                                    </ng-container>
                                    <ng-container> {{name.edit}} </ng-container>
                                  
                                    <p-cellEditor *ngIf="(name.editable && !submitted) && !isChecker">
                                        <ng-template pTemplate="input">
                                            <input pInputText (keypress)="numberOnly($event)" [required]="name.required"  *ngIf="name.inpType!='date'"
                                                [(ngModel)]="account[name.title]" [name]="name.title"
                                                [type]="name.inpType" style="width:100%" [min]="1">

                                                <input pInputText  [required]="name.required" *ngIf="name.inpType=='date'"
                                                [(ngModel)]="account[name.title]" [name]="name.title"
                                                [type]="name.inpType" style="width:100%" [min]="1">
                                         </ng-template>
    
                                        <ng-template pTemplate="output">{{account[name.title]}}</ng-template>
                                    </p-cellEditor>
                                </td>
                                <td *ngIf="!isChecker && !rejectedFlag">
                                    <i class="pi pi-trash text-danger" (click)="delete(ri)"></i>
                                </td>
                            </ng-container>
                        </tr>
                        
                    </ng-template>
                    <ng-template pTemplate="footer" *ngIf="isMaker && !rejectedFlag">
                        <ng-container  *ngIf="!isChecker && !rejectedFlag">
                            <tr >
                                <td colspan="10" style="background-color: #dee2e6;">*Please specify in Remarks Column</td>
                            </tr>
                            <tr style="background-color: gray;">
                                <td colspan="10" style="background-color: #dee2e6;">**Enhanced CDD requirements as warranted in high risk situations: High
                                    risk situation refers to high risk customers, high risk transactions, and
                                    transactions with high-risk jurisdictions</td>
                            </tr>
                            <tr style="background-color: gray;">
                                <td colspan="10" style="background-color: #dee2e6;">#Penalty amounty in FCY to be converted to INR as per FEDAI rates as on
                                    quarter end date</td>
                            </tr>
                        </ng-container>
    
    
                    </ng-template>
    
                </p-table>
            </div>
        </div>
    </p-tabView>


<div *ngIf="isView">
    <div *ngIf="isChecker"  [formGroup]="checkerForm">
        <textarea [disabled]="submitted==true" formControlName="comment" class="comments" [(ngModel)]="comments"
            placeholder="Comment Here..."></textarea>
    </div>

    <div *ngIf="isMaker" style="margin-top: 1%;text-align: center;margin-bottom:10px">

        <button pButton icon="pi" label="Submit" type="submit" (click)="submit('submit')" [disabled]="submitted==true"
            style="border: none;background: #a20a3a;color: white;" class="p-button-primary mr-2"></button>
    </div>

    <div *ngIf="isChecker" class="text-center mt-2 mb-2 pt-2">
        <button [disabled]="submitted==true" pButton icon="pi-pi-times" (click)="confirm('REJECTED')" label="Reject"
            class="p-button-primary mr-2"></button>
        <button [disabled]="submitted==true" pButton type="button" (click)="confirm('APPROVED')" label="Approve"
            class=" ml-2 p-button-success"></button>
    </div>

</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>


