<div class="invite-customer admin-dashboard">
    <div class="heading  mt-4">
        <div class="left">
            <h1>Dashboard</h1>
        </div>
    </div>
    <div>
        <div class="search-container mt-4">
            <div class="searchbox">
                <div class="left">
                    <i class="icon-search icon" aria-hidden="true"></i>
                    <span class="inline-flex text-lg text-inherit"><input type="search" style="outline: none;"
                            placeholder="Search Vendor" /></span>
                </div>
                <div class="right">
                    <button type="button" class="btn btn-download text-black  p-0 "
                    dropdownToggle style="width:inherit;">
                    <i class="icon-download icon"></i> Download CSV
                </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mt-3">
                <p style="text-align: right;cursor: pointer;color: rgb(41 46 59);width: 100px;float: right;"
                    (click)="open('tableModal')">Table setting</p>
            </div>
            <div class="page-content">
                <div class="showList mt-3">
                    <p-table [columns]="selectedColumns" [value]="vendors"  [resizableColumns]="true" class="p-table mt-5"
                        responsiveLayout="scroll"  [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [rowsPerPageOptions]="[10,25,50]" >
                        <div class="col-4">

                        </div>
                        <ng-template pTemplate="header" let-columns>
                            <tr>

                                <ng-container *ngFor="let col of columns">
                                    <th class="cursor-pointer " *ngIf="col.name=='riskRating'" (click)="open('rating')"
                                        (click)="sortBy(col.name, col)" style="cursor: pointer;">{{col.header}}<img
                                            *ngIf="col.sort" class="inline-flex" style="max-width: 14%;"
                                            src="../../assets/images/arrow_drop_up-24px@2x.png"></th>
                                    <th class="cursor-pointer " *ngIf="col.name!='riskRating'"
                                        (click)="sortBy(col.name, col)">{{col.header}} <img *ngIf="col.sort"
                                            style="max-width: 14%;" class="inline-flex"
                                            src="../../assets/images/arrow_drop_up-24px@2x.png"></th>
                                </ng-container>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product let-columns="columns">
                            <tr>
                                <ng-container *ngFor="let col of columns">
                                    <td *ngIf="col.header!='Action' && col.header!='Location'"> {{product[col.name]}}
                                    </td>
                                    <td *ngIf="col.header=='Location'">{{product.operationalAddress.country}}</td>
                                    <td *ngIf="col.header=='Action'">
                                        <div class="inline-img">
                                                <i class="icon-view icon" [routerLink]="['/admin/shippingdetails',product.organizationId]"></i>
                                                <i class="icon-cross-circle icon" [routerLink]="['/admin/shippingdetails',product.organizationId]"></i>
                                                <i class="icon-tick-circle icon" [routerLink]="['/admin/shippingdetails',product.organizationId]"></i>
                                        </div>
                                    </td>
                                </ng-container>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>



</div>