<form  [formGroup]="userForm">
    <div class="row companyuser p-3">
        <div class="col-12">
            <div class="dashboardHeading">
                <h2 class="fw-bold">Add User Access Management</h2>
            </div>
            <div class="row mt-5">
                <div class="col-md-3 form-group">
                    <label for="" class="">First Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="firstName">
                    <div app-errors class="error-msg" [control]="f.firstName"  label="first Name"></div>
                </div>
                <div class="col-md-3 form-group">
                    <label for="" class="">Email Address<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="email">
                    <div app-errors class="error-msg" [control]="f.email"  label="Email Address"></div>
                </div>
                <div class="col-md-3 form-group">
                    <label for="" class="">Phone Number<span class="text-danger">*</span></label>
                    <input type="text" formControlName="mobileNumber" class="form-control">
                    <div app-errors class="error-msg" [control]="f.mobileNumber"  label="Phone Number"></div>
                </div>
                <div class="col-md-3 form-group">
                    <label for="" class="">Last Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" formControlName="lastName">
                    <div app-errors class="error-msg" [control]="f.lastName"  label="Active"></div>
                </div>
            </div>
            <!-- <p class="text-2xl font-bold mt-3">Locations</p>
            <div class="row mt-3" formGroupName="locations">
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true" (click)="locationChange()" formControlName="selectAll" inputId="binary"></p-checkbox>
                    <label for="binary" class=" form-check ">Select All</label>
                </div>
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true" inputId="binary" formControlName="location1"></p-checkbox>
                    <label for="binary" class=" form-check ">Location 1</label>
                </div>
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true" inputId="binary" formControlName="location2"></p-checkbox>
                    <label for="binary" class=" form-check ">Location 2</label>
                </div>
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true" inputId="binary" formControlName="location3"></p-checkbox>
                    <label for="binary" class=" form-check ">Location 3</label>
                </div>
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true" inputId="binary" formControlName="location4"></p-checkbox>
                    <label for="binary" class=" form-check ">Location 4</label>
                </div>
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true" inputId="binary" formControlName="location5"></p-checkbox>
                    <label for="binary" class=" form-check ">Location 5</label>
                </div>
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true" inputId="binary" formControlName="location6"></p-checkbox>
                    <label for="binary" class=" form-check ">Location 6</label>
                </div>
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true" inputId="binary" formControlName="location7"></p-checkbox>
                    <label for="binary" class=" form-check ">Location 7</label>
                </div>
            </div>
    
            <p class="text-2xl font-bold mt-5">Access Roles</p>
            <div class="row mt-3" formGroupName="accessRoles">
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true" formControlName="selectAll" (click)="locationChange()" inputId="binary"></p-checkbox>
                    <label for="binary" class=" form-check ">Select All</label>
                </div>
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true" formControlName="upload" inputId="binary"></p-checkbox>
                    <label for="binary" class=" form-check ">Upload</label>
                </div>
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true"  formControlName="approve" inputId="binary"></p-checkbox>
                    <label for="binary" class=" form-check ">Approve</label>
                </div>
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true" formControlName="read"  inputId="binary"></p-checkbox>
                    <label for="binary" class=" form-check ">Read</label>
                </div>
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true" formControlName="addUsers" inputId="binary"></p-checkbox>
                    <label for="binary" class=" form-check ">Add Users</label>
                </div>
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true"  formControlName="reports" inputId="binary"></p-checkbox>
                    <label for="binary" class=" form-check ">Reports</label>
                </div>
            </div>
    
            <p class="text-2xl font-bold mt-5">Departments</p>
            <div class="row mt-3" formGroupName="departments">
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true" formControlName="selectAll" (click)="locationChange()" inputId="binary"></p-checkbox>
                    <label for="binary" class=" form-check ">Select All</label>
                </div>
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true" formControlName="administration"  inputId="binary"></p-checkbox>
                    <label for="binary" class=" form-check ">Administration</label>
                </div>
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true" formControlName="finance" inputId="binary"></p-checkbox>
                    <label for="binary" class=" form-check ">Finance</label>
                </div>
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true" formControlName="management" inputId="binary"></p-checkbox>
                    <label for="binary" class=" form-check ">Management</label>
                </div>
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true" formControlName="humanResource" inputId="binary"></p-checkbox>
                    <label for="binary" class=" form-check ">Human Resource</label>
                </div>
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true" formControlName="marketing" inputId="binary"></p-checkbox>
                    <label for="binary" class=" form-check ">Marketing</label>
                </div>
                <div class="col-md-3 form-group"  style="display: flex;">
                    <p-checkbox  binary="true" formControlName="sales" inputId="binary"></p-checkbox>
                    <label for="binary" class=" form-check ">Sales</label>
                </div>
            </div>
             -->
            <div class="inv-footer mt-5 mb-5">
                <button class="btn cancel-btn" [routerLink]="['/vendorcompanyuser/companyuser']">CANCEL</button>
                <button class="btn save btn-primery" (click)="submit()">SUBMIT</button>
            </div>
        </div>
    </div>
    </form>
    