<p-accordion>
    <div class="p-col">
        <h3 style="text-align: center;padding-top: 12px;"  class="m-0 pt-1" >{{heading}}</h3>
    </div>
    <p-accordionTab header="Part A: Executive / Whole time directors" [selected]="true">
        
           <div class="card">
            <p-tabView>
                <div class="p-grid" style="text-align:inital;">    
                    <div class="p-col text-right add" style="padding-bottom: 17px;">
                        <button pButton type="button"  icon="pi pi-plus" iconPos="right" class="mr-2 " label="Add"
                            (click)="add('PartA',reportData)"></button>
                    </div>
                </div>
                <div class="SectionScroller">
                <p-table [columns]="cols" [value]="reportData" responsiveLayout="scroll">
                   
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [ngStyle]="{'width':col.width}">
                                {{col.name}}
                            </th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-account let-ri="rowIndex">
                        <tr [pEditableRow]="account">
                            <ng-container>
                                
                                <td pEditableColumn *ngFor="let col of cols" style="min-width: 250px;height: 46px;"
                                [ngClass]="{'disabled':(!col.editable)}"  [ngStyle]="{'background-color': !col.editable  ? '#dee2e6' :'#fff'}">
                                    <ng-container *ngIf="!col.editable ">
                                        {{col.title=="createdOn"?(account[col.title] | date :
                                        'dd-MM-yyyy'):col.title=="boardAppointmentDate"?(account[col.title] | date :
                                        'dd-MM-yyyy'):account[col.title]}}
                                    </ng-container>
                                    <ng-container>
                                        {{col.edit}}
                                    </ng-container>
                                    <p-cellEditor *ngIf="(col.editable)"  >
                                        <ng-template pTemplate="input">
                                            
                                            <input pInputText [required]="col.required" [name]="col.title"
                                                [type]="col.inpType" [(ngModel)]="account[col.title]" 
                                                [min]="1" style="width:100%">

                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{col.title=="createdOn"?(account[col.title] | date :
                                            'dd-MM-yyyy'):col.title=="boardAppointmentDate"?(account[col.title] | date :
                                            'dd-MM-yyyy'):account[col.title]}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td >
                                    <i class="pi pi-trash text-danger" (click)="delete(ri,'PartA')" ></i>
                                </td>

                        </ng-container>
                     </tr>

                </ng-template>
                </p-table>
                </div>
            </p-tabView>
        </div>
    </p-accordionTab>

    <p-accordionTab header="Part B: Non - Executive directors" >
        
        <div class="card">
         <p-tabView>
             <div class="p-grid" style="text-align:inital;">    
                 <div class="p-col text-right add" style="padding-bottom: 17px;">
                     <button pButton type="button"  icon="pi pi-plus" iconPos="right" class="mr-2 " label="Add"
                         (click)="add('PartB',reportBData)"></button>
                 </div>
             </div>
             <div class="SectionScroller">
             <p-table [columns]="cols" [value]="reportBData" responsiveLayout="scroll">
                
                 <ng-template pTemplate="header" let-columns>
                     <tr>
                         <th *ngFor="let col of columns" [ngStyle]="{'width':col.width}">
                             {{col.name}}
                         </th>
                         <th>Action</th>
                     </tr>
                 </ng-template>
                 <ng-template pTemplate="body" let-account let-ri="rowIndex">
                     <tr [pEditableRow]="account">
                         <ng-container>
                             
                             <td pEditableColumn *ngFor="let col of PartBcols" style="min-width: 250px;height: 46px;"
                             [ngClass]="{'disabled':(!col.editable)}"  [ngStyle]="{'background-color': !col.editable  ? '#dee2e6' :'#fff'}">
                                 <ng-container *ngIf="!col.editable ">
                                    {{col.title=="createdOn"?(account[col.title] | date :
                                    'dd-MM-yyyy'):col.title=="boardAppointmentDate"?(account[col.title] | date :
                                    'dd-MM-yyyy'):account[col.title]}}
                                 </ng-container>
                                 <ng-container>
                                     {{col.edit}}
                                 </ng-container>
                                 <p-cellEditor *ngIf="(col.editable)"  >
                                     <ng-template pTemplate="input">
                                         <input pInputText [required]="col.required" [name]="col.title"
                                             [type]="col.inpType" [(ngModel)]="account[col.title]"  
                                             [min]="1" style="width:100%">

                                     </ng-template>
                                     <ng-template pTemplate="output">
                                        {{col.title=="createdOn"?(account[col.title] | date :
                                        'dd-MM-yyyy'):col.title=="boardAppointmentDate"?(account[col.title] | date :
                                        'dd-MM-yyyy'):account[col.title]}}
                                     </ng-template>
                                 </p-cellEditor>
                             </td>
                             <td >
                                 <i class="pi pi-trash text-danger" (click)="delete(ri,'PartB')" ></i>
                             </td>

                     </ng-container>
                  </tr>

             </ng-template>
             </p-table>
             </div>
         </p-tabView>
     </div>

        <p style="font-size: 13px;">*State specially if :-</p>    
         <p style="font-size: 13px;">   (a) Appointment is ex-officio, such as nominees of  Govt of India, Reserve Bank of India and officer & other staff of  bank.</p>       
         <p style="font-size: 13px;">   (b)  Residential status is non-resident.</p> 
 </p-accordionTab>

 <p-accordionTab header="Part C: Managers (KEY EXECUTIVE OFFICERS)" >
        
    <div class="card">
     <p-tabView>
        <div class="p-grid" style="text-align:inital;">    
            <div class="p-col text-right add" style="padding-bottom: 17px;">
                <button pButton type="button"  icon="pi pi-plus" iconPos="right" class="mr-2 " label="Add"
                    (click)="add('PartC',reportCData)"></button>
            </div>
        </div>
            <div class="SectionScroller">
             <p-table [columns]="PartCcols" [value]="reportCData" responsiveLayout="scroll">
            
             <ng-template pTemplate="header" let-columns>
                 <tr>
                     <ng-container *ngFor="let col of PartCcols">
                     <th *ngIf="col.title=='executive'"  style="min-width: 330px;">
                            {{col.name}}
                    </th>
                     <th *ngIf="col.title=='appointedsince'"  colspan="2">
                         {{col.name}}
                     </th>
                     <th *ngIf="col.title!='appointedsince' && col.title!='executive'"  colspan="1">
                        {{col.name}}
                    </th>
                    </ng-container>
                    <th>Action</th>
                 </tr>

                 <tr>
                    <ng-container *ngFor="let col of PartCSubcols">
                    <th *ngIf="col.title=='appointedsinceinBank' || col.title=='appointedsincetoIncumbent'">
                        {{col.name}}
                    </th>
                    <th *ngIf="col.title!='appointedsinceinBank' && col.title!='appointedsincetoIncumbent'"  >
                       {{col.name}}
                   </th>
                   
                   </ng-container>
                   <th></th>
                   
                </tr>
             </ng-template>
             <ng-template pTemplate="body" let-account let-ri="rowIndex">
                 <tr [pEditableRow]="account">
                     <ng-container>
                         
                         <td pEditableColumn *ngFor="let col of PartCSubcols" style="min-width: 250px;height: 46px;"
                         [ngClass]="{'disabled':(!col.editable)}"  [ngStyle]="{'background-color': !col.editable  ? '#dee2e6' :'#fff'}">
                         
                            <ng-container *ngIf="!col.editable ">
                                {{col.title=="createdOn"?(account[col.title] | date :
                                'dd-MM-yyyy'):col.title=="bankAppointedDate"?(account[col.title] | date :
                                'dd-MM-yyyy'):col.title=="incumbentPositionDate"?(account[col.title] | date :
                                'dd-MM-yyyy'):account[col.title]}}
                             </ng-container>
                             <ng-container>
                                 {{col.edit}}
                                
                             </ng-container>
                             <p-cellEditor *ngIf="(col.editable)"  >
                               
                                <ng-template pTemplate="input">
                                    
                                     <input pInputText [required]="col.required" [name]="col.title"
                                         [type]="col.inpType" [(ngModel)]="account[col.title]"  
                                         [min]="1" style="width:100%" (change)="validateEmail()">
                                   
                                 </ng-template>
                                 <ng-template pTemplate="output">
                                    {{col.title=="createdOn"?(account[col.title] | date :
                                    'dd-MM-yyyy'):col.title=="bankAppointedDate"?(account[col.title] | date :
                                    'dd-MM-yyyy'):col.title=="incumbentPositionDate"?(account[col.title] | date :
                                    'dd-MM-yyyy'):account[col.title]}}
                                 </ng-template>
                             </p-cellEditor>
                         </td>
                         <td >
                                  <i class="pi pi-trash text-danger" (click)="delete(ri,'PartC')" type="disabled"></i>
                        </td>

                 </ng-container>
              </tr>

         </ng-template>
         </p-table>
         </div>
     </p-tabView>
 </div>								
</p-accordionTab>
</p-accordion>
<div class="row" style="padding-bottom:31px;padding-top: 25px;">
    <button pButton  (click)="submit()" label="Submit" icon="pi pi-check"    iconPos="left" class="mb-5" style="float:right;"></button>
    <button pButton type="button" label="Back" (click)="gotoSection1('Section2')" class="p-button-raised p-button-secondary mr-2 mb-5"></button>
</div>
