<div class="bank-dashboard">
    <div class="header">
        <div class="left">
            <div class="logo-img">
                <img src="../../../assets/images/bank-icons.png" alt="bank-logo">
            </div>
            <div class="heading">
                <div class="head">
                    <h1>{{title}}</h1>
                    <!-- <button>Add to My Dashboard</button>
                    <button class="invite">Invite to Digicomp+</button> -->
                </div>
                <!-- <div class="para">
                    <label  >Incorporation Date : 12-June-2004</label> <span>|</span>
                    <label class="first" >Registration Number : 293909221</label>
                </div> -->
            </div>
        </div>
        <!-- <div class="right">
            <p>Last Activity : 12 june,2008</p>
            <p>Tower-B Unitech Cyber Park Sector 39 Gurugram</p>
        </div> -->
    </div>

    <div class="tab-views mt-3"  >
        <div class="col-md-12">
            <div class="settingForm">
                <p-tabView>
                    <p-tabPanel header="Compliance" >
                        <app-bank-compliance></app-bank-compliance>
                    </p-tabPanel>
                    <p-tabPanel header="Directors & Shareholders" class="mt-4" >
                        <app-bank-director  ></app-bank-director>
                    </p-tabPanel>
                    <p-tabPanel header="Financial" class="mt-4">
                        <app-bank-financial></app-bank-financial>
                    </p-tabPanel>
                    <!-- <p-tabPanel header="ESG" class="mt-4">
                        <app-bank-esg></app-bank-esg>
                    </p-tabPanel> -->
                </p-tabView>
            </div>
        </div>
    </div>
</div>