<div class="add-case-managment">
<div class="row p-3">
    <div class="col-12 ">
        <div class="contactheading">
            <h2 class="font-bold text-2xl">Add Case Management</h2>
            <!-- <button class="btn cancel-btn text-sm" style="border-radius: inherit;margin-right: 4%;"  [routerLink]="['/dashboard/dashboard']"> Go Back</button> -->
        </div>
        <form class="mt-5 " [formGroup]="caseForm">
            <div class="row">
                <div class="col-6">
                    <div class="inputInv mt-3">
                        <label for="date" class="font-semibold" style="width: 22%;">Date</label>
                        <p-calendar [maxDate]="maxDate" formControlName="startDate"
                            [ngClass]="{'is-invalid':formSubmitAttempt && f.startDate.errors}" class="input-width"
                            dateFormat="dd-mm-yy" [showIcon]="true" inputId="icon"></p-calendar>
                    </div>
                    <div app-errors class="error-msg" [control]="f.startDate" [submit]="formSubmitAttempt"
                        label="startDate">
                    </div>
                </div>

                <div class="col-6 ">
                    <div class="inputInv mt-3">
                        <label for="number" class="font-semibold" style="width: 22%;">Reference Number</label>
                        <input type="text" class="input-width" pInputText formControlName="referenceNumber"
                            [ngClass]="{'is-invalid':formSubmitAttempt && f.referenceNumber.errors}">
                    </div>

                    <div app-errors class="error-msg" [control]="f.referenceNumber" [submit]="formSubmitAttempt"
                        label="referenceNumber">
                    </div>
                </div>


                <div class="col-6 ">
                    <div class="inputInv mt-3">
                        <label for="supplier" class="font-semibold" style="width: 22%;">Supplier/Customer</label>
                        <p-dropdown [options]="supplier" class="input-width" optionLabel="name"
                            formControlName="supplierCustomer"
                            [ngClass]="{'is-invalid':formSubmitAttempt && f.supplierCustomer.errors}"></p-dropdown>
                    </div>

                    <div app-errors class="error-msg" [control]="f.supplierCustomer" [submit]="formSubmitAttempt"
                        label="supplierCustomer">
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="inputInv mt-3">
                        <label for="note" class="font-semibold textsize" style="width: 22%;">Notes</label>
                        <textarea formControlName="note" class="input-width" cols="44" rows="4" autoResize="autoResize" pInputTextarea
                            [ngClass]="{'is-invalid':formSubmitAttempt && f.note.errors}"></textarea>
                    </div>
                    <div app-errors class="error-msg" [control]="f.note" [submit]="formSubmitAttempt" label="note">
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button class="btn cancel" [routerLink]="['/vendorcasemanagement','casemanagement']">CANCEL</button>
                <button class="btn save" (click)="postData()">SUBMIT</button>
            </div>
        </form>
    </div>
</div>
</div>