<p-toast position="top-right"></p-toast>
<div style="margin-top:10px;"></div>
<div class="row" *ngIf="!isEditCompliance">
<div class="p-grid p-fluid bg-white" style="width:100%;margin:0%">
    <div>
    <div class="p-col-12">
       
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Search By Division/Report Name/Report Type" [(ngModel)]="division" style="width:350px">
            <p-button label="Search" icon="pi pi-search" iconPos="left" styleClass="p-button p-button-pnb btn-block"   (click)="getUser()"></p-button>
            <!-- <button type="button" pButton pRipple label="Search"></button> -->
        </div>
    </div>
    
    <!-- <div class="p-col-2">
        <button pButton type="button" label="Add New User" icon="pi pi-plus" iconPos="left" [routerLink]="['/compliance-adminPanel/add']"></button>
    </div> -->
    </div>
    <div class="p-col-12">
        <p-table [value]="users" class="table-auto">
            <ng-template pTemplate="header">
                <tr>
                    <!-- <th *ngFor="let head of headers" class="cursor-pointer" (click)="sortBy('userName')">{{head.name}}</th> -->
                    <th>Report Name</th>
                    <th>Report Type</th>
                    <th>Division</th>
                    <th>Asignee Email</th>
                    <th>Escalation Email</th>

                    <th style="width: 100px;">Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                  
                    <td>
                      
                       {{user.reportName}}
                    </td>
                    <td>
                       {{user.reportType}}
                      
                    </td>
                  
                    <td>
                      
                   {{user.division}}
                    </td>
                    <td>
                       
                     {{user.reviewMailers}}
                    </td>
                    <td>
                       
                   {{user.escalationMailers}}
                    </td>
                    <td>
                        <button pButton pRipple type="button" (click)="edit(user.reportId)" icon="pi pi-pencil" class="p-button-rounded p-button-text" text-align="center"></button>
                    </td>
                </tr>
            </ng-template>
           
        </p-table>
    </div>
</div>
</div>

<p-dialog header="Compliance Reports" [(visible)]="displayModal" [style]="{width: '50vw'}">
    <h3 class="text-center">How do you wish to update the records?</h3>
    <div class="text-center">
        <button class="btn-report" (click)="updateReport('division')">Division Wise</button>
        <button class="btn-report" (click)="updateReport('report')">Report Wise</button>
    </div>
</p-dialog>


<app-compliance-edit *ngIf="isEditCompliance" (updateComplience)="goBack($event)" [reportId]="reportId" [compUpdateType]="updateType"></app-compliance-edit>