a{
    margin: 0 1% 0 1%;
    text-decoration: none;
    padding: 1px;
    // border: solid 2px gray;
    color: blue;
    padding: 0.5% 0.5% 0 0.5%;
    // border: solid 1px gray;
}
a:hover{
    text-decoration: none;
}
.divi{
    border-bottom: solid 1px gray;
    // margin-left: 10%;
}
.focus{
    border-bottom: solid 1px white;
    border-top: solid 1px gray;
    border-left:  solid 1px gray;
    border-right: solid 1px gray;
    color: black;
}