<p-toast position="top-right"></p-toast>

<form class="pt-2" name="userForm" [formGroup]="userForm" (ngSubmit)="saveUser()" class="userForm">
    <div class="p-fluid p-grid">
        <div class="p-field p-col-12 p-md-6">
            <span class="p-float-label">
                <input id="userName" name="userName" pInputText  [disabled]="disabled" autocomplete="off"  formControlName="userName" type="text" required >
                <label for="userName">User Name</label>
            </span>
        </div>
        <div class="p-field p-col-12 p-md-6">
            <span class="p-float-label">
                <p-multiSelect [options]="availableRoles"  formControlName="roles" optionLabel="name"></p-multiSelect>
                <label for="roles">Roles</label>
            </span>
        </div>

    </div>
    <div class="p-col-12 text-right">
        <button pButton type="button" label="Cancel" class="p-button-secondary mr-2" [routerLink]="['/adminPanel/all']"></button>
        <button pButton type="submit" label="Save" class=" p-button-pnb ml-2" icon="pi pi-check" iconPos="left"></button>
    </div>
</form>