<p-toast position="top-right">
</p-toast>
<div class="p-grid"></div>
<div class="p-col">
    <h3 style="text-align: center;padding-top: 12px;"  class="m-0 pt-1" >{{heading}}</h3>
</div>
<div class="card">
    <p-tabView>
        <div class="p-grid" >
            <!-- <div class="p-col">
                <input type="text" pInputText placeholder="Account Number" [(ngModel)]="accountNumber" name="accountNumber" style="width:240px">
                <button type="button" pButton pRipple label="Search" (click)="getDataByAccountNo()"></button>
            </div> -->
            <div class="p-col text-right add" style="padding-bottom: 17px;" >
                <button  pButton type="button" icon="pi pi-plus" iconPos="right" class="mr-2 " label="Add" (click)="add()"></button>
            </div>
        </div>
        <div class="stress ease">
            <form #accountForm="ngForm">
                <div class="scroller">
                <p-table [value]="display" dataKey="name" editMode="row" class="tableFixed">
                    <ng-template pTemplate="header">
                        
                        
                        <tr>
                            <ng-container>
                                <!-- <th>S. No.</th> -->
                                <th *ngFor="let hr of tableNames">
                                    {{hr.name}}
                                    <!-- <span *ngIf="hr.required" style="color: yellow;">*</span> -->
                                    <br>{{hr.subText}}

                                </th>
                                 <!-- <th style="max-width: 100px;min-width: 50px;"> 
                                     Action
                                  </th>     -->
                            </ng-container>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-account let-ri="rowIndex">
                        <tr [pEditableRow]="account">
                             <ng-container> 
                                <td pEditableColumn *ngFor="let name of tableNames" [ngClass]="{'disabled':(!name.editable || account.edit)}" [ngStyle]="{'background-color': !name.editable || account.edit ? '#dee2e6' :'#fff' }">
                                    <ng-container *ngIf="!name.editable">
                                        {{name.title=="createdOn"?(account[name.title] | date : 'dd-MM-yyyy'):account[name.title]}}
                                    </ng-container>
                                    <p-cellEditor *ngIf="name.editable">
                                        <ng-template pTemplate="input">
                                            <input pInputText [required]="name.required" [name]="name.title" [type]="name.inpType" [(ngModel)]="account[name.title]" (change)="changed=true;fileUpload($event,account,name)" [min]="1" *ngIf="name.title!='status' && name.title!='action' && name.title!='dataUpdated' && name.title!='remarks'">
                                            <input pInputText [required]="name.required" [name]="name.title" [type]="name.inpType" [(ngModel)]="account[name.title]" [min]="1" *ngIf="name.title=='remarks'" [disabled]="account.edit">
                                            <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel" [name]="name.title" [(ngModel)]="account[name.title]" (change)="changed=true;fileUpload($event,account,name)" *ngIf="name.title=='status'" [disabled]="account.edit">
                                                <!-- <option value="Closed">Closed </option>
                                                <option value="Under follow up">Under follow up</option>
                                                <option value="Undertaking Obtained">Undertaking Obtained</option> -->
                                                <option value="Exempted">Exempted</option>
                                                <option value="Closed">Closed</option>
                                                <option value="Marked Freeze">Marked Freeze</option>
                                                <option value="Notice given">Notice given</option>
                                                <option value="Miscellaneous">Miscellaneous</option>
                                            </select>
                                            <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel" [name]="name.title" [(ngModel)]="account[name.title]" (change)="changed=true;fileUpload($event,account,name)" *ngIf="name.title=='dataUpdated'" [disabled]="account.edit">
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                            </select>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{name.title=="createdOn"?(account[name.title] | date : 'dd-MM-yyyy'):account[name.title]}}
                                        </ng-template>
                                    </p-cellEditor>
                                    <ng-container>
                                        <div class="p-field p-col m-0" *ngIf="name.title=='action' && submitted==false">
                                            <i class="pi pi-trash text-danger" (click)="!submitted && delete(ri)"></i>
                                        </div>     
                                        <!-- <div class="p-field p-col m-0" *ngIf="name.title=='action' && account.edit==true">
                                            <td>
                                                <button pButton pRipple type="button" (click)="editUnClicked(account)" icon="pi pi-times-circle" class="p-button-rounded p-button-text" text-align="center"></button>
                                            </td>
                                        </div>                                         -->
                                    </ng-container>
                                </td>
                        </ng-container>    
                        </tr>
                        <tr>
                            <ng-container *ngIf="account.edit==false && account.newRecord==null" >
                                <td pEditableColumn *ngFor="let name of tableNames"  [ngClass]="{'disabled':(!account.edit)}" [ngStyle] = "{'background-color': account.edit==false  ? '#dee2e6' :'#fff' }">
                                    <ng-container>
                                        {{ name.title=="createdOn"?(account[name.title] | date : 'dd-MM-yyyy'):account[name.title]}}
                                    </ng-container>
                                    <!-- <div class="p-field p-col m-0" *ngIf="name.title=='action'">
                                        <button pButton pRipple type="button" (click)="editClicked(account)" icon="pi pi-pencil" class="p-button-rounded p-button-text" text-align="center"></button>
                                    </div> -->
                                </td>     
                            </ng-container>
                        </tr>
                        
                    </ng-template>
                </p-table>
                </div>
            </form>
           
        </div>
        
    </p-tabView>
</div>
<div style="margin-top: 1%;text-align: center;">

    <button pButton icon="pi"  label="Submit" (click)="submit()" [disabled]="submitted==true && editMode==false"  style="border: none;background: #a20a3a;color: white;" class="p-button-primary mr-2"></button>
</div>


<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>