<div class="payment-modal">
    <div class="modal-header">
      <p class="font-bold text-2xl" id="modal-basic-title">Add Payment Terms</p>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row mt-3">
        <div class="col-12">
          <form [formGroup]="paymentForm">
            <div class="row">
                <div class="col-6">
                    <label for="">Supplier Name<span class="text-danger">*</span></label>
                    <select class="form-select" aria-label="Default select example" pInputText formControlName="supplierName">
                      <option selected disabled value="">Select Supplier Name</option>
                      <option *ngFor="let supplierName of supplierNames" [value]="supplierName">{{supplierName}}</option>
                  </select>
                    <div app-errors class="error-msg" [control]="f.supplierName"  label="Supplier Name"></div>
                  </div>
              <div class="col-6">
                <label for="">Pre Payments<span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="prePayments" pInputText>
                <div app-errors class="error-msg" [control]="f.prePayments"  label="Pre Payments"></div>
              </div>
              <div class="col-6 mt-2">
                <label for="">Post Payments<span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="postPayments" pInputText>
                <div app-errors class="error-msg" [control]="f.postPayments"  label="Post Payments"></div>
              </div>
              <div class="col-6 mt-2">
                <label for="">Credit Periods<span class="text-danger">*</span></label>
                <select class="form-select" aria-label="Default select example" formControlName="creditPeriods" pInputText>
                <option selected disabled value="">Select Credit Period</option>
                <option *ngFor="let creditPeriod of creditPeriods" [value]="creditPeriod">{{creditPeriod}}</option>
                </select>
                <div app-errors class="error-msg" [control]="f.creditPeriods"  label="Credit Periods"></div>
              </div>
              <div class="col-6 mt-2">
                <label for="">Active<span class="text-danger">*</span></label>
                <input class="form-control" formControlName="active" pInputText>
                <div app-errors class="error-msg" [control]="f.active"  label="Active"></div>
              </div>
            </div>
            <div class="text-center buttons my-3 mt-5">
              <button class="btn save" [disabled]="isView" (click)="close()">CANCEL</button>
              <button class="btn next mx-3" [disabled]="isView" (click)="submit()">ADD Payment Terms</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  