.Sectorname.Parameter, .Sectorname.Recovery {
    width: 335px;
}

.p-datatable .p-datatable-tbody > tr.blank > td {
    background-color: #A20A3A !important;
    color: transparent !important;
}

th.headers {
    width: 235px;
    text-align: center;
}