<br><br><br><br><br><br><br><br><br><br><br><br>
<!-- <h4 class="text-center">You're Logged Out</h4>
<h5 class="text-center text-primary">Please Login To SSO</h5> -->
<h4 class="text-center">Your session has Expired</h4>
<h5 class="text-center text-primary">Please Go To SSO</h5>
<div   style="text-align: center">
    <button pButton icon="pi"  label="Click Here"  (click)="goto()"  type="submit"   style="border: none;background: #a20a3a;color: white;" class="p-button-primary mr-2"></button>
</div>

