/* You can add global styles to this file, and also import other style files */

@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeflex/primeflex.css";
@import "~primeicons/primeicons.css";
@import "./variables.scss";
.pnbHeader {
    background-color: $pnbColor;
    // border-bottom: 15px solid $pnbYellow;
    height: 60px;
}

.error-msg{
    color: #A20A3A;
    font-size: 13px;
    margin-top: 5px;
}
.required{color:#A20A3A;}
.SectionScroller{
    overflow-x: scroll;
}
.p-accordion p-accordiontab:first-child .p-accordion-header .p-accordion-header-link {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.p-accordion p-accordiontab .p-accordion-header .p-accordion-header-link {
    border-radius: 0;
}
.p-accordion .p-accordion-header .p-accordion-header-link {
    // padding: 1rem;
    border: 1px solid #dee2e6;
    color: #495057;
    background:aliceblue;
    font-weight: 600;
    border-radius: 3px;
    transition: box-shadow 0.2s;
}
.text-right {
    text-align: right !important;
}

.text-red {
    color: $pnbColor !important;
}

.float-left {
    float: left !important;
}

.p-4 {
    padding: 0.75rem 1.5rem !important;
}

.text-center {
    text-align: center !important;
}

.loginContainer {
    display: table;
    width: 100%;
    height: calc(100vh - 95px);
}

.loginBlock {
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
}

.p-button-pnb {
    background: $pnbColor !important;
    border: 1px solid $pnbColor !important;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:last-child,
.p-dialog .p-dialog-header {
    background: $pnbColor !important;
    color: #fff;
}

.p-dialog .p-dialog-footer {
    text-align: center !important;
}

// .p-button:enabled:hover {
//     background: $pnbColor;
//     color: #ffffff;
//     border-color: $pnbColor;
//     outline: none;
// }
.btn-lg {
    width: 100%;
}

th {
    background: #a20a3a !important;
    color: #fff !important;
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody>tr>td {
    border-width: 1px;
    color: #000000e0;
    border: 1px solid #888888;
    background-color: #0000000f;
    text-align: right;
}

.bg-white {
    background: #fff !important;
}

.p-editable-column // .p-datatable-tbody>tr>td:empty
{
    background: #fff;
}

.p-datatable .p-datatable-tfoot>tr>td {
    border: 1px solid #888888;
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody>tr>td>p-celleditor {
    color: black;
    // font-weight: 500;
}

.float-right {
    float: right;
}

.p-float-label input:focus~label,
.p-float-label input.p-filled~label,
.p-float-label textarea:focus~label,
.p-float-label textarea.p-filled~label,
.p-float-label .p-inputwrapper-focus~label,
.p-float-label .p-inputwrapper-filled~label {
    top: -0.5rem;
    font-size: 12px;
    left: 0.25rem;
}

.pnbSubHeader {
    height: 20px;
    // color: #fff;
    text-align: center;
    background-color: $pnbYellow;
}

.p-field {
    margin-bottom: 1.5rem;
}

.content-section {
    background-color: #fff;
}

.content-section {
    margin: 1rem;
    padding: 1rem;
}

.f-right {
    float: right;
}


body {
    background-color: #dee2e6;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
}

.p-datatable table {
    table-layout: auto !important;
}

.p-datatable .p-datatable-thead>tr>th,
.p-datatable .p-datatable-tbody>tr>td {
    padding: 0.5rem 1rem !important;
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody>tr>td {
    font-size: 0.85rem;
}

.text-sm {
    font-size: smaller;
}

.text-1em {
    font-size: 1rem !important;
}

.text-bold {
    font-weight: 600;
}

.content-section {
    margin: 1rem;
    padding: 0.5rem;
}

.annex.p-datatable .p-datatable-thead>tr>th {
    text-align: center !important;
}

.p-datatable.p-datatable-gridlines .p-datatable-tfoot>tr>td,
.p-datatable .p-datatable-thead>tr>th,
.p-datatable .p-datatable-tbody>tr>td {
    padding: 0.25rem !important;
}

.text-center {
    text-align: center !important;
}

.annex {
    input {
        max-width: 70px;
        height: 30px;
    }
}

.p-datatable .p-datatable-tbody>tr>td {
    padding: 0 0.25rem !important;
    border-width: 1px;
    color: #000000e0;
    border: 1px solid #888888;
}

select {
    -webkit-appearance: auto !important;
    -moz-appearance: auto !important;
    appearance: auto !important;
}

.stress {
    .p-datatable .p-datatable-thead>tr>th {
        border: 1px solid #ffffff;
        min-width: 150px;
        text-align: center;
    }
    .p-inputtext {
        width: 100px;
        padding: 0.25rem 0.5rem;
    }
    .p-datatable .p-datatable-tbody>tr.disabled,
    .p-datatable .p-datatable-tbody>tr>td.disabled {
        background-color: lightgray;
    }
}

.ease {
    .p-datatable .p-datatable-thead>tr>th {
        min-width: 260px;
        text-align: left;
    }
}

.text-danger {
    color: $pnbColor;
}

.stressv {
    .p-inputtext {
        width: 100px;
        padding: 0.25rem 0.5rem;
    }
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
}

.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.pt-2 {
    padding-top: 0.5rem !important;
}

.pb-2 {
    padding-bottom: 0.5rem !important;
}

.pl-2 {
    padding-left: 0.5rem !important;
}

.pr-2 {
    padding-right: 0.5rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.ml-2 {
    margin-left: 0.5rem !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.table-auto {
    table-layout: auto !important;
}

p-dropdown.ng-touched.ng-invalid {
    .p-dropdown.p-component {
        border: 1px solid $pnbColor;
    }
}

p-calendar.ng-touched.ng-invalid {
    // border: 1px solid $pnbColor;
    .p-inputtext {
        border: 1px solid $pnbColor;
        width: 100px;
    }
}
.p-inputtext {
    margin: 0;
    width: 100px;
}

.p-inputtext.ng-invalid.ng-touched,
.p-inputtext.ng-invalid.ng-dirty {
    border: 1px solid $pnbColor;
}

.userForm {
    width: 75%;
    margin: 0 auto;
    padding: 2%;
    padding-top: 35px !important;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background: #fff;
}

.p-card {
    box-shadow: 0px 0px 5px #e0e0e0;
    border: 2px solid #e0e0e0;
}

.cursor-pointer:focus {
    outline: none;
}

.cursor-pointer {
    cursor: pointer;
}

p-card+h2 {
    font-weight: 400;
    font-size: 1.25rem;
}

p-card+h2:focus {
    outline: none;
}

.flex {
    display: flex;
}

.jutify-space {
    justify-content: space-between;
}

.p-splitbutton .p-menu {
    left: -40px !important;
}

// .p-tabview .p-tabview-panels {
//     margin-top: 0px;
    
//     overflow-x: hidden;
// }
.scroller{
    min-height: calc(100vh - 300px);

    overflow-x: scroll;
}

.p-datepicker table td {
    padding: 0 !important;
}

.userDrop {
    position: absolute;
    right: 10px;
    top: 17.5px;
    color: #ffffff;
    a {
        color: #ffffff;
        text-decoration: none;
    }
    .p-button,
    .p-button:hover,
    .p-button:active,
    .p-button:focus {
        border: none !important;
        background: none !important;
        outline: none;
        box-shadow: none;
    }
}

.p-card .p-card-content {
    text-align: center;
    padding: 0;
    img {
        max-width: 100%;
        height: 100px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 600px) {
    .userForm {
        width: 100%;
    }
}

.p-datatable .p-datatable-tbody>tr.blank>td {
    background-color: #a20a3a !important;
    color: transparent !important;
    pointer-events: none;
}

.stressv.p-datatable .p-datatable-thead>tr>th {
    text-align: center;
}
// .add{
//     position: -webkit-sticky;
// position: sticky;
// }

.p-datatable.p-datatable-gridlines .p-datatable-tfoot>tr>td.sum {
    text-align: right;
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody>tr>td.text-left {
    text-align: left;
}

//.p-tabview .p-tabview-panels {
    // min-height: calc(100vh - 300px);
    // padding-top: 17px;
    
//}

.bg-success {
    background-color: #28a745!important;
}

.bg-warning {
    background-color: #ffc107!important;
}

.bg-danger {
    background-color: #dc3545!important;
}

.m-10 {
    margin: 10px;
}

.br-2 {
    border-radius: 3px;
}

.text-white {
    color: white;
}
.submited-report .p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td{background:#ccc;}


.top-20.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td, .top-20.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
    text-align: left;
    padding: 0 8px !important;
    line-height: 34px;
}

.top-20.p-datatable.p-datatable-gridlines .p-datatable-tfoot > tr > td.sum{text-align:left;}
.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td.editable{background:#fff;}

.search-form{
    .p-dropdown .p-dropdown-label{width:180px}
}

.no-authorization{color:#A20A3A; margin:150px 0; text-align:center;}

.setting{
    padding-right: 304px;
    font-size: 25px;
}
.input{
    height: 33px;
    width: 235px;
    // border-radius: 4px;
    border: #bfb0a4;
color: A20A3A
}
.note{
    padding: 0%;
    margin: auto;
    text-align: center;
}
.comments{
        align-items: center;
    }
    .comments{display:block; padding:10px;
        margin:10px auto;
        width:500px;
        border-radius:6px;;
        border:1px solid #ccc; height:150px;
    }
    .amount{
        text-align: left;
    }
    .searchButton{
    margin-top: 10px;
    padding-left: 10px;
    }
    .search{
        width: 10px;
    }
   
    .stress .p-inputtext {
        width: 250px;
        padding: 0.25rem 0.5rem;
    }

    .btn-report{background: #A20A3A;
        border: 1px solid #A20A3A; color:#fff; display:inline-block; margin:0 2px; padding:5px 20px;
    }
    
    .pageFooter {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0 !important;
    }
    
    .page-link {
        background-color: inherit !important;
        border: 0px;
        margin-left: 0 !important;
        cursor: pointer;
    }
    .page-item {
        list-style: none;
        margin: 0 10px;
    }
    
    .page-link.active {
        background-color: $pnbColor !important;
        border: 1px solid $pnbColor;
        color: #fff !important;
        border-radius: 50%;
        padding: 8px 14px;
    }
    
    .page-item.disabled {
        cursor: not-allowed;
    }    