<div class="company-contract"></div>
<div class="row p-3">
    <div class="col-12 ">
        <div class="contactheading">
            <h2 class="font-bold text-2xl">Company Contracts</h2>
            <button class="btn cancel-btn text-sm"
                [routerLink]="['/customer/create-contract']"><i class="icon-add icons-position"
                    aria-hidden="true"></i><span>Add Contract</span></button>
        </div>
        <div class="page-content mt-3">
            <div class="showList mt-5">
                <p-table [columns]="headers" class="table list-table " [value]="companyContracts"
                class="p-table mt-5" responsiveLayout="scroll" [resizableColumns]="true"  [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50]" >
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <ng-container *ngFor="let col of columns">
                            <th class="cursor-pointer " pSortableColumn={{col.name}}>{{col.header}}<img
                                    *ngIf="col.sort" class="topbottom"
                                    src="../../assets/images/arrow_drop_up-24px@2x.png">
                            </th>
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contracts>
                    <tr style="height: 56px;color: gray;">
                        <td>{{contracts.supplier}}</td>
                        <td>{{contracts.contactNumber}}</td>
                        <td>{{contracts.startDate}}</td>
                        <td>{{contracts.expirationDate}}</td>
                        <td>{{contracts.note}}</td>
                        <td>{{contracts.extendable}}</td>
                        <td>
                            <i class="icon-download icon positions"></i>
                            <!-- <img src="../../../assets/images/edit-icon.png" [routerLink]="['/vendorcontract/createcontract']"> -->
                            <i class="icon-edit icon positions" [routerLink]="['/vendorcontract/createcontract']"></i>
                            <!-- <img src="../../../assets/images/delet-icon.png" style="cursor: pointer;"/> -->
                            <i class="icon-delete icon positions"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            </div>
        </div>
    </div>
</div>