<div class="mt-2 text-center">
    <table style="margin: 0 auto;">
        <tr>
            <td>
                <label for="year">Year</label>
            </td>
            <td>
                <label for="quarter">Quarter</label>
            </td>
        </tr>
        <tr>
            <td>
                <p-dropdown (onChange)="submit()" [options]="years" [(ngModel)]="finYear" optionLabel="title" placeholder="Select financial year"></p-dropdown>
            </td>
            <td>
                <p-dropdown (onChange)="submit()"  [options]="quarters" [(ngModel)]="quarter" optionLabel="title" placeholder="Select a Quarter"></p-dropdown>
            </td>
            <!-- <td>
                <button type="button" pButton label="Submit" class="p-button-danger ml-2" (click)="submit()"></button>
            </td> -->
        </tr>
    </table>
</div>
<div style="margin-left: 1%;margin-right: 1%;">
    <app-navigation></app-navigation>
    <br/>
    <router-outlet></router-outlet>
</div>