.buttons{
    border: 1px solid gray;
}
select{
    width: 100%;
    zoom: 1.3;
}

.ease-header {
    margin: 3% auto 7px;
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
}