<div class="row p-3">
    <div class="col-12 ">
        <div class="contactheading">
            <h2 class="font-sold text-2xl">Service Catalogue</h2>
            <button class="btn cancel-btn text-sm" style="border-radius: inherit;" (click)="addCatalogueModal()"><i
                    class="icon-add icon icons-position"  aria-hidden="true"></i><span>Add Service</span>
                Catalogue</button>
        </div>
        <div class="page-content mt-3">
            <div class="showList mt-5">


                <p-table class="table catalogue-table" [columns]="headers"[value]="catalogues"
                class="p-table mt-5" responsiveLayout="scroll" [resizableColumns]="true"  [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50]" >
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <ng-container *ngFor="let col of columns">
                            <th class="cursor-pointer " pSortableColumn={{col.name}}>{{col.header}}<img
                                    *ngIf="col.sort" class="topbottom"
                                    src="../../assets/images/arrow_drop_up-24px@2x.png">
                            </th>
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-catalogue>
                    <tr style="height: 56px;">
                        <td>{{catalogue.item}}</td>
                        <td>{{catalogue.name}}</td>
                        <td>{{catalogue.price}}</td>
                        <td>{{catalogue.unit}}</td>
                        <td>{{catalogue.inactive}}</td>
                        <td>{{catalogue.category}}</td>
                        <td>{{catalogue.supplier}}</td>
                        <td>{{catalogue.portCentre}}</td>
                        <td>{{catalogue.itemType}}</td>
                        <td>
                            <i class="icon-view icon positions"></i>
                                <i class="icon-edit icon positions "></i>
                                <i class="icon-delete icon positions "></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            </div>
        </div>
    </div>
</div>