<p-toast position="top-right">
</p-toast>

<div class="p-grid"></div>
<div class="p-col">
    <h3 style="text-align: center;padding-top: 12px;"  class="m-0 pt-1" >{{heading}}</h3>
</div>
<div class="card">
    <p-tabView>
    <div class="mb-2 pt-2 text-center">
            <form [formGroup]="countryForm" style="text-align:center;display: inline-flex;column-gap: 30px;">
             
                        <!-- <p-dropdown formControlName="countryName" 
                        [options]="countryDropDown"   placeholder="Select Country*"  (onChange)="getRecords($event)"></p-dropdown> -->
                        <p-dropdown formControlName="countryName" [options]="branchName"
                        placeholder="Select Branch*" (onChange)="getRecords($event)" ></p-dropdown>
                        <p-dropdown formControlName="financialYear" [options]="dropdownYears" placeholder="Select financial year*" (onChange)="getRecords($event)"></p-dropdown>
                        <p-dropdown formControlName="quarterEndingDate"  [options]="quarterEndingDate" placeholder="Select a Quarter*" (onChange)="getRecords($event)" ></p-dropdown>
             </form>
    </div>
    <div class="p-col text-right"  *ngIf="isView" >
        <button pButton type="button" icon="pi pi-plus" iconPos="right" class="mr-2 " label="Add" (click)="add()"></button>
    </div>
  <div  *ngIf="isView">        
    <p-table [value]="display"  dataKey="name" editMode="row" class="tableFixed" styleClass="p-datatable-gridlines top-20">
        <ng-template pTemplate="header">
            <tr>
                <ng-container *ngFor="let heading of tableNames">
                <th >
                    {{heading.name}}
                </th>
                </ng-container>
                <th *ngIf="!isChecker && !rejectedFlag">Action</th>
            </tr>
        </ng-template>
       
        <ng-template pTemplate="body" let-account let-ri="rowIndex">

            <tr [pEditableRow]="account">
                <ng-container>

                    <td pEditableColumn *ngFor="let name of tableNames" style="min-width: 200px"
                        [ngClass]="{'disabled':(!name.editable || submitted )}" [ngStyle]="{'background-color': !name.editable   || isSubmitted ? '#dee2e6' :'#fff' }">
                        <ng-container *ngIf="!name.editable || isSubmitted">
                            {{name.title=="createdOn" || name.title=="date"?(account[name.title] |
                                date : 'dd-MM-yyyy'):name.title=="periodFrom"?(account[name.title] |
                                dateRange):name.title=="outstandingDebit" || name.title=="outstandingCredit" || name.title=="amountInvolvedDebit" || name.title=="amountInvolvedCredit"?
                                (account[name.title] | number:'1.2-2' | removeComma):account[name.title]}}
                        </ng-container>
                        <ng-container>
                            {{name.edit}}
                        </ng-container>
                        <p-cellEditor *ngIf="(name.editable) && !isSubmitted">
                            <ng-template pTemplate="input">
                                <input pInputText [required]="name.required"
                                    [(ngModel)]="account[name.title]"  [name]="name.title" [type]="name.inpType" (keypress)="numberOnlyWithDismal($event)" 
                                    (change)="totaladdition(account,name)" [min]="1" style="width:100%" *ngIf="name.title!='exposureCountryCode' && name.title!='countryClassification'"> 
                                <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel" id="vendor" style="width: 180px;height: 40px;" [(ngModel)]="account[name.title]" #vendorselect *ngIf="name.title=='exposureCountryCode'" >
                                        <option *ngFor="let vendor of exposureCountryCode; let i = index" [value]="vendor.value">
                                            {{vendor.value}}
                                        </option>
                                </select>
                                <select class="p-dropdown-label p-inputtext ng-star-inserted selectLabel" id="vendor" style="width: 180px;height: 40px;" [(ngModel)]="account[name.title]" #vendorselect *ngIf="name.title=='countryClassification'" >
                                    <option *ngFor="let vendor of countryClassification; let i = index" [value]="vendor.value">
                                        {{vendor.value}}
                                    </option>
                                </select>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{account[name.title]}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td *ngIf="!isChecker && !rejectedFlag">
                        <i class="pi pi-trash text-danger" (click)="delete(ri)"></i>
                    </td>

                </ng-container>
                </tr>
        </ng-template>
    </p-table>
</div>
</p-tabView>
</div>
<div *ngIf="isChecker">
    <textarea [disabled]="submitted==true" class="comments" [(ngModel)]="comments"
        placeholder="Comment Here..."></textarea>
</div>

<div  style="margin-top: 1%;text-align: center;margin-bottom: 1%;" *ngIf="isView">

    <button pButton icon="pi"  label="Submit"  type="submit" (click)="submit('SUBMITTED')"  style="border: none;background: #a20a3a;color: white;" class="p-button-primary mr-2"></button>
</div>




<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>